<div class=container>
    <div ng-controller="adminCtrl">
        <form>
		<label style="margin-top:200px;margin-bottom: 50px;">Neuen Benutzer eintragen</label><br/>
                <label style="width:120px;">Emailadresse: </label><input type="email" ng-model="email" class="input-medium search-query" placeholder="Email..."> <br/>
                <label style="width:120px;">GID: </label><input type="text" ng-model="gid" class="input-medium search-query" placeholder="GID...">
                <button type="submit" class="btn" ng-click="submitUser()">Submit</button>
                <br/> <br/>
                {{daten.status}} - {{daten.message}}
        </form>
    </div>
</div>