<div id="home" class="row mh-content">

	<div class="col-md-10 col-sm-12 col-xs-12 mh-content" id="map-wrapper">
		<div open-layer></div>
	</div>
	<div class="col-md-3 col-sm-0 col-xs-0 mh-content" id="sidebar-wrapper">
		<div id="sidebar-container" class="mh-content">
			<div id="mapSearch">
				<h3>Search</h3>
				<div>
					<input type="text" placeholder="Address, location, etc..." ng-model="map.search" ng-change="searchOnMap()" />
				</div>
			</div>
			<div id="mapLayerSwitcher"></div>
		</div>
	</div>

</div>