<div class="container">
<span></span>
<span></span>
<span></span>
<span> HIER STEHT EIN BISSCHEN INFO</span> <br/>
<span> HIER STEHT EIN NOCH BISSCHEN INFO</span> <br/>
Hier ist noch ein bisschen Info !!!
<br/><br/>
Und ich heiße <b> info.html </b>
</div>