<div id="login" class="container">

    <div class="bg-layer" blids-login-bg></div>

    <!--- LOGIN BOX ---->
    <div class="login-box-wrapper">
        <div class="login-box">
            <div class="login-form-wrapper form-wrapper" id="loader">
                <div class="loader-icon-wrapper" style="text-align: center; padding-top: 20%;">
                    <p style="line-height: 30px">Loading ...</p>
                </div>
            </div>
            <div class="login-form-wrapper form-wrapper" id="login-box">

                <div class="login-form-header">
                    <h1 translate="start.sign_in">Sign in</h1>
                    <p class="description" translate="start.login_title">BLIDS_the observation system for thunderstorm lightning</p>
                </div>

                <div class="user-notice">{{notice}}</div>

                <form id="login-form" method="POST" ng-submit="frmLogin_submit(auth)">
                    <div class="form-row">
                        <div class="form-row-label"> <label for="frm_username" translate="start.username">Username:</label> </div>
                        <div class="form-row-content">
                            <div class="input-group">
                                <span class="input-group-addon"></span>
                                <input autocomplete="on" autocapitalize="off" autocorrect="off" type="text" class="form-control" placeholder="{{ 'start.username' | translate }}" ng-model="auth.username" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-row-label"><label for="frm_password" translate="password">Password:</label></div>
                        <div class="form-row-content">
                            <div class="input-group">
                                <span class="input-group-addon"></span>
                                <input autocomplete="off" autocapitalize="off" autocorrect="off" type="password" class="form-control" placeholder="{{ 'password' | translate }}" ng-model="auth.password" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-row-content">
                            <div class="half-width fleft text-left">&nbsp;
                                <a href="" ng-click="showPWReset()" translate="start.forgot_password">Forgot your Password?</a>
                            </div>
                            <div class="half-width fleft text-right">
                                <input type="submit" class="btn btn-default btn-primary" value="{{ 'start.login' | translate}}">
                            </div>
                        </div>
                    </div>
                </form>

            </div>

            <!--- RESET PASSWORD BOX---->
            <div class="reset-form-wrapper form-wrapper" id="resetPW-box">
                <div class="login-form-header">
                    <h1 translate="start.forgot_password">Forgot your Password?</h1>
                    <p class="description" translate="start.login_title">BLIDS_the observation system for thunderstorm lightning</p>
                </div>

                <div class="user-notice">{{notice}}</div>
                <form id="reset-login-form" method="POST" ng-submit="resetPW(auth.username)">
                    <div class="form-row">
                        <div class="form-row-label"> <label for="frm_username" translate="start.username">Username:</label> </div>
                        <div class="form-row-content">
                            <div class="input-group">
                                <span class="input-group-addon"></span>
                                <input autocomplete="on" autocapitalize="off" autocorrect="off" type="text" class="form-control" placeholder="{{'start.username' | translate}}" ng-model="auth.username" required>
                            </div>
                        </div>
                    </div> <br/>

                    <div class="form-row">
                        <div class="form-row-content last">
                            <div class="half-width fleft text-left">&nbsp;
                                <a href="" ng-click="showLogin()" translate="start.back_to_login">Back to Login</a>
                            </div>
                            <div class="half-width fleft text-right">
                                <input type="submit" class="btn btn-default btn-primary" value="{{'start.reset_pwd' | translate}}">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>