<div>
    <div ng-controller="LayerCtrl" id="LayerMenu">
        <bsnavmenu template-url="layermenu.html">
            </bslayermenu>
    </div>

    <div id="StatistikWindow">
        <bsnavmenu template-url="statistik.html">
            </bslayermenu>
    </div>

    <div id="map">
        <div id="archivdiv">
            <form name="archivForm" id="archivForm">
                <table style="height:150px;width:100%">
                    <tr>
                        <td></td>
                        <td><b>{{ 'map.archive' | translate }}</b></td>
                    </tr>
                    <tr>
                        <td style="text-align: right">{{ 'map.arcStart' | translate }} &nbsp;</td>
                        <td><input type="text" id="zeitVon" name="inputZeitVon" ng-model="map.zeitVon" ng-trim="false" ng-pattern="/^20[0-3]\d-(0\d|1[0-2])-([0-2]\d|3[01])( ([0-1]\d|2[0-3])(:[0-5]\d){1,2})?$/" required /></td>
                    </tr>
                    <tr>
                        <td style="text-align: right">{{ 'map.arcEnd' | translate }} &nbsp;</td>
                        <td><input type="text" id="zeitBis" name="inputZeitBis" ng-model="map.zeitBis" ng-trim="false" ng-pattern="/^20[0-3]\d-(0\d|1[0-2])-([0-2]\d|3[01])( ([0-1]\d|2[0-3])(:[0-5]\d){1,2})?$/" required /></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button ng-disabled="!archivForm.inputZeitVon.$valid || !archivForm.inputZeitBis.$valid || checkTime()" ng-click="archiveClick()">  {{ 'map.arcLoad' | translate }} </button>
                        </td>
                    </tr>
                    <tr ng-if="archToolTip">
                        <td colspan="2">
                            <div>{{archToolTip}}</div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="5400" data-slider-handle="custom" />
    </div>
    <div id="loaderGif">Please Wait</div>
    <div id="animGif"></div>
</div>