<p ng-message="required" translate="message.field_required">This field is required</p>
<p ng-message="minlength" translate="message.field_short">This field is too short</p>
<p ng-message="maxlength" translate="message.field_long">This field is too long</p>
<p ng-message="email" translate="message.email_required">This needs to be a valid email</p>
<p ng-message="compareTo" translate="message.password_no_match">Password does not match</p>