<div id="register" class="container-fluid">

<div class="row">
	<div class="col-sm-4">
		<div blids-bg-layer></div>
	</div>
</div>
<div class="row">
	<div class="register-box-wrapper col-sm-8">
		<div class="register-box">
			<div class="register-form-wrapper form-wrapper">

				<div class="register-form-header">
					<h1>Register</h1>
					<p class="description">BLIDS_Test the observation system for thunderstorm lightning</p>
				</div>

				<div class="user-notice">{{notice}}</div>

				<form id="register-form" class="container-fluid" method="POST" ng-submit="frmregister_submit(auth)">
					<div class="form-row row">
						<div class="form-row-label"> <label for="frm_username">Username:</label> </div>
						<div class="form-row-content">
							<div class="input-group">
								<span class="input-group-addon"></span>
								<input type="text" class="form-control" placeholder="Username" ng-model="auth.username" required>
							</div>
						</div>
					</div>
					<div class="form-row row">
						<div class="form-row-label"> <label for="frm_username">Email:</label> </div>
						<div class="form-row-content">
							<div class="input-group">
								<span class="input-group-addon"></span>
								<input type="text" class="form-control" placeholder="Email address" ng-model="auth.email" required>
							</div>
						</div>
					</div>
					<div class="form-row row">
						<div class="form-row-label"><label for="frm_password">Password:</label></div>
						<div class="form-row-content">
							<div class="input-group">
								<span class="input-group-addon"></span>
								<input type="password" class="form-control" placeholder="Password" ng-model="auth.password" required>
							</div>
						</div>
					</div>
					<div class="form-row row">
						<div class="form-row-label"><label for="frm_password">Confirm:</label></div>
						<div class="form-row-content">
							<div class="input-group">
								<span class="input-group-addon"></span>
								<input type="password" class="form-control" placeholder="Password" ng-model="auth.confirm" required>
							</div>
						</div>
					</div>
					<div class="form-row row">
						<div class="form-row-content last">
							<div class="half-width fleft text-left">
								<div class="btn-group">
									<button type="button" class="btn btn-default">
										English
									</button>
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
										<span class="caret"></span>
										<span class="sr-only">Toggle Dropdown</span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li><a href="#">English</a></li>
									</ul>
								</div>
							</div>
							<div class="half-width fleft text-right">
								<input type="submit" class="btn btn-default btn-primary" value="Register">
							</div>
						</div>
					</div>
				</form>

			</div>
		</div>
	</div>
</div>
</div>