<div id="changePW" class="container">

    <div class="bg-layer" blids-login-bg></div>


    <div class="login-box-wrapper">
        <div class="login-box">

            <div class="login-form-wrapper form-wrapper" id="changePW-box">

                <div class="login-form-header">
                    <h1 translate="start.change_pwd">Change your Password</h1>
                    <p class="description" translate="start.login_title">BLIDS_the observation system for thunderstorm lightning</p>
                </div>

                <div class="user-notice">{{notice}}</div>

                <form id="changePW-form" name="changePWForm" method="POST" ng-submit="save()">
                    <div class="form-row">
                        <div class="form-row-label"> <label for="frm_password" translate="password">Password: </label> </div>
                        <div class="form-row-content">
                            <div class="input-group">
                                <span class="input-group-addon"></span>
                                <input uib-popover-template="'password-pop.html'" popover-trigger="mouseenter" popover-placement="top" popover-enable="changePWForm.password.$invalid" name="password" class="form-control" autocomplete="off" autocapitalize="off" autocorrect="off" ng-minlength=6
                                    type="password" placeholder="{{'password' | translate}}" ng-model="auth.password" ng-class="{'inputError': changePWForm.password.$invalid}" ng-change="testFunc(changePWForm.password.$error)" required>
                            </div>
                        </div>


                    </div>


                    <div class="form-row">
                        <div class="form-row-label"><label for="frm_retypePassword" translate="start.retype_pwd">Retype Password: </label></div>
                        <div class="form-row-content">
                            <div class="input-group">
                                <span class="input-group-addon"></span>
                                <input uib-popover-template="'retype-pop.html'" popover-trigger="mouseenter" popover-placement="top" popover-enable="changePWForm.retypePassword.$invalid" name="retypePassword" class="form-control" autocomplete="off" autocapitalize="off" autocorrect="off"
                                    ng-minlength=6 type="password" placeholder="{{'password' | translate}}" ng-model="auth.retype" required compare-to="auth.password" ng-class="{'inputError': changePWForm.retypePassword.$invalid}">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-row-content last">
                            <div class="half-width fleft text-left">&nbsp;
                                <a href="" ng-click="cancel()" translate="start.back_login_cancel">Back to Login without changes</a>
                            </div>
                            <div class="half-width fleft text-right">
                                <input type="submit" class="btn btn-default btn-primary" ng-disabled="changePWForm.$invalid" value="{{'start.change_pwd' | translate}}">
                            </div>

                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="password-pop.html">

    <div class="help-block" ng-messages="changePWForm.password.$error" style="color:red">
        <div ng-messages-include="/partials/messages.html"></div>
    </div>

</script>

<script type="text/ng-template" id="retype-pop.html">

    <div class="help-block" ng-messages="changePWForm.retypePassword.$error" style="color:red">
        <div ng-messages-include="/partials/messages.html"></div>
    </div>

</script>