<div id="login" class="container">

	<div class="bg-layer" blids-login-bg></div>

	<div class="login-box-wrapper">
		<div class="login-box">
			<div class="login-form-wrapper form-wrapper">

				<div class="login-form-header">
					<h1>Sign in</h1>
					<p class="description">BLIDS_Test the observation system for thunderstorm lightning</p>
				</div>

				<div class="user-notice">{{notice}}</div>

				<form id="login-form" method="POST" ng-submit="frmLogin_submit()">
					<div class="form-row">
						<div class="form-row-label"> <label for="frm_username">Username:</label> </div>
						<div class="form-row-content">
							<div class="input-group">
								<span class="input-group-addon"></span>
								<input type="text" class="form-control" placeholder="Username" ng-model="auth.username">
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="form-row-label"><label for="frm_password">Password:</label></div>
						<div class="form-row-content">
							<div class="input-group">
								<span class="input-group-addon"></span>
								<input type="password" class="form-control" placeholder="Password" ng-model="auth.password">
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="form-row-content last">
							<div class="half-width fleft text-left">
								<div class="btn-group">
									<button type="button" class="btn btn-default">
										English
									</button>
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
										<span class="caret"></span>
										<span class="sr-only">Toggle Dropdown</span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li><a href="#">English</a></li>
									</ul>
								</div>
							</div>
							<div class="half-width fleft text-right">
								<input type="submit" class="btn btn-default btn-primary" value="Log In">
							</div>
						</div>
					</div>
				</form>

			</div>
		</div>
	</div>

</div>