<div class="container-fluid">

	<div class="row">

		<div class="map-container col-xs-12 col-md-9">
			<div id="{{mapLayerId}}" class="map" ng-model="$parent.mapLayer"></div>
		</div>

		<div class="sidebar-container col-xs-6 col-md-3">
			<div class="sidebar-wrapper">
				<div class="sidebar">
					<div class="label-selector" ng-repeat="item in layers">
						<input type="radio" id="lbl-{{item.value}}"
							name="layerGroup"
							ng-model="$parent.selectedLayer"
							ng-change="changeLayer(selectedLayer)"
							value="{{item.value}}">
						<label for="lbl-{{item.value}}">{{item.label}}</label>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>