<!--/*Modal Add User*/-->
<!--/*Berechtigungen für Alarm, Gebiet etc.*/-->
<!--<script type="text/ng-template" id="AddUserDialog.html">-->
<div class="modal-header">
    <button type="button" class="close" ng-click="AddUserCtrl.modalData.cancel()">&times;</button>
    <h4 class="modal-title">{{AddUserCtrl.modalData.modalTitle}}</h4>
</div>
<div class="modal-body">
    <!--<b><p>{{modalDescription}}</p></b>-->
    <form name="EingabeAddKunde">
        <table>
            <tr>
                <td style="height:400px;width:330px; vertical-align:top">
                    <table>
                        <thead>
                            <tr>
                                <th colspan="2"><u>User Data</u></th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--   <tr>
                                <td><label for="title">Title &emsp;</label></td>
                                <td><input type="text" class="form-admin" placeholder="Title..." id="title" ng-model="AddUserCtrl.formAddUsers.title" /> &emsp;
                                </td>
                            </tr>   -->
                            <tr>
                                <td><label for="firstname">{{'admin.firstname' | translate}} &emsp;</label></td>
                                <td><input type="text" class="form-admin" placeholder="{{'admin.firstname' | translate}}..." id="firstname" ng-model="AddUserCtrl.formAddUsers.firstname" /> &emsp;
                                </td>
                            </tr>
                            <tr>
                                <td><label for="lastname">{{'admin.lastname' | translate}} *&emsp;</label></td>
                                <td><input type="text" class="form-admin" placeholder="{{'admin.lastname' | translate}}..." id="lastname" ng-model="AddUserCtrl.formAddUsers.lastname" required/> &emsp;
                                </td>
                            </tr>
                            <tr>
                                <td><label for="company">{{'admin.company' | translate}} *&emsp;</label></td>
                                <td><input type="text" class="form-admin" placeholder="{{'admin.company' | translate}}..." id="company" ng-model="AddUserCtrl.formAddUsers.company" required/> &emsp;
                                </td>
                            </tr>
                            <tr>
                                <td><label for="division">{{'admin.division' | translate}} &emsp;</label></td>
                                <td><input type="text" class="form-admin" placeholder="{{'admin.division' | translate}}..." id="division" ng-model="AddUserCtrl.formAddUsers.division" /> &emsp;
                                </td>
                            </tr>
                            <tr>
                                <td><label for="streetaddress">{{'admin.streetaddress' | translate}} &emsp;</label></td>
                                <td><input type="text" class="form-admin" placeholder="{{'admin.streetaddress' | translate}}..." id="streetaddress" ng-model="AddUserCtrl.formAddUsers.streetaddress" /> &emsp;
                                </td>
                            </tr>
                            <tr>
                                <td><label for="zip">{{'admin.zip' | translate}} &emsp;</label></td>
                                <td><input type="text" size="7" class="form-admin" placeholder="{{'admin.zip' | translate}}..." id="zip" ng-model="AddUserCtrl.formAddUsers.zip" /> &emsp;
                                </td>
                            </tr>
                            <tr>
                                <td><label for="city">{{'admin.city' | translate}} &emsp;</label></td>
                                <td><input type="text" class="form-admin" placeholder="{{'admin.city' | translate}}..." id="city" ng-model="AddUserCtrl.formAddUsers.city" /> &emsp;
                                </td>
                            </tr>
                            <!--                        <tr>
                            <td><label for="umsatzsteuernr">Trade ID &emsp;</label></td>
                            <td><input type="text"
                                       class="form-admin"
                                       placeholder="Trade ID..."
                                       id="umsatzsteuernr"
                                       ng-model="AddUserCtrl.formAddUsers.umsatzsteuernr"/>
                                &emsp;
                            </td>
                        </tr>-->
                            <tr>
                                <td><label for="email">{{'admin.email' | translate}} *&emsp;</label></td>
                                <td><input type="email" class="form-admin" placeholder="{{'admin.email' | translate}}..." id="email" ng-pattern="/^[A-Z0-9a-z._%+-]+@[A-Z0-9a-z.-]+\.[A-Za-z]{2,}$/" ng-model="AddUserCtrl.formAddUsers.benutzername" ng-change="AddUserCtrl.modalData.checkEmail()"
                                        required/> &emsp;
                                </td>
                            </tr>
                            <tr>
                                <td><label for="phonenumber">{{'admin.phone' | translate}} &emsp;</label></td>
                                <td><input type="text" class="form-admin" placeholder="{{'admin.phone' | translate}}..." id="phonenumber" ng-model="AddUserCtrl.formAddUsers.phonenumber" /> &emsp;
                                </td>
                            </tr>
                            <tr>
                                <td><label for="annotation">{{'admin.annotation' | translate}} &emsp;</label></td>
                                <td><input type="text" class="form-admin" placeholder="{{'admin.annotation' | translate}}..." id="annotation" ng-model="AddUserCtrl.formAddUsers.annotation" /> &emsp;
                                </td>
                            </tr>
                            <tr>
                                <td><label for="startdatum">{{'admin.begindate' | translate}} *&emsp;</label></td>
                                <td><input type="date" class="form-admin" placeholder="YYYY-MM-DD" id="startdatum" ng-model="AddUserCtrl.formAddUsers.startdatum" ng-change="AddUserCtrl.modalData.checkDatumVorDatum()" required/>
                                    <!--min="{{AddUserCtrl.formAddUsers.PARENTstartdatum}}"-->
                                    &emsp;
                                </td>
                            </tr>
                            <tr>
                                <td><label for="stopdatum">{{'admin.enddate' | translate}} *&emsp;</label></td>
                                <td><input type="date" class="form-admin" placeholder="YYYY-MM-DD" id="stopdatum" ng-model="AddUserCtrl.formAddUsers.stopdatum" ng-change="AddUserCtrl.modalData.checkDatumVorDatum()" required/>
                                    <!--max="{{AddUserCtrl.formAddUsers.PARENTstopdatum}}"-->
                                    &emsp;
                                </td>
                            </tr>
                            <tr>
                                <td>&emsp;</td>
                                <td>
                                    <span ng-show="AddUserCtrl.formAddUsers.datumVor" style="color:red;">{{'message.end_before_begin' | translate}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="benutzername">{{'admin.login' | translate}} &emsp;</label></td>
                                <td><input type="text" class="form-admin" placeholder="{{'admin.login' | translate}}..." id="benutzername" ng-pattern="/^[A-Z0-9a-z._%+-]+@[A-Z0-9a-z.-]+\.[A-Za-z]{2,}$/" ng-model="AddUserCtrl.formAddUsers.login" readonly/>                                    &emsp;
                                </td>
                            </tr>
                            <tr>
                                <td><label for="password1">{{'password' | translate}} *&emsp;</label></td>
                                <td><input type="password" class="form-admin" placeholder="{{'password' | translate}}..." id="password1" ng-model="AddUserCtrl.formAddUsers.password1" ng-keyup="AddUserCtrl.modalData.checkPW()" ng-pattern="/[\S]{5,}/" required/>                                    &emsp;
                                </td>
                            </tr>
                            <tr>
                                <td><label for="password2">{{'admin.password_confirm' | translate}}* &nbsp;</label></td>
                                <td><input type="password" class="form-admin" placeholder="{{'admin.password_confirm' | translate}}..." id="password2" ng-model="AddUserCtrl.formAddUsers.password2" ng-keyup="AddUserCtrl.modalData.checkPW()" ng-pattern="/[\S]{5,}/"
                                        required/> &emsp;
                                </td>
                            </tr>
                            <tr>
                                <td>&emsp;</td>
                                <td>
                                    <span ng-show="AddUserCtrl.formAddUsers.pwsok" style="color:green; font-weight:bold;">{{'message.password_match' | translate}}</span>
                                    <span ng-show="AddUserCtrl.formAddUsers.pwsNok" style="color:red;">{{'message.password_no_match' | translate}}</span>
                                </td>
                            </tr>
                            <!--    //                                <tr>
//                                <td><label for="home_gruppe">Group: &emsp;</td>
//                                <td>
//                                    <select class="form-admin-select"
//                                            id="home_gruppe"
//                                            ng-options="option.name for option in AddUserCtrl.formAddUsers.home_gruppen track by option.name"
//                                            ng-model="AddUserCtrl.formAddUsers.home_gruppe">
//                                    </select>
//                                </td>
//                            </tr>                                                        -->
                        </tbody>
                    </table>
                </td>

                <td style="height:400px;width:370px; vertical-align:top">
                    <p>
                        <input type="checkbox" class="form-admin" ng-model="AddUserCtrl.formAddUsers.ServiceDazu" id="MitServices" ng-change="AddUserCtrl.modalData.ServiceAbwaehlen()" ng-disabled="{{(['C', 'A'].indexOf(AddUserCtrl.formAddUsers.perm_gruppen)>-1 || ['A'].indexOf(AddUserCtrl.formAddUsers.perm_alarm)>-1) ? false:true}}"
                        />
                        <label for="MitServices">{{'admin.add_user_new_group' | translate}} </label>
                    </p>
                    <table ng-show="AddUserCtrl.formAddUsers.ServiceDazu">
                        <tbody>
                            <!--                        <tr>
                            <td><label for="gruppe">Group &emsp;</label></td>
                            <td>
                                <select class="form-admin-select"
                                        id="home_gruppe"
                                        ng-options="option.id as option.name for option in AddUserCtrl.formAddUsers.home_gruppen"
                                        ng-model="AddUserCtrl.formAddUsers.home_gruppe">
                                </select>
                            </td>
                        </tr>-->
                            <tr>
                                <td><label for="geosuche">{{'admin.find_address' | translate}} &emsp;</label></td>
                                <td>
                                    <input type="text" class="form-admin" id="geosuche" typeahead-on-select="AddUserCtrl.modalData.selectLocation($item)" typeahead-min-length="5" typeahead-no-results="AddUserCtrl.formAddUsers.noResults" typeahead-loading="AddUserCtrl.formAddUsers.loadingLocations"
                                        uib-typeahead="item as item.formatted_address for item in AddUserCtrl.modalData.getLocation($viewValue)" placeholder="{{'admin.type_location' | translate}}..." ng-model="AddUserCtrl.formAddUsers.LocationSelect" class="form-control">
                                    <i ng-show="AddUserCtrl.formAddUsers.loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                    <div ng-show="AddUserCtrl.formAddUsers.noResults">
                                        <i class="glyphicon glyphicon-remove"></i> {{'admin.no_results' | translate}}
                                    </div>
                                    <!--                                <button  class="btn btn-default" 
                                         type="button"
                                         ng-disabled="(AddUserCtrl.formAddUsers.streetaddress || AddUserCtrl.formAddUsers.zip || AddUserCtrl.formAddUsers.city) ? false:true"
                                         ng-click="AddUserCtrl.modalData.takeAddress()"
                                         style="width:4em">
                                    ADD
                                </button>-->
                                </td>
                            </tr>
                            <tr>
                                <td><label for="laenge">{{'admin.longitude' | translate}} &emsp;</label></td>
                                <td><input type="text" class="form-admin" size="10" placeholder="{{'admin.longitude' | translate}}..." pattern="-?\d+(\.\d+)?" id="laenge" ng-blur="AddUserCtrl.modalData.prevEingabe()" ng-model="AddUserCtrl.formAddUsers.laenge"
                                        ng-disabled="AddUserCtrl.formAddUsers.latlonlock" ng-required="AddUserCtrl.formAddUsers.AlarmDazu || AddUserCtrl.formAddUsers.AktuellDazu" />
                                </td>
                            </tr>
                            <tr>
                                <td><label for="breite">{{'admin.latitude' | translate}} &emsp;</label></td>
                                <td><input type="text" class="form-admin" size="10" placeholder="{{'admin.latitude' | translate}}..." pattern="-?\d+(\.\d+)?" id="breite" ng-blur="AddUserCtrl.modalData.prevEingabe()" ng-model="AddUserCtrl.formAddUsers.breite"
                                        ng-disabled="AddUserCtrl.formAddUsers.latlonlock" ng-required="AddUserCtrl.formAddUsers.AlarmDazu || AddUserCtrl.formAddUsers.AktuellDazu" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <p ng-show="AddUserCtrl.formAddUsers.ServiceDazu">
                        <input type="checkbox" class="form-admin disabled" id="MitAktuell" ng-model="AddUserCtrl.formAddUsers.AktuellDazu" ng-disabled="true || {{['C', 'A'].indexOf(AddUserCtrl.formAddUsers.perm_gruppen)>-1 ? false:true}}" />
                        <label> {{'blidslive' | translate}}  </label>
                    </p>
                    <table ng-show="AddUserCtrl.formAddUsers.AktuellDazu" style="margin-left: 1em;">
                        <tbody>
                            <tr>
                                <td colspan="2">
                                    <label for="fenstergroesse">{{'admin.window' | translate}}  </label>
                                    <select id="fenstergroesse" class="form-admin-select" style="width:20em;" ng-options="option.name for option in AddUserCtrl.formAddUsers.Fenstergroessen track by option.value" ng-change="AddUserCtrl.modalData.prevEingabe()" ng-model="AddUserCtrl.formAddUsers.selectedFenstergroesse">
                                </select>
                                </td>
                            </tr>
                            <!--                        <tr>
                            <td colspan="2">
                                <label for="zeitzone">Time Zone &emsp;</label>
                                <select id="zeitzone" 
                                        class="form-admin-select"
                                        ng-options="option.name for option in AddUserCtrl.formAddUsers.Zeitzonen track by option.value"
                                        ng-model="AddUserCtrl.formAddUsers.selectedZeitzone">
                                </select>
                            </td>
                        </tr>-->
                        </tbody>
                    </table>
                    <br>
                    <p ng-show="AddUserCtrl.formAddUsers.ServiceDazu">
                        <input type="checkbox" class="form-admin" id="MitAlarm" ng-model="AddUserCtrl.formAddUsers.AlarmDazu" ng-disabled="{{['A'].indexOf(AddUserCtrl.formAddUsers.perm_alarm)>-1 ? false:true}}" />
                        <!--AddUserCtrl.formAddUsers.perm_alarm=='W'-->
                        <label for="MitAlarm"> {{'blidsalarm' | translate}}   </label>
                    </p>
                    <table ng-show="AddUserCtrl.formAddUsers.AlarmDazu" style="margin-left: 1em;">
                        <tbody>
                            <tr>
                                <td><label for="startdatumService">{{'admin.begindate' | translate}}   *&emsp;</label></td>
                                <td>
                                    <input type="date" class="form-admin" placeholder="YYYY-MM-DD" id="startdatumService" ng-model="AddUserCtrl.formAddUsers.startdatumService" ng-required="AddUserCtrl.formAddUsers.AlarmDazu" />
                                </td>
                            </tr>
                            <tr>
                                <td><label for="stopdatumService">{{'admin.enddate' | translate}}   *&emsp;</label></td>
                                <td>
                                    <input type="date" class="form-admin" placeholder="YYYY-MM-DD" id="stopdatumService" ng-model="AddUserCtrl.formAddUsers.stopdatumService" ng-required="AddUserCtrl.formAddUsers.AlarmDazu" />
                                </td>
                            </tr>
                            <tr>
                                <td><label for="alarmradius">{{'alarm.radius' | translate}}   &emsp;</label></td>
                                <td>
                                    <select id="alarmradius" class="form-admin-AK" ng-options="option.name for option in AddUserCtrl.formAddUsers.Radien track by option.value" ng-change="AddUserCtrl.modalData.prevEingabe()" ng-model="AddUserCtrl.formAddUsers.selectedRadius" />
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="mail_sms">{{'alarm.channel' | translate}}   &emsp;</label></td>
                                <td>
                                    <select id="mail_sms" class="form-admin-AK" ng-options="option.name for option in AddUserCtrl.formAddUsers.Benachrichtigungstypen track by option.id" ng-model="AddUserCtrl.formAddUsers.selectedTyp" ng-change="AddUserCtrl.modalData.EingabeAnpassen()" ng-required="AddUserCtrl.formAddUsers.AlarmDazu"
                                    />
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="ben_input">{{AddUserCtrl.formAddUsers.selectedTyp.name}} *</label></td>
                                <td>
                                    <input type="email" class="form-admin" placeholder="E-Mail..." id="ben_input" ng-pattern="/^[A-Z0-9a-z._%+-]+@[A-Z0-9a-z.-]+\.[A-Za-z]{2,}$/" ng-model="AddUserCtrl.formAddUsers.ben_input_mail" ng-required="AddUserCtrl.formAddUsers.AlarmDazu && (AddUserCtrl.formAddUsers.selectedTyp.name === 'E-Mail')"
                                        ng-show="AddUserCtrl.formAddUsers.selectedTyp.name === 'E-Mail'" />

                                    <input type="text" class="form-admin" placeholder="SMS..." id="ben_input" ng-model="AddUserCtrl.formAddUsers.ben_input_sms" ng-required="AddUserCtrl.formAddUsers.AlarmDazu && (AddUserCtrl.formAddUsers.selectedTyp.name === 'SMS')" ng-show="AddUserCtrl.formAddUsers.selectedTyp.name === 'SMS'"
                                        ng-pattern="/^00\d{6,}$/">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-primary" ng-show="AddUserCtrl.formAddUsers.ServiceDazu" ng-click="AddUserCtrl.formAddUsers.preview()" ng-disabled="!AddUserCtrl.formAddUsers.previewable">
                    {{'admin.preview' | translate}}
                </button>
                </td>
                <!-- Vorbereitung für Karte -->

                <td style="height: 400px;width:400px;" ng-show="AddUserCtrl.formAddUsers.ServiceDazu">
                    <div id="minimapAdd"></div>
                </td>
            </tr>
        </table>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="AddUserCtrl.modalData.cancel()">{{'admin.cancel' | translate}}</button>
    <button class="btn btn-success" type="button" ng-click="AddUserCtrl.modalData.submit()" ng-disabled="EingabeAddKunde.$error.required  || EingabeAddKunde.$invalid || !AddUserCtrl.formAddUsers.pwsok || AddUserCtrl.formAddUsers.datumVor || AddUserCtrl.formAddUsers.login != AddUserCtrl.formAddUsers.benutzername || (AddUserCtrl.formAddUsers.AktuellDazu && !AddUserCtrl.formAddUsers.PreviewDone)">
        {{'admin.save' | translate}} & {{'admin.exit' | translate}}</button>
</div>
<!--</script>-->
