<!--/*Modal AlarmGruppe*/-->
        <!--<script type="text/ng-template" id="AlarmGruppe.html">-->
<div class="modal-header">
    <button type="button" class="close" ng-click="AGCtrl.modalData.cancel()">&times;</button>
    <h4 class="modal-title">{{AGCtrl.modalData.modalTitle}} {{AGCtrl.formAlarmGruppe.gruppenname}}</h4>
</div>
        
<div class="modal-body" >
    <!--<div style="height:500px; overflow-y:scroll;">-->
    <!-- Eingabe zum Suchen -->
                <div>
                    <form>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">&#128270;</div>
                                <input type="text" class="form-control" placeholder="Search" ng-model="searchText">
                                <div align="right" class="input-group-addon" ng-click="searchText=''">&#10005;</div>
                            </div>      
                        </div>
                    </form>
                </div>
                <br>
    <form name="EingabeAlarmGruppe">
    <table class="adminTable" style="margin: auto">
    <tr>
    <td VALIGN="TOP">    
    <div style="height:500px; overflow-y:scroll;">
        <!-- zugewiesene Alarme -->
        <table class="table" style="width: 400px;">
            <caption>Available Alarms</caption>
            <thead>  
                <th><a ng-click="AGCtrl.modalData.orderAvailable('id')">
                        ID
                        <span ng-show="AGCtrl.modalData.predicateAvailable === 'id'">{{AGCtrl.modalData.reverseAvailable===true ? '&#9650;':'&#9660;'}}</span></a>
                </th>
                <th><a ng-click="AGCtrl.modalData.orderAvailable('alarmkunde')">
                        Alarmkunde
                        <span ng-show="AGCtrl.modalData.predicateAvailable === 'alarmkunde'">{{AGCtrl.modalData.reverseAvailable===true ? '&#9650;':'&#9660;'}}</span>
                    </a>
                </th>
                <th> <!--Button--> </th>
            </thead>
            <tboby>
                <tr ng-repeat="item in AGCtrl.modalData.availableAlarmList | orderBy:AGCtrl.modalData.predicateAvailable:AGCtrl.modalData.reverseAvailable | filter:AGCtrl.modalData.isInAvailable | filter:searchText">
                    <td ng-bind="item.id"></td>
                    <!--<td ng-bind="item.ebenen_id"></td>-->
                    <td ng-bind="item.alarmkunde"></td>
                    <td><button type="button"
                                class="btn btn-primary"
                                ng-click="AGCtrl.modalData.addAlarm(item)"
                                style="width:4.5em"
                                ng-disabled="{{['Edit','All'].indexOf(AGCtrl.formAlarmGruppe.typ)>-1 ? false:true}}"
                                ng-hide="{{['Edit','All'].indexOf(AGCtrl.formAlarmGruppe.typ)>-1 ? false:true}}">
                            Add
                        </button>
                    </td>
                </tr>
            </tboby>
        </div>            
        </table> 
    </td> 
           
    <td>&emsp;</td>
        
    <td VALIGN="TOP">  
    <div style="height:500px; overflow-y:scroll;">
        <!-- zugewiesene Alarme -->
        <table class="table" style="width: 400px;">
            <caption>Assigned Alarms</caption>
            <thead>  
                <th><a ng-click="AGCtrl.modalData.orderAssigned('id')">
                    ID
                    <span ng-show="AGCtrl.modalData.predicateAssigned === 'id'">{{AGCtrl.modalData.reverseAssigned===true ? '&#9650;':'&#9660;'}}</span>
                    </a>
                </th>
                <th><a ng-click="AGCtrl.modalData.orderAssigned('alarmkunde')">
                        Alarmkunde
                        <span ng-show="AGCtrl.modalData.predicateAssigned === 'alarmkunde'">{{AGCtrl.modalData.reverseAssigned===true ? '&#9650;':'&#9660;'}}</span>
                    </a>
                </th>
                <th> <!--Button--> </th>
            </thead>
            <tboby>
                <tr ng-repeat="item in AGCtrl.modalData.assignedAlarmList | orderBy:AGCtrl.modalData.predicateAssigned:AGCtrl.modalData.reverseAssigned">
                    <td ng-bind="item.id"></td>
                    <!--<td ng-bind="item.ebenen_id"></td>-->
                    <td ng-bind="item.alarmkunde"></td>
                    <td><button type="button"
                                class="btn btn-primary"
                                ng-click="AGCtrl.modalData.removeAlarm(item)"
                                style="width:5.5em"
                                ng-disabled="{{['Edit','All'].indexOf(AGCtrl.formAlarmGruppe.typ)>-1 ? false:true}}"
                                ng-hide="{{['Edit','All'].indexOf(AGCtrl.formAlarmGruppe.typ)>-1 ? false:true}}">
                            Remove
                        </button>
                    </td>
                </tr>
            </tboby>
        </table> 
    </div> 
    </td>
    
    </tr>
    </table>
    </form>
    <!--</div>-->
</div>
        
        
        
<div class="modal-footer">
    <button class="btn btn-danger"
            type="button"
            style="float: left;"
            ng-click="AGCtrl.modalData.delete()"
            ng-hide="{{((AGCtrl.formGroups.spec!=='SPECIAL' && ['All'].indexOf(AGCtrl.formGroups.typ)>-1) ? false:true) || AGCtrl.formGroups.head}}"
            ng-disabled="{{((AGCtrl.formGroups.spec!=='SPECIAL' && ['All'].indexOf(AGCtrl.formGroups.typ)>-1) ? false:true) || AGCtrl.formGroups.head}}" > 
        Delete Group
    </button>
    
    <button class="btn btn-default" type="button" ng-click="AGCtrl.modalData.cancel()">Close</button>
<!--    <button class="btn btn-success" 
            type="button" 
            ng-click="AGCtrl.modalData.submit()"
            ng-hide="{{['Edit','All','Add'].indexOf(AGCtrl.formGroups.typ)>-1 ? false:true}}"
            ng-disabled="EingabeGruppe.$error.required || EingabeGruppe.$invalid || {{['Edit','All','Add'].indexOf(AGCtrl.formGroups.typ)>-1 ? false:true}} || AGCtrl.formGroups.lonfalse || AGCtrl.formGroups.latfalse || AGCtrl.formGroups.zoomfalse">
        {{AGCtrl.modalData.modalTitle}}
    </button>-->
</div>
           
        
<!--</script>-->