<!--/*Show Userlog*/-->

<div class="modal-header">
    <button type="button" class="close" ng-click="AlarmMeldungCtrl.modalData.cancel()">&times;</button>
    <h4 class="modal-title">{{AlarmMeldungCtrl.modalData.modalTitle}}</h4>
</div>
<div class="modal-body">
    <p class="input-group" style="display:flex;justify-content:flex-start">
        <input type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="AlarmMeldungCtrl.modalData.start" is-open="AlarmMeldungCtrl.popup1.opened" ng-required="true" close-text="Close" style="width:16%" />
        <span class="input-group-btn" style="width:10%">
            <button type="button" class="btn btn-default" ng-click="AlarmMeldungCtrl.open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        <input type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="AlarmMeldungCtrl.modalData.stop" is-open="AlarmMeldungCtrl.popup2.opened" ng-required="true" close-text="Close" style="width:16%" />
        <span class="input-group-btn" style="width:10%">
            <button type="button" class="btn btn-default" ng-click="AlarmMeldungCtrl.open2()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="AlarmMeldungCtrl.refresh()">{{'alarm.refresh_messages' | translate}}</button>
          </span>
    </p>

    <p><b>{{modalDescription}}</b></p>

    <div style="height:550px; overflow-y:scroll;">
        <table class="table">
            <thead>
                <th>
                    <a ng-click="AlarmMeldungCtrl.modalData.orderLog('start')">
                                    {{'alarm.entry' | translate}}
                                    <span class="sortorder" ng-show="AlarmMeldungCtrl.modalData.orderBy === 'start'">{{AlarmMeldungCtrl.modalData.reverseOrder===false ? '&#9650;':'&#9660;'}}</span>
                                </a>
                </th>
                <th>
                    <a ng-click="AlarmMeldungCtrl.modalData.orderLog('ende')">
                                    {{'alarm.done' | translate}}
                                    <span class="sortorder" ng-show="AlarmMeldungCtrl.modalData.orderBy === 'ende'">{{AlarmMeldungCtrl.modalData.reverseOrder===false ? '&#9650;':'&#9660;'}}</span>
                                </a>
                </th>
                <th>
                    <a ng-click="AlarmMeldungCtrl.modalData.orderLog('typ')">
                                    {{'alarm.type' | translate}}
                                    <span class="sortorder" ng-show="AlarmMeldungCtrl.modalData.orderBy === 'typ'">{{AlarmMeldungCtrl.modalData.reverseOrder===false ? '&#9650;':'&#9660;'}}</span>
                                </a>
                </th>
            </thead>
            <tbody>
                <tr ng-repeat="item in AlarmMeldungCtrl.modalData.data | orderBy:AlarmMeldungCtrl.modalData.orderBy:AlarmMeldungCtrl.modalData.reverseOrder | filter:searchRole:strict">
                    <td ng-bind="item.anf.substr(0, 16)"></td>
                    <td ng-bind="item.ende.substr(0, 16)"></td>
                    <td ng-bind="item.typ"></td>
                </tr>
            </tbody>
        </table>
    </div>


</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="AlarmMeldungCtrl.modalData.cancel()">{{'admin.exit' | translate}}</button>
</div>