<div class="modal-header">
    <button type="button" class="close" ng-click="AlarmDialogCtrl.modalData.cancel()">&times;</button>
    <h4 class="modal-title">{{AlarmDialogCtrl.modalData.modalTitle}}</h4>
</div>

<div class="modal-body">
    <!--<b><p>{{AlarmDialogCtrl.modalData.modalDescription}}</p></b>-->
    <form name="EingabeAlarm">
        <table>
            <tr>
                <td><label for="kunde">{{'alarm.alarmgroup' | translate}} &nbsp;</label></td>
                <td><select id="gebiet" style="width:20em;" ng-options="option.alarmkunde for option in AlarmDialogCtrl.modalData.AlarmkundenList track by option.id" ng-model="AlarmDialogCtrl.formAlarm.selectedkunde" />
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td><label for="gebiet">{{'alarm.area' | translate}} &nbsp;</label></td>
                <td><select id="gebiet" style="width:20em;" ng-options="option.gebiet for option in AlarmDialogCtrl.modalData.GebieteList | filter:{kundenid:AlarmDialogCtrl.formAlarm.selectedkunde.id} track by option.id" ng-model="AlarmDialogCtrl.formAlarm.selectedgebiet"
                        required>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td><label for="teilnehmer">{{'alarm.subscriber' | translate}} &nbsp;</label></td>
                <td><select id="teilnehmer" style="width:20em;" ng-options="option.teilnehmer for option in AlarmDialogCtrl.modalData.TeilnehmerList | filter:{kunde:AlarmDialogCtrl.formAlarm.selectedkunde.id} track by option.id" ng-model="AlarmDialogCtrl.formAlarm.selectedteilnehmer"
                        required> 

                    </select>
                </td>
            </tr>

        </table>
    </form>
</div>



<div class="modal-footer">
    <button class="btn btn-danger" type="button" style="float: left;" ng-click="AlarmDialogCtrl.modalData.delete()" ng-hide="{{['All'].indexOf(AlarmDialogCtrl.formAlarm.typ) > -1 ? false : true}}" ng-disabled="{{['All'].indexOf(AlarmDialogCtrl.formAlarm.typ) > - 1 ? false:true}}">           
        {{'alarm.delete_alarm' | translate}}
    </button>

    <button class="btn btn-info" type="button" ng-click="AlarmDialogCtrl.modalData.testAlarm(1)" ng-hide="EingabeAlarm.$dirty || EingabeAlarm.$invalid || {{['Edit', 'All', 'Add'].indexOf(AlarmDialogCtrl.formAlarm.typ) > - 1 ? false:true}}" ng-disabled="EingabeAlarm.$dirty || EingabeAlarm.$invalid || {{['Edit', 'All', 'Add'].indexOf(AlarmDialogCtrl.formAlarm.typ) > - 1 ? false:true}}">{{'alarm.testalarm' | translate}}</button>
    <button class="btn btn-info" type="button" ng-click="AlarmDialogCtrl.modalData.testAlarm(2)" ng-hide="EingabeAlarm.$dirty || EingabeAlarm.$invalid || {{['Edit', 'All', 'Add'].indexOf(AlarmDialogCtrl.formAlarm.typ) > - 1 ? false:true}}" ng-disabled="EingabeAlarm.$dirty || EingabeAlarm.$invalid || {{['Edit', 'All', 'Add'].indexOf(AlarmDialogCtrl.formAlarm.typ) > - 1 ? false:true}}">{{'alarm.testallclear' | translate}}</button>

    <button class="btn btn-default" type="button" ng-click="AlarmDialogCtrl.modalData.cancel()">{{'admin.cancel' | translate}}</button>
    <button class="btn btn-success" type="button" ng-click="AlarmDialogCtrl.modalData.submit()" ng-hide="{{['Edit', 'All', 'Add'].indexOf(AlarmDialogCtrl.formAlarm.typ) > - 1 ? false:true}}" ng-disabled="EingabeAlarm.$error.required || EingabeAlarm.$invalid || {{['Edit', 'All', 'Add'].indexOf(AlarmDialogCtrl.formAlarm.typ) > - 1 ? false:true}}">
        {{AlarmDialogCtrl.modalData.modalButton}}
    </button>
</div>