<div class="container">
    <div>
        <!--    <div><select id="gruppenname"
                            style="width:20em;"
                            ng-options="option.gruppenname for option in PermissionCtrl.formPermission.groups track by option.gruppenname"
                            ng-model=""/>
                    </select></div>-->
        <uib-tabset>

            <!--   -->
            <!--   ALARME   -->
            <!--   -->
            <uib-tab heading="{{'alarm.alarms' | translate}}" ng-show="{{['A', 'W', 'R'].indexOf(AlarmCtrl.data.group.rights.alarm_alarme) > -1 ? true : false}}" ng-click="AlarmCtrl.data.tabAlarme()">
                <div ng-show="{{['A', 'W', 'R'].indexOf(AlarmCtrl.data.group.rights.alarm_alarme) > -1 ? true : false}}">
                    <h2>
                        {{'alarm.alarms_in_group' | translate}}: <b>{{AlarmCtrl.data.group.gruppenname}}</b> &emsp; &emsp;
                        <button type="button" class="btn btn-success" ng-click="AlarmCtrl.data.openAddAlarmDialog();" ng-disabled="['A'].indexOf(AlarmCtrl.data.group.rights.alarm_alarme) > -1 ? false : true">
                            {{'admin.add_alarm' | translate}}
                        </button>
                    </h2>
                    <!-- Eingabe zum Suchen -->
                    <div>
                        <form>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon" style="font-size: 140%;">&#x2315;</div>
                                    <input type="text" class="form-control" placeholder="{{'admin.search' | translate}}" ng-model="searchAlarme">
                                    <div align="right" class="input-group-addon" ng-click="searchAlarme = ''">&#10005;</div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <br>
                    <!-- Alarms Tabelle -->
                    <div style="height:500px; overflow-y:scroll;">
                        <table class="table">
                            <thead>
                                <tr ng-init="orderName = 'id';
                                            orderReverse = false;">
                                    <!--                                <th>
                                                                        <a ng-click="AlarmCtrl.data.orderAlarme('id')">
                                                                            ID
                                                                            <span ng-show="AlarmCtrl.data.predicateAlarme === 'id'">{{AlarmCtrl.data.reverseAlarme===true ? '&#9650;':'&#9660;'}}</span>
                                                                        </a>
                                                                    </th> -->
                                    <th><a ng-click="AlarmCtrl.data.orderAlarme('kunde')">
                                            {{'alarm.alarmgroup' | translate}}
                                            <span ng-show="AlarmCtrl.data.predicateAlarme === 'kunde'">{{AlarmCtrl.data.reverseAlarme===true ? '&#9650;':'&#9660;'}}</span>
                                        </a>
                                    </th>
                                    <th><a ng-click="AlarmCtrl.data.orderAlarme('teilnehmer')">
                                            {{'alarm.subscriber' | translate}}
                                            <span ng-show="AlarmCtrl.data.predicateAlarme === 'teilnehmer'">{{AlarmCtrl.data.reverseAlarme===true ? '&#9650;':'&#9660;'}}</span>
                                        </a>
                                    </th>
                                    <th><a ng-click="AlarmCtrl.data.orderAlarme('gebiet')">
                                            {{'alarm.area' | translate}}
                                            <span ng-show="AlarmCtrl.data.predicateAlarme === 'gebiet'">{{AlarmCtrl.data.reverseAlarme===true ? '&#9650;':'&#9660;'}}</span>
                                        </a>
                                    </th>
                                    <th><a ng-click="AlarmCtrl.data.orderAlarme('gebietgruppe')">
                                            {{'alarm.areagroup' | translate}}
                                            <span ng-show="AlarmCtrl.data.predicateAlarme === 'gebietgruppe'">{{AlarmCtrl.data.reverseAlarme===true ? '&#9650;':'&#9660;'}}</span>
                                        </a>
                                    </th>
                                    <th><a ng-click="AlarmCtrl.data.orderAlarme('beginn')">
                                            {{'alarm.begin' | translate}}
                                            <span ng-show="AlarmCtrl.data.predicateAlarme === 'beginn'">{{AlarmCtrl.data.reverseAlarme===true ? '&#9650;':'&#9660;'}}</span>
                                        </a>
                                    </th>
                                    <th><a ng-click="AlarmCtrl.data.orderAlarme('ende')">
                                            {{'alarm.end' | translate}}
                                            <span ng-show="AlarmCtrl.data.predicateAlarme === 'ende'">{{AlarmCtrl.data.reverseAlarme===true ? '&#9650;':'&#9660;'}}</span>
                                        </a>
                                    </th>
                                    <th><a ng-click="AlarmCtrl.data.orderAlarme('schwelle')">
                                            {{'alarm.threshold' | translate}}
                                            <span ng-show="AlarmCtrl.data.predicateAlarme === 'schwelle'">{{AlarmCtrl.data.reverseAlarme===true ? '&#9650;':'&#9660;'}}</span>
                                        </a>
                                    </th>
                                    <th><a ng-click="AlarmCtrl.data.orderAlarme('dauer')">
                                            {{'alarm.duration' | translate}}
                                            <span ng-show="AlarmCtrl.data.predicateAlarme === 'dauer'">{{AlarmCtrl.data.reverseAlarme===true ? '&#9650;':'&#9660;'}}</span>
                                        </a>
                                    </th>
                                    <th><a ng-click="AlarmCtrl.data.orderAlarme('blitzanzahl')">
                                            {{'alarm.current_number' | translate}}
                                            <span ng-show="AlarmCtrl.data.predicateAlarme === 'blitzanzahl'">{{AlarmCtrl.data.reverseAlarme===true ? '&#9650;':'&#9660;'}}</span>
                                        </a>
                                    </th>
                                    <th><a ng-click="AlarmCtrl.data.orderAlarme('letzterblitz')">
                                            {{'alarm.lastalarm' | translate}}
                                            <span ng-show="AlarmCtrl.data.predicateAlarme === 'letzterblitz'">{{AlarmCtrl.data.reverseAlarme===true ? '&#9650;':'&#9660;'}}</span>
                                        </a>
                                    </th>
                                    <th><a ng-click="AlarmCtrl.data.orderAlarme('alarm')">
                                            {{'alarm.is_alarmed' | translate}}
                                            <span ng-show="AlarmCtrl.data.predicateAlarme === 'alarm'">{{AlarmCtrl.data.reverseAlarme===true ? '&#9650;':'&#9660;'}}</span>
                                        </a>
                                    </th>
                                    <th><a ng-click="AlarmCtrl.data.orderAlarme('startzeit')">
                                            {{'alarm.time' | translate}}
                                            <span ng-show="AlarmCtrl.data.predicateAlarme === 'startzeit'">{{AlarmCtrl.data.reverseAlarme===true ? '&#9650;':'&#9660;'}}</span>
                                        </a>
                                    </th>
                                    <th align="center" style="width:8.5em">{{'alarm.weekdays' | translate}}</th>
                                    <th>
                                        <!--für Button-->
                                    </th>
                                    <th>
                                        <!--für Button-->
                                    </th>
                                </tr>
                            </thead>
                            <script type="text/ng-template" id="gebiet-pop.html">
                                <div>Lon: {{alarm.centerx| asNum:1:2}} / Lat: {{alarm.centery| asNum:1:2}} <br/> {{'alarm.area' | translate}}: {{alarm.flach| asNum:1000000:2}} km²<br/> {{'alarm.radius' | translate}}: {{alarm.radius}} km</div>
                            </script>
                            <script type="text/ng-template" id="teilnehmer-pop.html">
                                <div ng-if="alarm.tel">{{'alarm.tel' | translate}}: {{alarm.tel}}</div>
                                <div ng-if="alarm.fax">{{'alarm.fax' | translate}}: {{alarm.fax}}</div>
                                <div ng-if="alarm.email">{{'admin.email' | translate}}: {{alarm.email}}</div>
                                <div ng-if="alarm.sms">{{'alarm.sms' | translate}}: {{alarm.sms}}</div>
                                <div>
                                    <span ng-if="(alarm.nurlog == 't')">{{'alarm.log_only' | translate}} </span>
                                    <span ng-if="(alarm.utc == 't')">UTC</span>
                                    <span ng-if="(alarm.utc == 'f')">{{'alarm.localtime' | translate}}</span>
                                    <br/>
                                    <span ng-if="(alarm.protocol == 't')">{{'alarm.protocol' | translate}} </span>
                                    <span ng-if="(alarm.csv == 't')">{{'alarm.ascsv'| translate}}"</span>
                                </div>
                            </script>
                            <tbody>
                                <tr ng-repeat="alarm in AlarmCtrl.data.alarmlist| orderBy:AlarmCtrl.data.predicateAlarme:AlarmCtrl.data.reverseAlarme | filter:searchAlarme">
                                    <!--<td>{{alarm.alarmid}}</td>-->
                                    <td>{{alarm.kunde}}</td>
                                    <td><span uib-popover-template="'teilnehmer-pop.html'" popover-trigger="mouseenter" popover-placement="top" ng-click="AlarmCtrl.data.openEditTeilnehmerDialog2(alarm.teilnehmerid)"><u>{{alarm.teilnehmer}}</u></span></td>
                                    <td><span uib-popover-template="'gebiet-pop.html'" popover-trigger="mouseenter" popover-placement="top" ng-click="AlarmCtrl.data.openEditGebietDialog2(alarm.gebietid)"><u>{{alarm.gebiet}}</u></span></td>
                                    <td><span><u>{{alarm.gruppenname}}</u></span></td>
                                    <td>{{alarm.beginn}}</td>
                                    <td>{{alarm.ende}}</td>
                                    <td align="center">{{alarm.blitzezumalarm}}</td>
                                    <td align="center">{{alarm.dauer}}</td>
                                    <td align="center">{{alarm.blitzanzahl}}</td>
                                    <td>{{alarm.letzter}}</td>
                                    <td align="center">{{alarm.alarm| uppercase}}</td>
                                    <td>{{alarm.startzeit}} - {{alarm.stopzeit}}</td>
                                    <td style="width:8.5em; font-size: smaller">{{alarm.mo === "t" ? "&#11044;":"&#9711;"}} {{alarm.di === "t" ? "&#11044;":"&#9711;"}} {{alarm.mi === "t" ? "&#11044;":"&#9711;"}} {{alarm.don === "t" ? "&#11044;":"&#9711;"}} {{alarm.fr === "t" ? "&#11044;":"&#9711;"}}
                                        {{alarm.sa === "t" ? "&#11044;":"&#9711;"}} {{alarm.so === "t" ? "&#11044;":"&#9711;"}}</td>
                                    <td>
                                        <button type="button" class="btn btn-default" ng-click="AlarmCtrl.data.openMeldungen(alarm)" style="width:6.8em">
                                            {{'alarm.alarmlog' | translate}}
                                        </button> </td>
                                    <td><button type="button" class="{{['W', 'A'].indexOf(AlarmCtrl.data.group.rights.alarm_alarme) > -1 ? 'btn btn-primary' : 'btn btn-info'}}" ng-click="AlarmCtrl.data.openEditAlarmDialog(alarm)" ng-disabled="['R', 'W', 'A'].indexOf(AlarmCtrl.data.group.rights.alarm_alarme) > -1 ? false : true"
                                            ng-hide="['R','W','A'].indexOf(AlarmCtrl.data.group.rights.alarm_alarme) > -1 ? false:true" ng-if="['W', 'A'].indexOf(AlarmCtrl.data.group.rights.alarm_alarme) > -1">{{'admin.edit' | translate}} &#x270E
                                        </button>
                                        <button type="button" class="{{['W', 'A'].indexOf(AlarmCtrl.data.group.rights.alarm_alarme) > -1 ? 'btn btn-primary' : 'btn btn-info'}}" ng-click="AlarmCtrl.data.openEditAlarmDialog(alarm)" ng-disabled="['R', 'W', 'A'].indexOf(AlarmCtrl.data.group.rights.alarm_alarme) > -1 ? false : true"
                                            ng-hide="['R','W','A'].indexOf(AlarmCtrl.data.group.rights.alarm_alarme) > -1 ? false:true" ng-if="['W', 'A'].indexOf(AlarmCtrl.data.group.rights.alarm_alarme) < 0">{{'admin.view' | translate}} &#x2315
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </uib-tab>


            <!--   -->
            <!--   TEILNEHMER   -->
            <!--   -->
            <uib-tab heading="{{'alarm.subscribers' | translate}}" ng-show="{{['A', 'W', 'R'].indexOf(AlarmCtrl.data.group.rights.alarm_teilnehmer) > -1 ? true : false}}" ng-click="AlarmCtrl.data.tabTeilnehmer()">
                <div ng-show="{{['A', 'W', 'R'].indexOf(AlarmCtrl.data.group.rights.alarm_teilnehmer) > -1 ? true : false}}">
                    <h2>
                        {{'alarm.subscribers_in_group' | translate}}: <b>{{AlarmCtrl.data.group.gruppenname}}</b> &emsp; &emsp;
                        <button type="button" class="btn btn-success" ng-click="AlarmCtrl.data.openAddTeilnehmerDialog();" ng-disabled="['A'].indexOf(AlarmCtrl.data.group.rights.alarm_teilnehmer) > -1 ? false : true">
                            {{'alarm.add_subscriber' | translate}}
                        </button>
                    </h2>
                    <!-- Eingabe zum Suchen -->
                    <div>
                        <form>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon" style="font-size: 140%;">&#x2315;</div>
                                    <input type="text" class="form-control" placeholder="{{'admin.search'|translate}}..." ng-model="searchTeilnehmer">
                                    <div align="right" class="input-group-addon" ng-click="searchTeilnehmer = ''">&#10005;</div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <br>
                    <!-- Alarms Tabelle -->
                    <div style="height:500px; overflow-y:scroll;">
                        <table class="table">
                            <thead>
                                <!--                            <th><a ng-click="AlarmCtrl.data.orderTeilnehmer('id')">
                                                                ID
                                                                <span ng-show="AlarmCtrl.data.predicateTeilnehmer === 'id'">{{AlarmCtrl.data.reverseTeilnehmer===true ? '&#9650;':'&#9660;'}}</span></a>
                                                            </th>-->
                                <th><a ng-click="AlarmCtrl.data.orderTeilnehmer('kundenname')">
                                    {{'alarm.alarmgroup' | translate}}
                                    <span ng-show="AlarmCtrl.data.predicateTeilnehmer === 'kundenname'">{{AlarmCtrl.data.reverseTeilnehmer===true ? '&#9650;':'&#9660;'}}</span>
                                </a>
                                </th>
                                <th><a ng-click="AlarmCtrl.data.orderTeilnehmer('teilnehmer')">
                                    {{'alarm.subscriber' | translate}}
                                    <span ng-show="AlarmCtrl.data.predicateTeilnehmer === 'teilnehmer'">{{AlarmCtrl.data.reverseTeilnehmer===true ? '&#9650;':'&#9660;'}}</span></a>
                                </th>
                                <th><a ng-click="AlarmCtrl.data.orderTeilnehmer('benachrichtigung')">
                                    {{'alarm.channel' | translate}}
                                    <span ng-show="AlarmCtrl.data.predicateTeilnehmer === 'benachrichtigung'">{{AlarmCtrl.data.reverseTeilnehmer===true ? '&#9650;':'&#9660;'}}</span></a>
                                </th>
                                <th>{{'alarm.begin' | translate}}</th>
                                <th>{{'alarm.end' | translate}}</th>
                                <th>{{'alarm.starttime' | translate}}</th>
                                <th>{{'alarm.endtime' | translate}}</th>
                                <th>{{'alarm.alarmtext' | translate}}</th>
                                <th>{{'alarm.allcleartext' | translate}}</th>
                                <th align="center" style="width:8.5em;">{{'alarm.weekdays' | translate}}</th>
                                <th>{{'alarm.active' | translate}}</th>
                                <th>
                                    <!--Button-->
                                </th>
                            </thead>

                            <tbody>
                                <!-- Auflistung der User in aktuellen Gruppe GETRENNT VON GRUPPEN (zuletzt)-->
                                <tr ng-repeat="teilnehmer in AlarmCtrl.data.teilnehmerlist| orderBy:GTCtrl.data.predicateTeilnehmer:AlarmCtrl.data.reverseTeilnehmer | filter:searchTeilnehmer:strict">
                                    <!--<td ng-bind="teilnehmer.id"></td>-->
                                    <td ng-bind="teilnehmer.kundenname"></td>
                                    <td ng-bind="teilnehmer.teilnehmer"></td>
                                    <td><span ng-show="{{teilnehmer.sms!=null ? true:false}}">{{'alarm.sms'|translate}}: {{teilnehmer.sms}}</span>
                                        <span ng-show="{{(teilnehmer.sms!=null && teilnehmer.email!=null)? true:false}}"><br></span>
                                        <span ng-show="{{teilnehmer.email!=null ? true:false}}">{{'admin.email' | translate}}: {{teilnehmer.email}}</span>
                                        <span ng-show="{{(teilnehmer.email!=null && teilnehmer.tel!=null)? true:false}}"><br></span>
                                        <span ng-show="{{teilnehmer.tel!=null ? true:false}}">{{'alarm.phone'|translate}}: {{teilnehmer.tel}}</span>
                                        <span ng-show="{{(teilnehmer.tel!=null && teilnehmer.fax!=null)? true:false}}"><br></span>
                                        <span ng-show="{{teilnehmer.fax!=null ? true:false}}">{{'alarm.fax'|translate}}: {{teilnehmer.fax}}</span></td>
                                    <td ng-bind="teilnehmer.anfang"></td>
                                    <td ng-bind="teilnehmer.ende"></td>
                                    <td ng-bind="teilnehmer.startzeit"></td>
                                    <td ng-bind="teilnehmer.stopzeit"></td>
                                    <td align="center"><span uib-popover="{{teilnehmer.alarmierung}}" popover-trigger="mouseenter" popover-placement="top"><u>text</u></span></td>
                                    <td align="center"><span uib-popover="{{teilnehmer.entwarnung}}" popover-trigger="mouseenter" popover-placement="top"><u>text</u></span></td>
                                    <td style="width:8.5em; font-size: smaller">{{teilnehmer.mo === "t" ? "&#11044;":"&#9711;"}} {{teilnehmer.di === "t" ? "&#11044;":"&#9711;"}} {{teilnehmer.mi === "t" ? "&#11044;":"&#9711;"}} {{teilnehmer.don === "t" ? "&#11044;":"&#9711;"}} {{teilnehmer.fr ===
                                        "t" ? "&#11044;":"&#9711;"}} {{teilnehmer.sa === "t" ? "&#11044;":"&#9711;"}} {{teilnehmer.so === "t" ? "&#11044;":"&#9711;"}}</td>
                                    <td align="center" ng-if="teilnehmer.aktiv === 't'">{{'alarm.active'|translate}}</td>
                                    <td align="center" ng-if="teilnehmer.aktiv === 'f'">-</td>
                                    <td>
                                        <button type="button" class="{{['W', 'A'].indexOf(AlarmCtrl.data.group.rights.alarm_teilnehmer) > -1 ? 'btn btn-primary' : 'btn btn-info'}}" ng-click="AlarmCtrl.data.openEditTeilnehmerDialog(teilnehmer)" ng-disabled="['R', 'W', 'A'].indexOf(AlarmCtrl.data.group.rights.alarm_teilnehmer) > -1 ? false : true"
                                            ng-hide="['R','W','A'].indexOf(AlarmCtrl.data.group.rights.alarm_teilnehmer) > -1 ? false:true" ng-if="['W', 'A'].indexOf(AlarmCtrl.data.group.rights.alarm_teilnehmer) > -1">{{'admin.edit' | translate}} &#x270E;
                                        </button>
                                        <button type="button" class="{{['W', 'A'].indexOf(AlarmCtrl.data.group.rights.alarm_teilnehmer) > -1 ? 'btn btn-primary' : 'btn btn-info'}}" ng-click="AlarmCtrl.data.openEditTeilnehmerDialog(teilnehmer)" ng-disabled="['R', 'W', 'A'].indexOf(AlarmCtrl.data.group.rights.alarm_teilnehmer) > -1 ? false : true"
                                            ng-hide="['R','W','A'].indexOf(AlarmCtrl.data.group.rights.alarm_teilnehmer) > -1 ? false:true" ng-if="['W', 'A'].indexOf(AlarmCtrl.data.group.rights.alarm_teilnehmer) < 0">{{'admin.view' | translate}} &#x2315;
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </uib-tab>


            <!--   -->
            <!--   GEBIETE   -->
            <!--   -->
            <uib-tab heading="{{'alarm.areas' | translate}}" ng-show="{{['A', 'W', 'R'].indexOf(AlarmCtrl.data.group.rights.alarm_gebiete) > -1 ? true : false}}" ng-click="AlarmCtrl.data.tabGebiete()">
                <div ng-show="{{['A', 'W', 'R'].indexOf(AlarmCtrl.data.group.rights.alarm_gebiete) > -1 ? true : false}}">
                    <h2>
                        {{'alarm.areas_in_group' | translate}}: <b>{{AlarmCtrl.data.group.gruppenname}}</b> &emsp; &emsp;
                        <button type="button" class="btn btn-success" ng-click="AlarmCtrl.data.openAddGebietDialog();" ng-disabled="['A'].indexOf(AlarmCtrl.data.group.rights.alarm_gebiete) > -1 ? false : true">
                            {{'alarm.add_area' | translate}}
                        </button>
                    </h2>
                    <!-- Eingabe zum Suchen -->
                    <div>
                        <form>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon" style="font-size: 140%;">&#x2315;</div>
                                    <input type="text" class="form-control" placeholder="{{'admin.search'|translate}}..." ng-model="searchGebiet">
                                    <div align="right" class="input-group-addon" ng-click="searchGebiet = ''">&#10005;</div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <br>
                    <!-- Gebiete Tabelle -->
                    <div style="height:500px; overflow-y:scroll;">
                        <table class="table" ">
                            <thead>  
                                <!--                        <th><a ng-click="AlarmCtrl.data.orderGebiete( 'id') ">
                                                            {{'alarm.id' | translate}}
                                                            <span ng-show="AlarmCtrl.data.predicateGebiete==='id' ">{{AlarmCtrl.data.reverseGebiete===true ? '&#9650;':'&#9660;'}}</span></a>
                                                        </th>-->
                            <th><a ng-click="AlarmCtrl.data.orderGebiete( 'kunde') ">
                                    {{'alarm.alarmgroup' | translate}}
                                    <span ng-show="AlarmCtrl.data.predicateGebiete==='kunde' ">{{AlarmCtrl.data.reverseGebiete===true ? '&#9650;':'&#9660;'}}</span>
                                </a>
                            </th>
                            <th><a ng-click="AlarmCtrl.data.orderGebiete( 'bezeichnung') ">
                                    {{'alarm.description' | translate}}
                                    <span ng-show="AlarmCtrl.data.predicateGebiete==='bezeichnung' ">{{AlarmCtrl.data.reverseGebiete===true ? '&#9650;':'&#9660;'}}</span></a>
                            </th>
                            <th>{{'alarm.center' | translate}}</th>
                            <th>{{'alarm.radius' | translate}}</th>
                            <th>{{'alarm.extent' | translate}}</th>
                            <th>{{'alarm.duration'| translate}}</th>
                            <th>{{'alarm.threshold'| translate}}</th>
                            <th>{{'alarm.lastalarm'| translate}}</th>
                            <th> <!--Button--> </th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="gebiet in AlarmCtrl.data.gebietelist| orderBy:AlarmCtrl.data.predicateGebiete:AlarmCtrl.data.reverseGebiete | filter:searchGebiet:strict " >
                                    <!--<td ng-bind="gebiet.id "></td>-->
                                    <td ng-bind="gebiet.kunde "></td>
                                    <td ng-bind="gebiet.gebiet "></td>
                                    <td>{{gebiet.laenge| asNum:1:2}} / {{gebiet.breite| asNum:1:2}}</td>
                                    <td>{{gebiet.radius}} km</td>
                                    <td>{{gebiet.flach| asNum:1000000:2}} km²</td>
                                    <td ng-bind="gebiet.alarmdauer "></td>
                                    <td ng-bind="gebiet.blitzezumalarm "></td>
                                    <td ng-bind="gebiet.letzter "></td>
                                    <td>
                                        <button type="button "                                           
                                                class="{{[ 'W', 'A'].indexOf(AlarmCtrl.data.group.rights.alarm_gebiete)> -1 ? 'btn btn-primary' : 'btn btn-info'}}" ng-click="AlarmCtrl.data.openEditGebietDialog(gebiet)" ng-disabled="['R', 'W', 'A'].indexOf(AlarmCtrl.data.group.rights.alarm_gebiete) > -1 ? false : true" ng-hide="['R','W','A'].indexOf(AlarmCtrl.data.group.rights.alarm_gebiete)
                            > -1 ? false:true" ng-if="['W', 'A'].indexOf(AlarmCtrl.data.group.rights.alarm_gebiete) > -1">{{'admin.edit' | translate}} &#x270E;</button>
                            <button type="button" class="{{[ 'W', 'A'].indexOf(AlarmCtrl.data.group.rights.alarm_gebiete)> -1 ? 'btn btn-primary' : 'btn btn-info'}}" ng-click="AlarmCtrl.data.openEditGebietDialog(gebiet)" ng-disabled="['R', 'W', 'A'].indexOf(AlarmCtrl.data.group.rights.alarm_gebiete) > -1 ? false : true"
                                ng-hide="['R','W','A'].indexOf(AlarmCtrl.data.group.rights.alarm_gebiete)
                            > -1 ? false:true" ng-if="['W', 'A'].indexOf(AlarmCtrl.data.group.rights.alarm_gebiete) < 0">{{'admin.view' | translate}} &#x2315;
                            </button>
                            </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </uib-tab>


            <!--   -->
            <!--   GEBIETEGRUPPEN   -->
            <!--   -->
            <!--            <uib-tab heading="Gebietgruppen" ng-show="{{['A', 'W', 'R'].indexOf(AlarmCtrl.data.group.rights.alarm_gebietgruppen) > -1 ? true : false}}"  ng-click="AlarmCtrl.data.tabGebietgruppen()">
                <div ng-show="{{['A', 'W', 'R'].indexOf(AlarmCtrl.data.group.rights.alarm_gebietgruppen) > -1 ? true : false}}">
                    <h2>
                        Gebietgruppen in Group: <b>{{AlarmCtrl.data.group.gruppenname}}</b>
                        &emsp; &emsp;
                        <button type="button" 
                                class="btn btn-success" 
                                ng-click="AlarmCtrl.data.openAddGebietGruppenDialog();"
                                ng-disabled="['A'].indexOf(AlarmCtrl.data.group.rights.alarm_gebietgruppen) > -1 ? false : true">
                            Add Areagroup
                        </button>
                    </h2>
                     Eingabe zum Suchen 
                    <div>
                        <form>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">&#128270;</div>
                                    <input type="text" class="form-control" placeholder="Search" ng-model="searchGebietgruppe">
                                    <div align="right" class="input-group-addon" ng-click="searchGebietgruppe = ''">&#10005;</div>
                                </div>      
                            </div>
                        </form>
                    </div>
                    <br>
                     Gebietegruppen Tabelle 
                    <div style="height:380px; overflow-y:scroll;"> 
                        <table class="table"">
                            <thead>  
                                                        <th><a ng-click="AlarmCtrl.data.orderGebietegruppe('id')">
                                                            ID
                                                            <span ng-show="AlarmCtrl.data.predicateGebietegruppe === 'id'">{{AlarmCtrl.data.reverseGebietegruppe===true ? '&#9650;':'&#9660;'}}</span></a>
                                                        </th>
                            <th><a ng-click="AlarmCtrl.data.orderGebietegruppe('kundenname')">
                                    Kunde
                                    <span ng-show="AlarmCtrl.data.predicateGebietegruppe === 'kundenname'">{{AlarmCtrl.data.reverseGebietegruppe===true ? '&#9650;':'&#9660;'}}</span></a>
                            </th>
                            <th><a ng-click="AlarmCtrl.data.orderGebietegruppe('gruppenname')">
                                    Gruppenname
                                    <span ng-show="AlarmCtrl.data.predicateGebietegruppe === 'gruppenname'">{{AlarmCtrl.data.reverseGebietegruppe===true ? '&#9650;':'&#9660;'}}</span></a>
                            </th>
                            <th>Gebiete</th>
                            <th> Button </th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="gebietgruppe in AlarmCtrl.data.gebietgruppenlist| orderBy:AlarmCtrl.data.predicateGebietegruppe:AlarmCtrl.data.reverseGebietegruppe | filter:searchGebietgruppe" >
                                    <td ng-bind="gebietgruppe.id"></td>
                                    <td ng-bind="gebietgruppe.kundenname"></td>
                                    <td ng-bind="gebietgruppe.gruppenname"></td>
                                    <td><ul ng-repeat="gebiet in gebietgruppe.gebiete">{{gebiet.gebiet}}</ul></td>
                                    <td>
                                        <button type="button"                                           
                                                class="{{['W', 'A'].indexOf(AlarmCtrl.data.group.rights.alarm_gebietgruppen) > -1 ? 'btn btn-primary' : 'btn btn-info'}}"
                                                ng-click="AlarmCtrl.data.openEditGebietGruppenDialog(gebietgruppe)"
                                                style="width:4.5em"
                                                ng-disabled="['R', 'W', 'A'].indexOf(AlarmCtrl.data.group.rights.alarm_gebietgruppen) > -1 ? false : true"
                                                ng-hide="['R','W','A'].indexOf(AlarmCtrl.data.group.rights.alarm_gebietgruppen) > -1 ? false:true">
                                            {{['W', 'A'].indexOf(AlarmCtrl.data.group.rights.alarm_gebietgruppen) > -1 ? "Edit &#x270E;" : "View &#x2315;"}}
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>        
                </div>      
            </uib-tab>-->

        </uib-tabset>
    </div>
</div>