<div class="modal-header">
    <h3>{{modalOptions.headerText | translate}}</h3>
</div>
<div class="modal-body">
    <p style="white-space: pre">{{modalOptions.bodyText | translate}}</p>
</div>
<div class="modal-footer">
    <button class="btn" ng-class="modalOptions.actionButtonClass" data-ng-click="modalOptions.ok(modalOptions.actionButtonResult);">{{modalOptions.actionButtonText | translate}}</button>
</div>