<div class="modal-header">
    <h3>{{modalOptions.headerText | translate}}</h3>
</div>
<div class="modal-body">
    <p>{{modalOptions.bodyText | translate}}</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn" data-ng-click="modalOptions.close()">{{modalOptions.closeButtonText | translate}}</button>
    <button class="btn" ng-class="modalOptions.actionButtonClass" data-ng-click="modalOptions.ok(modalOptions.actionButtonResult);">{{modalOptions.actionButtonText | translate}}</button>
</div>