<!--/*Modal EDIT/VIEW User*/-->
<!--<script type="text/ng-template" id="EditViewUserDialog.html">-->
<div class="modal-header">
    <button type="button" class="close" ng-click="EVUserCtrl.modalData.cancel()">&times;</button>
    <h4 class="modal-title">{{EVUserCtrl.modalData.modalTitle}}: {{EVUserCtrl.formEVUsers.benutzername}}</h4>
</div>
<div class="modal-body">
    <!-- <b><p>{{modalDescription}}</p></b> -->
    <form name="EingabeEVKunde">
        <table class="adminTable" style="margin: auto">
            <!--    <tr>
                <td><label for="title">Title &emsp;</label></td>
                <td><input type="text" class="form-admin" placeholder="Title..." id="title" ng-model="EVUserCtrl.formEVUsers.title" ng-disabled="{{EVUserCtrl.formEVUsers.typ=='View' ? true:false}}" />
                </td>
            </tr>  
            -->
            <tr>
                <td><label for="firstname">{{'admin.firstname' | translate}} &emsp;</label></td>
                <td><input type="text" class="form-admin" placeholder="{{'admin.firstname' | translate}}..." id="firstname" ng-model="EVUserCtrl.formEVUsers.firstname" ng-disabled="{{EVUserCtrl.formEVUsers.typ=='View' ? true:false}}" />
                </td>
            </tr>
            <tr>
                <td><label for="lastname">{{'admin.lastname' | translate}} *&emsp;</label></td>
                <td><input type="text" class="form-admin" placeholder="({{'admin.lastname' | translate}}..." id="lastname" ng-model="EVUserCtrl.formEVUsers.lastname" ng-disabled="{{EVUserCtrl.formEVUsers.typ=='View' ? true:false}}" required/>
                </td>
            </tr>
            <tr>
                <td><label for="company">{{'admin.company' | translate}} *&emsp;</label></td>
                <td><input type="text" class="form-admin" placeholder="{{'admin.company' | translate}}..." id="company" ng-model="EVUserCtrl.formEVUsers.company" ng-disabled="{{EVUserCtrl.formEVUsers.typ=='View' ? true:false}}" required/>
                </td>
            </tr>
            <tr>
                <td><label for="division">{{'admin.division' | translate}} &emsp;</label></td>
                <td><input type="text" class="form-admin" placeholder="{{'admin.division' | translate}}..." id="division" ng-model="EVUserCtrl.formEVUsers.division" ng-disabled="{{EVUserCtrl.formEVUsers.typ=='View' ? true:false}}" />
                </td>
            </tr>
            <tr>
                <td><label for="streetaddress">{{'admin.streetaddress' | translate}} &emsp;</label></td>
                <td><input type="text" class="form-admin" placeholder="{{'admin.streetaddress' | translate}}..." id="streetaddress" ng-model="EVUserCtrl.formEVUsers.streetaddress" ng-disabled="{{EVUserCtrl.formEVUsers.typ=='View' ? true:false}}" />
                </td>
            </tr>
            <tr>
                <td><label for="zip">{{'admin.zip' | translate}} &emsp;</label></td>
                <td><input type="text" size="7" class="form-admin" placeholder="{{'admin.zip' | translate}}..." id="zip" ng-model="EVUserCtrl.formEVUsers.zip" ng-disabled="{{EVUserCtrl.formEVUsers.typ=='View' ? true:false}}" />
                </td>
            </tr>
            <tr>
                <td><label for="city">{{'admin.city' | translate}} &emsp;</label></td>
                <td><input type="text" class="form-admin" placeholder="{{'admin.city' | translate}}..." id="city" ng-model="EVUserCtrl.formEVUsers.city" ng-disabled="{{EVUserCtrl.formEVUsers.typ=='View' ? true:false}}" />
                </td>
            </tr>
            <!--        <tr>
            <td><label for="umsatzsteuernr">Trade ID &emsp;</label></td>
            <td><input type="text"
                       class="form-admin"
                       placeholder="Trade ID..."
                       id="umsatzsteuernr"
                       ng-model="EVUserCtrl.formEVUsers.umsatzsteuernr"
                       ng-disabled="{{EVUserCtrl.formEVUsers.typ=='View' ? true:false}}" />
            </td>
        </tr> -->
            <tr>
                <td><label for="email">{{'admin.email' | translate}} *&emsp;</label></td>
                <td><input type="email" class="form-admin" placeholder="{{'admin.email' | translate}}..." id="email" ng-pattern="/^[A-Z0-9a-z._%+-]+@[A-Z0-9a-z.-]+\.[A-Za-z]{2,}$/" ng-model="EVUserCtrl.formEVUsers.benutzername" ng-disabled="{{EVUserCtrl.formEVUsers.typ=='View' ? true:false}}"
                        required/>
                    <!--// onkeyup="document.EingabeEditUser.benutzername.value=this.value" -->
                </td>
            </tr>
            <tr>
                <td><label for="phonenumber">{{'admin.phone' | translate}} &emsp;</label></td>
                <td><input type="text" class="form-admin" placeholder="{{'admin.phone' | translate}}..." id="phonenumber" ng-model="EVUserCtrl.formEVUsers.phonenumber" ng-disabled="{{EVUserCtrl.formEVUsers.typ=='View' ? true:false}}" />
                </td>
            </tr>
            <tr>
                <td><label for="annotation">{{'admin.annotation' | translate}} &emsp;</label></td>
                <td><input type="text" class="form-admin" placeholder="{{'admin.annotation' | translate}}..." id="annotation" ng-model="EVUserCtrl.formEVUsers.annotation" ng-disabled="{{EVUserCtrl.formEVUsers.typ=='View' ? true:false}}" />
                </td>
            </tr>
            <tr>
                <td><label for="startdatum">{{'admin.begindate' | translate}} *&emsp;</label></td>
                <td><input type="date" class="form-admin" placeholder="YYYY-MM-DD" id="startdatum" min="{{EVUserCtrl.formEVUsers.PARENTstartdatum}}" ng-model="EVUserCtrl.formEVUsers.startdatum" ng-change="EVUserCtrl.modalData.checkDatumVorDatum()" ng-disabled="{{EVUserCtrl.formEVUsers.typ=='View' ? true:false}}"
                        required/>
                </td>
            </tr>
            <tr>
                <td><label for="stopdatum">{{'admin.enddate' | translate}} *&emsp;</label></td>
                <td><input type="date" class="form-admin" placeholder="YYYY-MM-DD" id="stopdatum" max="{{EVUserCtrl.formEVUsers.PARENTstopdatum}}" ng-model="EVUserCtrl.formEVUsers.stopdatum" ng-change="EVUserCtrl.modalData.checkDatumVorDatum()" ng-disabled="{{EVUserCtrl.formEVUsers.typ=='View' ? true:false}}"
                        required/>
                </td>
            </tr>
            <tr>
                <td>&emsp;</td>
                <td>
                    <span ng-show="EVUserCtrl.formEVUsers.datumVor" style="color:red;">{{'message.end_before_begin' | translate}}</span>
                </td>
            </tr>
            <tr>
                <td><label for="benutzername">{{'admin.login' | translate}} &emsp;</label></td>
                <td><input type="text" class="form-admin" placeholder="{{'admin.login' | translate}}..." id="benutzername" ng-model="EVUserCtrl.formEVUsers.benutzername" readonly/>
                </td>
            </tr>
            <tr>
                <td><label for="password1">{{'password' | translate}} &emsp;</label></td>
                <td><input type="password" class="form-admin" placeholder="{{'password' | translate}}..." id="password1" ng-model="EVUserCtrl.formEVUsers.password1" ng-keyup="EVUserCtrl.modalData.checkPW()" ng-pattern="/[\S]{5,}/" ng-disabled="{{EVUserCtrl.formEVUsers.typ=='View' ? true:false}}"
                    />
                    <!--ng-required="EVUserCtrl.formEVUsers.typ=='Add' ? true:false"-->
                </td>
            </tr>
            <tr>
                <td><label for="password2">{{'admin.password_confirm' | translate}} &nbsp;</label></td>
                <td><input type="password" class="form-admin" placeholder="{{'password' | translate}}..." id="password2" ng-model="EVUserCtrl.formEVUsers.password2" ng-keyup="EVUserCtrl.modalData.checkPW()" ng-pattern="/[\S]{5,}/" ng-disabled="{{EVUserCtrl.formEVUsers.typ=='View' ? true:false}}"
                    />
                    <!--ng-required="EVUserCtrl.formEVUsers.typ=='Add' ? true:false"-->
            </tr>
            <tr>
                <td>&emsp;</td>
                <td>
                    <span ng-show="EVUserCtrl.formEVUsers.pwsok" style="color:green; font-weight:bold;">{{'message.password_match' | translate}}</span>
                    <span ng-show="EVUserCtrl.formEVUsers.pwsNok" style="color:red;">{{'message.password_no_match' | translate}}</span>
                </td>
            </tr>
            <tr ng-if="EVUserCtrl.formEVUsers.groupadmin">
                <td><label for="home_gruppe">{{'admin.group' | translate}} &emsp;</td>
                <td><select class="form-admin-select"
                        id="home_gruppe"
                        ng-options="option.id as option.gruppenname for option in EVUserCtrl.formEVUsers.home_gruppen"
                        ng-model="EVUserCtrl.formEVUsers.home_gruppe" >
                </select>
                </td>
            </tr>
            <!--      // bleibt, User kann in allen gruppen, in denen Bediener User-Schreib-Rechte hat angelegt/verschoben werden
                          // User müssen noch Rechte vergeben werden -->
        </table>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" type="button" style="float: left;" ng-click="EVUserCtrl.modalData.delete()" ng-hide="{{['All'].indexOf(EVUserCtrl.formEVUsers.typ)>-1 ? false:true}}" ng-disabled="{{['All'].indexOf(EVUserCtrl.formEVUsers.typ)>-1 ? false:true}}"> 
        {{'admin.delete_user' | translate}}
    </button>

    <button class="btn btn-default" type="button" ng-click="EVUserCtrl.modalData.cancel()">{{'admin.cancel' | translate}}</button>
    <button class="btn btn-success" type="button" ng-click="EVUserCtrl.modalData.submit()" ng-hide="{{EVUserCtrl.formEVUsers.typ==='View' ? true:false}}" ng-disabled="EingabeEVKunde.$error.required || EingabeEVKunde.$invalid || EVUserCtrl.formEVUsers.datumVor || !EVUserCtrl.formEVUsers.pwsEdit || {{EVUserCtrl.formEVUsers.typ=='View' ? true:false}}">
       {{'admin.save' | translate}} & {{'admin.exit' | translate}}
    </button>
</div>
