<!--/*Modal Gebiet*/    id="GebietDialog.html"-->

<div class="modal-header">
    <button type="button" class="close" ng-click="GebietCtrl.modalData.cancel()">&times;</button>
    <h4 class="modal-title">{{GebietCtrl.modalData.modalTitle}}</h4>
</div>
<div class="modal-body">
    <form name="EingabeGebiet">
        <table width="100%">
            <tr>
                <td>
                    <table class="adminTable" style="margin: auto;width:100%">
                        <tr>
                            <td><label for="kunde">{{'alarm.alarmgroup' | translate}}*: &emsp;</label></td>
                            <td><select id="kunde" style="width:20em;" ng-options="option.alarmkunde for option in GebietCtrl.modalData.AlarmkundenList track by option.id" ng-model="GebietCtrl.formGebiet.selectedkunde" ng-disabled="{{['Add'].indexOf(GebietCtrl.formGebiet.typ) > - 1 ? false:true}}"
                                    required>
                                </select></td>
                            <td rowspan="5" align="center">
                                <div id="leafmap" style="width: 300px; height: 300px;"></div>
                            </td>
                        </tr>
                        <tr>
                            <td><label for="gebiet">{{'alarm.description' | translate}}*: &emsp;</label></td>
                            <td><input type="text" class="form-admin" placeholder="{{'alarm.description' | translate}}..." id="gebiet" ng-model="GebietCtrl.formGebiet.gebiet" ng-disabled="{{['Edit', 'All', 'Add'].indexOf(GebietCtrl.formGebiet.typ) > - 1 ? false : true}}"
                                    required/>
                            </td>
                        </tr>
                        <tr>
                            <td><label for="blitzezumalarm">{{'alarm.threshold' | translate}}*: &emsp;</label></td>
                            <td><input type="number" style="width:5em" min="1" class="form-admin" placeholder="{{'alarm.threshold' | translate}}..." id="blitzezumalarm" ng-model="GebietCtrl.formGebiet.blitzezumalarm" ng-disabled="{{['Edit', 'All', 'Add'].indexOf(GebietCtrl.formGebiet.typ) > - 1 ? false : true}}"
                                    required/> {{'alarm.strokes' | translate}} &emsp;
                            </td>
                        </tr>
                        <tr>
                            <td><label for="alarmdauer">{{'alarm.duration' | translate}}*: &emsp;</label></td>
                            <td><input type="number" style="width:5em" min="1" class="form-admin" placeholder="{{'alarm.duration' | translate}}..." id="alarmdauer" ng-model="GebietCtrl.formGebiet.alarmdauer" ng-disabled="{{['Edit', 'All', 'Add'].indexOf(GebietCtrl.formGebiet.typ) > - 1 ? false : true}}"
                                    required/> {{'alarm.minutes' | translate}} &emsp;
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">&emsp;
                                <!--Zwischenraum-->
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="radio" id="kreis" ng-model="GebietCtrl.formGebiet.polygontyp" ng-required="!GebietCtrl.formGebiet.polygontyp" value="circle" ng-disabled="!(['Edit', 'All', 'Add'].indexOf(GebietCtrl.formGebiet.typ) > - 1)" />
                                <label for="kreis">{{'alarm.circle' | translate}} &emsp;&emsp;</label>
                                <input type="radio" id="ring" ng-model="GebietCtrl.formGebiet.polygontyp" ng-required="!GebietCtrl.formGebiet.polygontyp" value="ring" ng-disabled="!(['Edit', 'All', 'Add'].indexOf(GebietCtrl.formGebiet.typ) > - 1)" />
                                <label for="ring">{{'alarm.ring' | translate}} &emsp;&emsp;</label>
                                <input type="radio" id="polygon" ng-model="GebietCtrl.formGebiet.polygontyp" ng-required="!GebietCtrl.formGebiet.polygontyp" value="polygon" ng-disabled="!(['Edit', 'All', 'Add'].indexOf(GebietCtrl.formGebiet.typ) > - 1)" />
                                <label for="polygon">{{'alarm.polygon' | translate}} &emsp;&emsp;</label>
                            </td>
                        </tr>
                        <tr ng-hide="GebietCtrl.formGebiet.polygontyp === 'polygon'">
                            <td colspan="3"><label for="geosuche">{{'admin.find_address' | translate}} &emsp; <span style="font-size: 140%;">&#x2315;</span></label>
                                <input type="text" class="form-admin" id="geosuche" typeahead-on-select="GebietCtrl.modalData.selectLocation($item)" typeahead-min-length="5" typeahead-no-results="GebietCtrl.formGebiet.noResults" typeahead-loading="GebietCtrl.formGebiet.loadingLocations"
                                    uib-typeahead="item as item.formatted_address for item in GebietCtrl.modalData.getLocation($viewValue)" placeholder="Type Location here..." ng-model="GebietCtrl.formGebiet.LocationSelect" class="form-control" ng-disabled="!(['Edit', 'All', 'Add'].indexOf(GebietCtrl.formGebiet.typ) > - 1)">
                                <i ng-show="GebietCtrl.formGebiet.loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                <div ng-show="GebietCtrl.formGebiet.noResults">
                                    <i class="glyphicon glyphicon-remove"></i> {{'admin.no_results' | translate}}
                                </div>
                            </td>
                        </tr>
                        <tr ng-hide="GebietCtrl.formGebiet.polygontyp === 'polygon'">
                            <td><label for="laenge">{{'admin.longitude' | translate}}*: &emsp;</label></td>
                            <td>
                                <input type="text" class="form-admin" placeholder="{{'admin.longitude' | translate}}..." id="laenge" ng-pattern="/^-*\d+([\.\,]\d*)?$/" ng-model="GebietCtrl.formGebiet.laenge" ng-disabled="{{(['Edit', 'All', 'Add'].indexOf(GebietCtrl.formGebiet.typ) < 0 || ['circle','ring'].indexOf(GebietCtrl.formGebiet.polygontyp) < 0)}}"
                                    ng-required="GebietCtrl.formGebiet.polygontyp ==='circle' ? true:false" ng-blur="GebietCtrl.modalData.positionEingabe()" />
                                <!-- ng-change="GebietCtrl.formGebiet.latlonChange()" ng-blur="GebietCtrlGebietCtrl.formGebiet.positionEingabe()" -->
                            </td>
                            <td align="center">
                            </td>

                        </tr>
                        <tr ng-hide="GebietCtrl.formGebiet.polygontyp === 'polygon'">
                            <td><label for="breite">{{'admin.latitude' | translate}}*: &emsp;</label></td>
                            <td>
                                <input type="text" class="form-admin" placeholder="{{'admin.latitude' | translate}}..." id="breite" ng-pattern="/^-*\d+([\.\,]\d*)?$/" ng-model="GebietCtrl.formGebiet.breite" ng-disabled="{{(['Edit', 'All', 'Add'].indexOf(GebietCtrl.formGebiet.typ) < 0 || ['circle','ring'].indexOf(GebietCtrl.formGebiet.polygontyp) < 0)}}"
                                    ng-required="GebietCtrl.formGebiet.polygontyp ==='circle' ? true:false" ng-blur="GebietCtrl.modalData.positionEingabe()" />
                                <!-- ng-change="GebietCtrl.formGebiet.latlonChange()" ng-blur="GebietCtrlGebietCtrl.formGebiet.positionEingabe()" -->
                            </td>
                        </tr>
                        <tr ng-hide="GebietCtrl.formGebiet.polygontyp === 'polygon'">
                            <td><label for="radius">{{'alarm.radius' | translate}}*: &emsp;</label></td>
                            <td><input type="number" style="width:5em" min="1" class="form-admin" placeholder="{{'alarm.radius' | translate}}..." id="radius" ng-model="GebietCtrl.formGebiet.radius" ng-disabled="{{['Edit', 'All', 'Add'].indexOf(GebietCtrl.formGebiet.typ) > - 1 ? false : true}}"
                                    ng-required="GebietCtrl.formGebiet.polygontyp==='polygon' ? false:true" /> km &emsp;
                            </td>
                        </tr>
                        <tr ng-hide="GebietCtrl.formGebiet.polygontyp !== 'ring'">
                            <td><label for="radius">{{'alarm.inner_radius' | translate}}*: &emsp;</label></td>
                            <td><input type="number" style="width:5em" min="1" ng-max=GebietCtrl.formGebiet.radius-1 class="form-admin" placeholder="{{'alarm.radius' | translate}}..." id="radius" ng-model="GebietCtrl.formGebiet.innerRadius" ng-disabled="{{['Edit', 'All', 'Add'].indexOf(GebietCtrl.formGebiet.typ) > - 1 ? false : true}}"
                                    ng-required="GebietCtrl.formGebiet.polygontyp==='ring' ? true:false" /> km &emsp;
                            </td>
                        </tr>
                        <tr ng-hide="GebietCtrl.formGebiet.polygontyp !== 'polygon'">
                            <td></td>
                            <td>&emsp; </td>
                        </tr>
                        <tr ng-hide="GebietCtrl.formGebiet.polygontyp !== 'polygon'">
                            <td></td>
                            <td colspan="2">&emsp; {{'alarm.polygon_not_closed' | translate}}</td>
                        </tr>
                        <tr ng-hide="GebietCtrl.formGebiet.polygontyp !== 'polygon'">
                            <td><label for="geometry"> {{'alarm.geometry' | translate}} <br>(WKT): &emsp;</label></td>
                            <td colspan="2">
                                <textarea cols="75" rows="6" class="form-admin" id="geometry" ng-model="GebietCtrl.formGebiet.geometry" ng-required="GebietCtrl.formGebiet.polygontyp==='polygon' ? true:false">
                            </textarea>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">&emsp;
                                <!--Zwischenraum-->
                            </td>
                        </tr>
                        <tr ng-hide="{{['Edit', 'All', 'View'].indexOf(GebietCtrl.formGebiet.typ) > - 1 ? false : true}}">
                            <td><label for="letzterblitz"> {{'alarm.lastalarm' | translate}}:</label></td>
                            <td>{{GebietCtrl.formGebiet.letzterblitz}}</td>
                        </tr>
                        <tr ng-hide="{{['Edit', 'All', 'View'].indexOf(GebietCtrl.formGebiet.typ) > - 1 ? false : true}}">
                            <td><label for="blitzanzahl"> {{'alarm.current_number' | translate}}:</label></td>
                            <td>{{GebietCtrl.formGebiet.blitzanzahl}}</td>
                        </tr>


                    </table>
                </td>
            </tr>
        </table>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" type="button" style="float: left;" ng-click="GebietCtrl.modalData.delete()" ng-hide="{{['All'].indexOf(GebietCtrl.formGebiet.typ) > - 1 ? false:true}}" ng-disabled="{{['All'].indexOf(GebietCtrl.formGebiet.typ) > - 1 ? false:true}}">
        {{'alarm.delete_area' | translate}}
    </button>
    <button class="btn btn-primary" type="button" ng-click="GebietCtrl.modalData.refreshMap()" ng-disabled="EingabeGebiet.$invalid || !(['Edit', 'All', 'Add'].indexOf(GebietCtrl.formGebiet.typ) > - 1)">
        {{'admin.preview' | translate}}
    </button>

    <button class="btn btn-default" type="button" ng-click="GebietCtrl.modalData.cancel()" ng-if="(['Edit', 'All', 'Add'].indexOf(GebietCtrl.formGebiet.typ) > - 1)">
        {{'admin.cancel' | translate}}
    </button>
    <button class="btn btn-default" type="button" ng-click="GebietCtrl.modalData.cancel()" ng-if="(['Edit', 'All', 'Add'].indexOf(GebietCtrl.formGebiet.typ) < 0)">
        {{'admin.exit' | translate}}
    </button>
    <button class="btn btn-success" type="button" ng-click="GebietCtrl.modalData.submit()" ng-hide="{{['Edit', 'All', 'Add'].indexOf(GebietCtrl.formGebiet.typ) > - 1 ? false:true}}" ng-disabled="EingabeGebiet.$error.required || EingabeGebiet.$invalid || {{['Edit', 'All', 'Add'].indexOf(GebietCtrl.formGebiet.typ) > - 1 ? false:true}} || !GebietCtrl.modalData.previewDone">
        {{GebietCtrl.modalData.modalButton}}
    </button>
</div>