<!--/*Modal GebietGruppeGruppe*/-->
        <!--<script type="text/ng-template" id="GebietgruppenDialog.html">-->
<div class="modal-header">
    <button type="button" class="close" ng-click="GebGrpCtrl.modalData.cancel()">&times;</button>
    <h4 class="modal-title">{{GebGrpCtrl.modalData.modalTitle}}</h4>
</div>
        
<div class="modal-body" >
    <!--<div style="height:500px; overflow-y:scroll;">-->
    <form name="EingabeGebietGruppe">
        <div>
            <label for="gruppenname">Groupname: &emsp;</label>
            <input type="text"
                   class="form-admin"
                   placeholder="Groupname..."
                   id="gruppenname"
                   ng-model="GebGrpCtrl.formGebietGruppe.gruppenname"
                   ng-disabled="{{['Edit','All','Add'].indexOf(GebGrpCtrl.formGebietGruppe.typ)>-1 ? false:true}}"
                   required/>
            &emsp;&emsp;&emsp;&emsp;
            <label for="kunde">Kunde: &emsp;</label>
            <select id="kunde"
                    style="width:20em;"
                    ng-options="option.alarmkunde for option in GebGrpCtrl.modalData.AlarmkundenList track by option.id"
                    ng-model="GebGrpCtrl.formGebietGruppe.selectedkunde"
                    required
                    ng-disabled="{{['Add'].indexOf(GebGrpCtrl.formGebietGruppe.typ)>-1 ? false:true}}">
            </select>
        </div>
        <br>
    <!-- Eingabe zum Suchen -->
                <div>
                    <form>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">&#128270;</div>
                                <input type="text" class="form-control" placeholder="Search" ng-model="searchText">
                                <div align="right" class="input-group-addon" ng-click="searchText=''">&#10005;</div>
                            </div>      
                        </div>
                    </form>
                </div>
                <br>
    <!--<form name="EingabeGebietGruppe">-->
    <table class="adminTable" style="margin: auto">
    <tr>
    <td VALIGN="TOP">    
    <div style="height:500px; overflow-y:scroll;">
        <!-- zugewiesene Gebiete -->
        <table class="table" style="width: 400px;">
            <caption>Available Areas</caption>
            <thead>  
                <th><a ng-click="GebGrpCtrl.modalData.orderAvailable('id')">
                        ID
                        <span ng-show="GebGrpCtrl.modalData.predicateAvailable === 'id'">{{GebGrpCtrl.modalData.reverseAvailable===true ? '&#9650;':'&#9660;'}}</span>
                    </a>
                </th>
                <th><a ng-click="GebGrpCtrl.modalData.orderAvailable('gebiet')">
                        Gebiet
                        <span ng-show="GebGrpCtrl.modalData.predicateAvailable === 'gebiet'">{{GebGrpCtrl.modalData.reverseAvailable===true ? '&#9650;':'&#9660;'}}</span>
                    </a>
                </th>
                <th> <!--Button--> </th>
            </thead>
            <tboby>
                <tr ng-repeat="item in GebGrpCtrl.modalData.availableGebietList | orderBy:GebGrpCtrl.modalData.predicateAvailable:GebGrpCtrl.modalData.reverseAvailable | filter:GebGrpCtrl.modalData.isInAvailable | filter:searchText | filter:{kundenid:GebGrpCtrl.formGebietGruppe.kunde}">
                    <td ng-bind="item.id"></td>
                    <!--<td ng-bind="item.ebenen_id"></td>-->
                    <td ng-bind="item.gebiet"></td>
                    <td><button type="button"
                                class="btn btn-primary"
                                ng-click="GebGrpCtrl.modalData.addGebiet(item)"
                                style="width:4.5em"
                                ng-disabled="{{['Edit','All','Add'].indexOf(GebGrpCtrl.formGebietGruppe.typ)>-1 ? false:true}}"
                                ng-hide="{{['Edit','All','Add'].indexOf(GebGrpCtrl.formGebietGruppe.typ)>-1 ? false:true}}">
                            Add
                        </button>
                    </td>
                </tr>
            </tboby>
        </div>            
        </table> 
    </td> 
           
    <td>&emsp;</td>
        
    <td VALIGN="TOP">  
    <div style="height:500px; overflow-y:scroll;">
        <!-- zugewiesene Gebiete -->
        <table class="table" style="width: 400px;">
            <caption>Assigned Areas</caption>
            <thead>  
                <th><a ng-click="GebGrpCtrl.modalData.orderAssigned('id')">
                        ID
                        <span ng-show="GebGrpCtrl.modalData.predicateAssigned === 'id'">{{GebGrpCtrl.modalData.reverseAssigned===true ? '&#9650;':'&#9660;'}}</span>
                    </a>
                </th>
                <th><a ng-click="GebGrpCtrl.modalData.orderAssigned('gebiet')">
                        Gebiet
                        <span ng-show="GebGrpCtrl.modalData.predicateAssigned === 'gebiet'">{{GebGrpCtrl.modalData.reverseAssigned===true ? '&#9650;':'&#9660;'}}</span>
                    </a>
                </th>
                <th> <!--Button--> </th>
            </thead>
            <tboby>
                <tr ng-repeat="item in GebGrpCtrl.modalData.assignedGebietList | orderBy:GebGrpCtrl.modalData.predicateAssigned:GebGrpCtrl.modalData.reverseAssigned">
                    <td ng-bind="item.id"></td>
                    <!--<td ng-bind="item.ebenen_id"></td>-->
                    <td ng-bind="item.gebiet"></td>
                    <td><button type="button"
                                class="btn btn-primary"
                                ng-click="GebGrpCtrl.modalData.removeGebiet(item)"
                                style="width:5.5em"
                                ng-disabled="{{['Edit','All','Add'].indexOf(GebGrpCtrl.formGebietGruppe.typ)>-1 ? false:true}}"
                                ng-hide="{{['Edit','All','Add'].indexOf(GebGrpCtrl.formGebietGruppe.typ)>-1 ? false:true}}">
                            Remove
                        </button>
                    </td>
                </tr>
            </tboby>
        </table> 
    </div> 
    </td>
    
    </tr>
    </table>
    </form>
    <!--</div>-->
</div>
        
        
        
<div class="modal-footer">
    <button class="btn btn-danger"
            type="button"
            style="float: left;"
            ng-click="GebGrpCtrl.modalData.delete()"
            ng-hide="{{['All'].indexOf(GebGrpCtrl.formGebietGruppe.typ)>-1 ? false:true}}"
            ng-disabled="{{['All'].indexOf(GebGrpCtrl.formGebietGruppe.typ)>-1 ? false:true}}" > 
        Delete Group
    </button>
    
    <button class="btn btn-default" type="button" ng-click="GebGrpCtrl.modalData.cancel()">Close</button>

    <button class="btn btn-success" 
            type="button" 
            ng-click="GebGrpCtrl.modalData.submit()"
            ng-hide="{{['Edit','All','Add'].indexOf(GebGrpCtrl.formGebietGruppe.typ)>-1 ? false:true}}"
            ng-disabled="EingabeGebietGruppe.$error.required || EingabeGebietGruppe.$invalid || {{['Edit','All','Add'].indexOf(GebGrpCtrl.formGebietGruppe.typ)>-1 ? false:true}}">
        {{GebGrpCtrl.modalData.modalTitle}}
    </button>
</div>
           
        
<!--</script>-->