<div class="container" style="height:100%">
    <div id="loader">
        <div class="loader-icon-wrapper" style="text-align: center; padding-top: 20%;">
            <img src="assets/images/loader.gif" />
            <p style="line-height: 100px;font-size:30px;">{{'map.loading' | translate}} ...</p>
        </div>
    </div>

    <div style="height:95%;display:none" id="GroupList">
        <!--<div ng-controller="GroupsTabCtrl as GTCtrl" style="height:95%">-->

        <h2>
            <span style="display: inline-block;font-weight:bold" ng-bind="GTCtrl.groupHome.gruppenname" ng-cloak></span>
            <button type="button" class="btn btn-warning" ng-disabled="GTCtrl.groupParent.gruppenname ? false:true" ng-click="GTCtrl.data.loadGroupsView(GTCtrl.groupParent.id)" style="width:24em;" ng-cloak>
                {{'admin.parent_group' | translate}}: <span style="font-weight:bold" ng-show="GTCtrl.groupParent.gruppenname ? true:false" ng-bind="GTCtrl.groupParent.gruppenname"></span>  <!--    {{item.permission=='W' ? "Edit &#x270E;":"View &#x1f50d;"}}   ng-disabled="-->
            </button>
            <!--Edit/View Group-->
            <button type="button" class="{{['W', 'A'].indexOf(GTCtrl.groupHome.rights.gruppen_admin) > -1 ? 'btn btn-primary':'btn btn-info'}}" ng-click="GTCtrl.data.openGruppeDialog(GTCtrl.groupHome, true)" ng-disabled="['R','W','A'].indexOf(GTCtrl.groupHome.rights.gruppen_admin) > -1 ? false:true"
                ng-hide="['R','W','A'].indexOf(GTCtrl.groupHome.rights.gruppen_admin) > -1 ? false:true" ng-cloak ng-if="['W', 'A'].indexOf(GTCtrl.groupHome.rights.gruppen_admin) > -1">
                {{ 'admin.edit_group' | translate}} &#x270E;
            </button>
            <button type="button" class="{{['W', 'A'].indexOf(GTCtrl.groupHome.rights.gruppen_admin) > -1 ? 'btn btn-primary':'btn btn-info'}}" ng-click="GTCtrl.data.openGruppeDialog(GTCtrl.groupHome, true)" ng-disabled="['R','W','A'].indexOf(GTCtrl.groupHome.rights.gruppen_admin) > -1 ? false:true"
                ng-hide="['R','W','A'].indexOf(GTCtrl.groupHome.rights.gruppen_admin) > -1 ? false:true" ng-cloak ng-if="['W', 'A'].indexOf(GTCtrl.groupHome.rights.gruppen_admin) < 0">
                {{'admin.view_group' | translate}} &#x2315;
            </button>
            <!--Edit/View Layers-->
            <button type="button" class="{{(['W', 'A'].indexOf(GTCtrl.groupHome.rights.gruppen_admin) > -1 && GTCtrl.groupHome.id !== '1') ? 'btn btn-primary':'btn btn-info'}}" ng-click="GTCtrl.data.openGroupLayerDialog(GTCtrl.groupHome)" ng-disabled="['R','W','A'].indexOf(GTCtrl.groupHome.rights.gruppen_admin) > -1 ? false:true"
                ng-hide="['R','W','A'].indexOf(GTCtrl.groupHome.rights.gruppen_admin) > -1 ? false:true" ng-if="(['W', 'A'].indexOf(GTCtrl.groupHome.rights.gruppen_admin) > -1 && GTCtrl.groupHome.id !== '1')">
                {{'admin.edit_layer' | translate}} &#x270E;
            </button>
            <button type="button" class="{{(['W', 'A'].indexOf(GTCtrl.groupHome.rights.gruppen_admin) > -1 && GTCtrl.groupHome.id !== '1') ? 'btn btn-primary':'btn btn-info'}}" ng-click="GTCtrl.data.openGroupLayerDialog(GTCtrl.groupHome)" ng-disabled="['R','W','A'].indexOf(GTCtrl.groupHome.rights.gruppen_admin) > -1 ? false:true"
                ng-hide="['R','W','A'].indexOf(GTCtrl.groupHome.rights.gruppen_admin) > -1 ? false:true" ng-if="!(['W', 'A'].indexOf(GTCtrl.groupHome.rights.gruppen_admin) > -1 && GTCtrl.groupHome.id !== '1')">
                {{'admin.view_layer' | translate}} &#x2315;
            </button>
            <!--ng-disabled="GTCtrl.groupHome.id==='1' ? true:false"-->
            <!--Edit/View Alarm-->
            <button type="button" class="{{['W','A'].indexOf(GTCtrl.groupHome.rights.alarm_admin) > -1 ? 'btn btn-primary':'btn btn-info'}}" ng-click="GTCtrl.data.openGroupAlarms(GTCtrl.groupHome)" ng-disabled="(['R','W','A'].indexOf(GTCtrl.groupHome.rights.alarm_admin) > -1 ? false:true) ||  !(GTCtrl.groupHome.alarmkunden > 0)"
                ng-hide="['R','W','A'].indexOf(GTCtrl.groupHome.rights.alarm_admin) > -1 ? false:true" ng-if="['W','A'].indexOf(GTCtrl.groupHome.rights.alarm_admin) > -1">
                {{'admin.edit_alarm' | translate}} &#x270E;
            </button>
            <button type="button" class="{{['W','A'].indexOf(GTCtrl.groupHome.rights.alarm_admin) > -1 ? 'btn btn-primary':'btn btn-info'}}" ng-click="GTCtrl.data.openGroupAlarms(GTCtrl.groupHome)" ng-disabled="(['R','W','A'].indexOf(GTCtrl.groupHome.rights.alarm_admin) > -1 ? false:true) ||  !(GTCtrl.groupHome.alarmkunden > 0)"
                ng-hide="['R','W','A'].indexOf(GTCtrl.groupHome.rights.alarm_admin) > -1 ? false:true" ng-if="['W','A'].indexOf(GTCtrl.groupHome.rights.alarm_admin) < 0">
                {{'admin.view_alarm' | translate}} &#x2315;
            </button>
            <!--Alarm MasterList-->
            &emsp;
            <button type="button" class="{{['A'].indexOf(GTCtrl.groupHome.rights.alarm_super_admin) > -1 ? 'btn btn-primary':'btn btn-info'}}" ng-click="GTCtrl.data.openGroupAlarmDialog(GTCtrl.groupHome)" style="width:9.5em" ng-disabled="['A'].indexOf(GTCtrl.groupHome.rights.alarm_super_admin) > -1 ? false:true"
                ng-hide="['A'].indexOf(GTCtrl.groupHome.rights.alarm_super_admin) > -1 ? false:true">
                Alarm MasterList
            </button>
            <button type="button" class="btn btn-success" ng-click="GTCtrl.data.openGruppeDialog();" ng-disabled="['A', 'C'].indexOf(GTCtrl.groupHome.rights.gruppen_admin) > -1 ? false:true" ng-cloak>
                {{'admin.add_group' | translate}}
            </button>
            <button type="button" class="btn btn-success" ng-click="GTCtrl.data.openAddUserDialog();" ng-disabled="['A'].indexOf(GTCtrl.groupHome.rights.user_admin) > -1 ? false:true" ng-cloak>
                {{'admin.add_user' | translate}}
            </button>
        </h2>

        <div>
            <form>
                <div class="input-group">
                    <div class="input-group-addon" style="font-size: 140%;">&#x2315;</div>
                    <input type="text" class="form-control" placeholder="{{'admin.search'|translate}}" ng-model="searchText">
                    <div align="right" class="input-group-addon" ng-click="searchText = ''">&#10005;</div>
                </div>
            </form>
        </div>

        <br>

        <div style="height:550px; overflow-y:scroll;">


            <!-- Gruppen Tabelle -->
            <table class="table" ng-show="GTCtrl.childrenList ? true:false">
                <thead>
                    <!--                <th>ID</th>-->
                    <th><a ng-click="GTCtrl.data.orderGruppe('gruppenname')">
                        {{'admin.name'|translate}}
                        <span class="sortorder" ng-show="GTCtrl.data.predicateGruppe === 'gruppenname'">{{GTCtrl.data.reverseGruppe===true ? '&#9650;':'&#9660;'}}</span>
                    </a>
                    </th>
                    <th>
                        <!-- Bearbeiten -->
                    </th>
                </thead>
                <tbody>
                    <!-- Auflistung der Gruppen in aktuellen Gruppe (zuerst)-->
                    <tr ng-repeat="groupitem in GTCtrl.childrenList| orderBy:GTCtrl.data.predicateGruppe:GTCtrl.data.reverseGruppe | filter:searchText:strict">
                        <!--                        <td ng-bind="groupitem.id"></td>-->
                        <td>
                            <a ng-click="GTCtrl.data.loadGroupsView(groupitem.id)" style="font-weight:bold;" ng-bind="groupitem.gruppenname"></a>
                        </td>
                        <td style="display:flex;justify-content:center">
                            <!--Edit/View Group-->
                            <button type="button" class="{{['W', 'A'].indexOf(groupitem.rights.gruppen_admin) > -1 ? 'btn btn-primary':'btn btn-info'}}" ng-click="GTCtrl.data.openGruppeDialog(groupitem)" ng-disabled="['R','W','A'].indexOf(groupitem.rights.gruppen_admin) > -1 ? false:true"
                                ng-hide="['R','W','A'].indexOf(groupitem.rights.gruppen_admin) > -1 ? false:true" ng-if="['W', 'A'].indexOf(groupitem.rights.gruppen_admin) > -1">
                                {{'admin.edit_group' | translate}} &#x270E;
                            </button>
                            <button type="button" class="{{['W', 'A'].indexOf(groupitem.rights.gruppen_admin) > -1 ? 'btn btn-primary':'btn btn-info'}}" ng-click="GTCtrl.data.openGruppeDialog(groupitem)" ng-disabled="['R','W','A'].indexOf(groupitem.rights.gruppen_admin) > -1 ? false:true"
                                ng-hide="['R','W','A'].indexOf(groupitem.rights.gruppen_admin) > -1 ? false:true" ng-if="['W', 'A'].indexOf(groupitem.rights.gruppen_admin) < 0">
                                {{'admin.view_group' | translate}} &#x2315;
                            </button> &emsp;
                            <!--Edit/View Layers-->
                            <button type="button" class="{{['W', 'A'].indexOf(groupitem.rights.gruppen_admin) > -1 ? 'btn btn-primary':'btn btn-info'}}" ng-click="GTCtrl.data.openGroupLayerDialog(groupitem)" ng-disabled="['R','W','A'].indexOf(groupitem.rights.gruppen_admin) > -1 ? false:true"
                                ng-hide="['R','W','A'].indexOf(groupitem.rights.gruppen_admin) > -1 ? false:true" ng-if="['W', 'A'].indexOf(groupitem.rights.gruppen_admin) > -1">
                                {{'admin.edit_layer' | translate}} &#x270E;
                            </button>
                            <button type="button" class="{{['W', 'A'].indexOf(groupitem.rights.gruppen_admin) > -1 ? 'btn btn-primary':'btn btn-info'}}" ng-click="GTCtrl.data.openGroupLayerDialog(groupitem)" ng-disabled="['R','W','A'].indexOf(groupitem.rights.gruppen_admin) > -1 ? false:true"
                                ng-hide="['R','W','A'].indexOf(groupitem.rights.gruppen_admin) > -1 ? false:true" ng-if="['W', 'A'].indexOf(groupitem.rights.gruppen_admin) < 0">
                                {{'admin.view_layer' | translate}} &#x2315;
                            </button> &emsp;
                            <!--Edit/View Alarms-->
                            <button type="button" class="{{['W','A'].indexOf(groupitem.rights.alarm_admin) > -1 ? 'btn btn-primary':'btn btn-info'}}" ng-click="GTCtrl.data.openGroupAlarms(groupitem)" ng-disabled="(['R','W','A'].indexOf(groupitem.rights.alarm_admin) > -1 ? false:true ) || !(groupitem.alarmkunden > 0)"
                                ng-hide="['R','W','A'].indexOf(groupitem.rights.alarm_admin) > -1 ? false:true" ng-if="['W', 'A'].indexOf(groupitem.rights.alarm_admin) > -1">
                                {{'admin.edit_alarm' | translate}} &#x270E;
                            </button>
                            <button type="button" class="{{['W','A'].indexOf(groupitem.rights.alarm_admin) > -1 ? 'btn btn-primary':'btn btn-info'}}" ng-click="GTCtrl.data.openGroupAlarms(groupitem)" ng-disabled="(['R','W','A'].indexOf(groupitem.rights.alarm_admin) > -1 ? false:true ) || !(groupitem.alarmkunden > 0)"
                                ng-hide="['R','W','A'].indexOf(groupitem.rights.alarm_admin) > -1 ? false:true" ng-if="['W', 'A'].indexOf(groupitem.rights.alarm_admin) < -0">
                                {{'admin.view_alarm' | translate}} &#x2315;
                            </button> &emsp;
                            <!--View Log-->
                            <button type="button" class="btn btn-primary" ng-hide="['R','W','A'].indexOf(groupitem.rights.gruppen_admin) > -1 ? false:true" ng-click="GTCtrl.data.openUserlogDialog(groupitem)">
                                {{'admin.view_log' | translate}} &#x2315;
                            </button> &emsp;
                            <!--Alarm Masterlist-->
                            <button type="button" class="{{['A'].indexOf(GTCtrl.groupHome.rights.alarm_super_admin) > -1 ? 'btn btn-primary':'btn btn-info'}}" ng-click="GTCtrl.data.openGroupAlarmDialog(groupitem)" style="width:9.5em" ng-disabled="['A'].indexOf(GTCtrl.groupHome.rights.alarm_super_admin) > -1 ? false:true"
                                ng-hide="['A'].indexOf(GTCtrl.groupHome.rights.alarm_super_admin) > -1 ? false:true">
                                Alarm MasterList
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>


            <!-- User Tabelle -->
            <table class="table" ng-show="GTCtrl.usersList ? true:false">
                <colgroup>
                    <col style="width:20%">
                    <col style="width:25%">
                    <col style="width:25%">
                    <col style="width:15%">
                    <col style="width:15%">
                </colgroup>
                <thead>
                    <!--                <th>ID</th>-->
                    <th><a ng-click="GTCtrl.data.orderUser('benutzername')">
                        {{'start.username'| translate}}
                        <span ng-show="GTCtrl.data.predicateUser === 'benutzername'">{{GTCtrl.data.reverseUser===true ? '&#9650;':'&#9660;'}}</span>
                    </a>
                    </th>
                    <th><a ng-click="GTCtrl.data.orderUser('lastname')">
                        {{'admin.name' | translate}}
                        <span ng-show="GTCtrl.data.predicateUser === 'lastname'">{{GTCtrl.data.reverseUser===true ? '&#9650;':'&#9660;'}}</span>
                    </a>
                    </th>
                    <th>
                        <!-- Vorname -->
                    </th>
                    <th>
                        <!-- Bearbeiten -->
                    </th>
                    <th>
                        <!-- view log -->
                    </th>
                </thead>
                <tbody>
                    <!-- Auflistung der User in aktuellen Gruppe GETRENNT VON GRUPPEN (zuletzt)-->
                    <tr ng-repeat="useritem in GTCtrl.usersList| orderBy:GTCtrl.data.predicateUser:GTCtrl.data.reverseUser | filter:searchText:strict">
                        <!--                        <td ng-bind="useritem.id"></td>-->
                        <td ng-bind="useritem.benutzername"></td>
                        <td ng-bind="useritem.lastname"></td>
                        <td ng-bind="useritem.firstname"></td>
                        <td><button type="button" class="{{['W', 'A'].indexOf(GTCtrl.groupHome.rights.user_admin) > -1 ? 'btn btn-primary':'btn btn-info'}}" ng-click="GTCtrl.data.openEditViewUserDialog(useritem)" ng-if="['W', 'A'].indexOf(GTCtrl.groupHome.rights.user_admin) > -1  && GTCtrl.groupHome.rights.gruppen_admin == 'A'">
                                {{'admin.edit_user' | translate}} &#x270E;
                            </button>
                            <button type="button" class="{{['W', 'A'].indexOf(GTCtrl.groupHome.rights.user_admin) > -1 ? 'btn btn-primary':'btn btn-info'}}" ng-click="GTCtrl.data.openEditViewUserDialog(useritem)" ng-if="['W', 'A'].indexOf(GTCtrl.groupHome.rights.user_admin) < 0 || GTCtrl.groupHome.rights.gruppen_admin != 'A'">
                                {{'admin.view_user' | translate}} &#x2315;
                            </button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>
</div>