<!--/*Modal EDIT/VIEW GroupsLayer*/-->
<!--<script type="text/ng-template" id="EVUserDialog.html">-->
<div class="modal-header">
    <button type="button" class="close" ng-click="LayerCtrl.modalData.cancel()">&times;</button>
    <h4 class="modal-title">{{LayerCtrl.modalData.modalTitle}} {{'admin.for' | translate}} {{'admin.group' | translate}}: {{LayerCtrl.formLayers.gruppenname}}</h4>
</div>
<div class="modal-body">


    <div style="height:500px; overflow-y:scroll;">
        <!-- zugewiesene Layer -->
        <table class="table">
            <caption>{{'admin.assigned' | translate}} {{'layers' | translate}}</caption>
            <thead>
                <!--<th>ID</th>-->
                <!--<th>Ebenen ID</th>-->

                <th><a ng-click="LayerCtrl.modalData.orderAssigned('standardname')">
                        {{'admin.standardname' | translate}}
                        <span ng-show="LayerCtrl.modalData.predicateAssigned === 'standardname'">{{LayerCtrl.modalData.reverseAssigned===true ? '&#9650;':'&#9660;'}}</span>
                    </a>
                </th>
                <!--    <th><a ng-click="LayerCtrl.modalData.orderAssigned('geoserver_ebene')">
                        Geoservername
                        <span ng-show="LayerCtrl.modalData.predicateAssigned === 'geoserver_ebene'">{{LayerCtrl.modalData.reverseAssigned===true ? '&#9650;':'&#9660;'}}</span>
                    </a>
                </th> -->
                <th><a ng-click="LayerCtrl.modalData.orderAssigned('anzeige_name')">
                        {{'admin.displayname' | translate}}
                        <span ng-show="LayerCtrl.modalData.predicateAssigned === 'anzeige_name'">{{LayerCtrl.modalData.reverseAssigned===true ? '&#9650;':'&#9660;'}}</span>
                    </a>
                </th>
                <th>{{'admin.reloadtime' | translate}}</th>
                <th>{{'admin.featureinfo' | translate}}</th>
                <th>{{'admin.checked_on_login' | translate}}</th>
                <th>{{'admin.permanent' | translate}}</th>
                <th>
                    <!-- Button -->
                </th>
            </thead>
            <tboby>
                <tr ng-repeat="item in LayerCtrl.modalData.assignedLayerList | orderBy:LayerCtrl.modalData.predicateAssigned:LayerCtrl.modalData.reverseAssigned">
                    <!--<td ng-bind="item.id"></td>-->
                    <!--<td ng-bind="item.ebenen_id"></td>-->
                    <td ng-bind="item.standardname"></td>
                    <td><input type="text" class="form-admin" style="width:9em" ng-model="item.anzeige_name" ng-disabled="{{['Edit','All'].indexOf(LayerCtrl.formLayers.typ)>-1 ? false:true}}"></td>
                    <td><input type="text" class="form-admin" size="2.5" ng-model="item.reload_time" ng-disabled="{{['Edit','All'].indexOf(LayerCtrl.formLayers.typ)>-1 ? false:true}}"> min
                        <td align="center"><input type="checkbox" class="form-admin" id="feature_info" ng-model="item.feature_info" ng-true-value="'t'" ng-false-value="'f'" ng-disabled="{{['Edit','All'].indexOf(LayerCtrl.formLayers.typ)>-1 ? false:true}}">
                        </td>
                        <td align="center"><input type="checkbox" class="form-admin" id="checked_onlogin" ng-model="item.checked_onlogin" ng-true-value="'t'" ng-false-value="'f'" ng-disabled="{{['Edit','All'].indexOf(LayerCtrl.formLayers.typ)>-1 ? false:true}}">
                        </td>
                        <td align="center"><input type="checkbox" class="form-admin" id="permanent" ng-model="item.permanent" ng-true-value="'t'" ng-false-value="'f'" ng-disabled="{{['Edit','All'].indexOf(LayerCtrl.formLayers.typ)>-1 ? false:true}}">
                        </td>
                        <td><button type="button" class="btn btn-primary" ng-click="LayerCtrl.modalData.removeLayer(item)" ng-disabled="{{['Edit','All'].indexOf(LayerCtrl.formLayers.typ)>-1 ? false:true}}" ng-hide="{{['Edit','All'].indexOf(LayerCtrl.formLayers.typ)>-1 ? false:true}}">
                            {{'admin.remove_layer' | translate}}
                        </button>
                        </td>
                </tr>
            </tboby>
        </table>

        <br>
        <!--verfuegbare Layer               ng-show[...] alternative - ng-hide="{{(['Edit','All'].indexOf(LayerCtrl.formLayers.typ)>-1-->
        <table class="table" ng-show="LayerCtrl.modalData.availableLayerList ? true:false">
            <caption>{{'admin.available' | translate}} {{'layers' | translate}}</caption>
            <thead>
                <!--<th>ID</th>-->
                <th><a ng-click="LayerCtrl.modalData.orderAvailable('standardname')">
                        {{'admin.standardname' | translate}}
                        <span ng-show="LayerCtrl.modalData.predicateAvailable === 'standardname'">{{LayerCtrl.modalData.reverseAvailable===true ? '&#9650;':'&#9660;'}}</span>
                    </a>
                </th>
                <th>
                    <!-- Button -->
                </th>
            </thead>
            <tboby>
                <tr ng-repeat="item in LayerCtrl.modalData.availableLayerList | orderBy:LayerCtrl.modalData.predicateAvailable:LayerCtrl.modalData.reverseAvailable | filter:LayerCtrl.modalData.isInAvailable">
                    <!--<td ng-bind="item.id"></td>-->
                    <td ng-bind="item.standardname"></td>
                    <td><button type="button" class="btn btn-primary" ng-click="LayerCtrl.modalData.addLayer(item)" ng-disabled="{{['Edit','All'].indexOf(LayerCtrl.formLayers.typ)>-1 ? false:true}}" ng-hide="{{['Edit','All'].indexOf(LayerCtrl.formLayers.typ)>-1 ? false:true}}">
                            {{'admin.add_layer' | translate}}
                        </button>
                    </td>
                </tr>
            </tboby>

        </table>
    </div>



</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="LayerCtrl.modalData.cancel()">{{'admin.cancel' | translate}}</button>
    <button class="btn btn-success" type="button" ng-click="LayerCtrl.modalData.submit()" ng-hide="{{LayerCtrl.formLayers.typ=='View' ? true:false}}" ng-disabled="">
        {{'admin.save' | translate}} & {{'admin.exit' | translate}}
    </button>
</div>