<!--/*Modal Gruppe*/-->
<!--<script type="text/ng-template" id="GruppeDialog.html">-->
<div class="modal-header">
    <button type="button" class="close" ng-click="GrCtrl.modalData.cancel()">&times;</button>
    <h4 class="modal-title">{{GrCtrl.modalData.modalTitle}}</h4>
</div>
<div class="modal-body">
    <form name="EingabeGruppe">
        <table>
            <tr>
                <td>
                    <table class="adminTable" style="margin: auto">
                        <!--            <tr>
                                        <td><label for="vatergruppenid">Parent Group &emsp;</label></td>
                                        <td><select class="form-admin-select"
                                                    id="vatergruppenid"
                                                    ng-options="option.id as option.name for option in GrCtrl.formGroups.vatergruppen"
                                                    ng-model="GrCtrl.formGroups.vatergruppenid"
                                                    ng-disabled="{{['Edit','All','Add'].indexOf(GrCtrl.formGroups.typ)>-1 ? false:true}}" /> //zusatz in EDIT
                                            </select>
                                            &emsp;
                                        </td>
                                    </tr>-->
                        <tr>
                            <td><label for="gruppenname">{{'admin.groupname' | translate}} &emsp;</label></td>
                            <td><input type="text" class="form-admin" placeholder="{{'admin.groupname' | translate}}" id="gruppenname" ng-model="GrCtrl.formGroups.gruppenname" ng-disabled="{{['Edit', 'All', 'Add'].indexOf(GrCtrl.formGroups.typ) > - 1 ? false:true}}"
                                    required/> &emsp;
                            </td>
                        </tr>
                        <tr>
                            <td><label for="theme_id">{{'admin.themeid' | translate}} &emsp;</label>
                                <td><input type="text" class="form-admin" placeholder="{{'admin.themeid' | translate}}" id="theme_id" ng-model="GrCtrl.formGroups.theme_id" ng-disabled="{{['Edit', 'All', 'Add'].indexOf(GrCtrl.formGroups.typ) > - 1 ? false:true}}"
                                    /> &emsp;
                                </td>
                        </tr>

                        <tr>
                            <td colspan="2"><label for="geosuche">{{'admin.find_address' | translate}} &emsp; <span style="font-size: 140%;">&#x2315;</span></label>
                                <input type="text" class="form-admin" id="geosuche" typeahead-on-select="GrCtrl.modalData.selectLocation($item)" typeahead-min-length="5" typeahead-no-results="GrCtrl.formGroups.noResults" typeahead-loading="GrCtrl.formGroups.loadingLocations" uib-typeahead="item as item.formatted_address for item in GrCtrl.modalData.getLocation($viewValue)"
                                    placeholder="{{'admin.type_location' | translate}}" ng-model="GrCtrl.formGroups.LocationSelect" class="form-control">
                                <i ng-show="GrCtrl.formGroups.loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                <div ng-show="GrCtrl.formGroups.noResults">
                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td><label for="laenge">{{'admin.longitude' | translate}} &emsp;</label></td>
                            <td><input type="text" class="form-admin" placeholder="{{'admin.longitude' | translate}}..." id="laenge" ng-pattern="/^-*\d+([\.\,]\d*)?$/" ng-model="GrCtrl.formGroups.laenge" ng-disabled="{{['Edit', 'All', 'Add'].indexOf(GrCtrl.formGroups.typ) > - 1 ? false:true}}"
                                    ng-blur="GrCtrl.formGroups.positionEingabe()" required/> &emsp;
                            </td>
                        </tr>
                        <tr>
                            <td><label for="breite">{{'admin.latitude' | translate}} &emsp;</label></td>
                            <td><input type="text" class="form-admin" placeholder="{{'admin.longitude' | translate}}..." id="breite" ng-pattern="/^-*\d+([\.\,]\d*)?$/" ng-model="GrCtrl.formGroups.breite" ng-disabled="{{['Edit', 'All', 'Add'].indexOf(GrCtrl.formGroups.typ) > - 1 ? false:true}}"
                                    ng-blur="GrCtrl.formGroups.positionEingabe()" required/> &emsp;
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><label for="fenstergroesse">{{'admin.window' | translate}} &nbsp;</label>
                                <select id="fenstergroesse" style="width:15em;margin-left:15px;" ng-options="option.name for option in GrCtrl.formGroups.Fenstergroessen track by option.value" ng-model="GrCtrl.formGroups.selectedFenstergroesse" ng-change="GrCtrl.formGroups.sizeChange()"
                                    ng-disabled="{{['Edit', 'All', 'Add'].indexOf(GrCtrl.formGroups.typ) > - 1 ? false:true}}" />
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <table style="margin-left: 1em;">
                                    <!--//ng-hide="GrCtrl.formGroups.selectedFenstergroesse.value !== '1'"-->
                                    <tbody>
                                        <tr>
                                            <td><label for="lonMin">{{'admin.longitude' | translate}} ({{'admin.min' | translate}}) &emsp;</label></td>
                                            <td><input type="text" size="7" class="form-admin" placeholder="lonMin..." id="lonMin" ng-pattern="/^-*\d+([\.\,]\d*)?$/" ng-model="GrCtrl.formGroups.lonMin" ng-disabled="{{['Edit', 'All', 'Add'].indexOf(GrCtrl.formGroups.typ) > - 1 ? false:true}}"
                                                    ng-change="GrCtrl.formGroups.latlonChange()" ng-blur="GrCtrl.formGroups.positionEingabe()" required/> &emsp; <span ng-show="GrCtrl.formGroups.lonfalse" style="color:red;">✗ min < max</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label for="lonMax">{{'admin.longitude' | translate}} ({{'admin.max' | translate}}) &emsp;</label></td>
                                            <td><input type="text" size="7" class="form-admin" placeholder="lonMax..." id="lonMax" ng-pattern="/^-*\d+([\.\,]\d*)?$/" ng-model="GrCtrl.formGroups.lonMax" ng-disabled="{{['Edit', 'All', 'Add'].indexOf(GrCtrl.formGroups.typ) > - 1 ? false:true}}"
                                                    ng-change="GrCtrl.formGroups.latlonChange()" ng-blur="GrCtrl.formGroups.positionEingabe()" required/> &emsp; <span ng-show="GrCtrl.formGroups.lonfalse" style="color:red;">✗ min < max</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label for="latMin">{{'admin.latitude' | translate}} ({{'admin.min' | translate}}) &emsp;</label></td>
                                            <td><input type="text" size="7" class="form-admin" placeholder="latMin..." id="latMin" ng-pattern="/^-*\d+([\.\,]\d*)?$/" ng-model="GrCtrl.formGroups.latMin" ng-disabled="{{['Edit', 'All', 'Add'].indexOf(GrCtrl.formGroups.typ) > - 1 ? false:true}}"
                                                    ng-change="GrCtrl.formGroups.latlonChange()" ng-blur="GrCtrl.formGroups.positionEingabe()" required/> &emsp; <span ng-show="GrCtrl.formGroups.latfalse" style="color:red;">✗ min < max</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label for="latMax">{{'admin.latitude' | translate}} ({{'admin.max' | translate}}) &emsp;</label></td>
                                            <td><input type="text" size="7" class="form-admin" placeholder="latMax..." id="latMax" ng-pattern="/^-*\d+([\.\,]\d*)?$/" ng-model="GrCtrl.formGroups.latMax" ng-disabled="{{['Edit', 'All', 'Add'].indexOf(GrCtrl.formGroups.typ) > - 1 ? false:true}}"
                                                    ng-change="GrCtrl.formGroups.latlonChange()" ng-blur="GrCtrl.formGroups.positionEingabe()" required/> &emsp; <span ng-show="GrCtrl.formGroups.latfalse" style="color:red;">✗ min < max</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td><label for="max_displayzeit">{{'admin.max_display' | translate}} &emsp;</label></td>
                            <td><input type="number" style="width:5em" min="0" max="{{GrCtrl.formGroups.PARENTmax_displayzeit}}" class="form-admin" placeholder="{{'admin.max_display' | translate}}" id="max_displayzeit" ng-model="GrCtrl.formGroups.max_displayzeit"
                                    ng-disabled="{{['Edit', 'All', 'Add'].indexOf(GrCtrl.formGroups.typ) > - 1 ? false:true}}" required/> &nbsp; min &emsp;
                            </td>
                        </tr>
                        <tr>
                            <td><label for="archiv_tage">{{'admin.archive_days' | translate}} &emsp;</label></td>
                            <td><input type="number" style="width:5em" min="0" max="{{GrCtrl.formGroups.PARENTarchiv_tage}}" class="form-admin" placeholder="{{'admin.archive_days' | translate}}..." id="archiv_tage" ng-model="GrCtrl.formGroups.archiv_tage"
                                    ng-disabled="{{['Edit', 'All', 'Add'].indexOf(GrCtrl.formGroups.typ) > - 1 ? false:true}}" required/> &emsp;
                            </td>
                        </tr>
                        <tr>
                            <td><label for="archiv_ab">
                                    <span uib-popover="{{'admin.archive_popup' | translate}}" popover-trigger="mouseenter" popover-placement="top">
                                        {{'admin.archive_from' | translate}} &emsp;
                                    </span>
                                </label></td>
                            <td><input type="date" class="form-admin" placeholder="YYYY-MM-DD" id="archiv_ab" min="{{GrCtrl.formGroups.PARENTarchiv_ab}}" ng-model="GrCtrl.formGroups.archiv_ab" ng-disabled="{{['Edit', 'All', 'Add'].indexOf(GrCtrl.formGroups.typ) > - 1 ? false:true}}"
                                    required/> &emsp;
                            </td>
                        </tr>
                        <tr>
                            <td><label for="max_zoom">{{'admin.max' | translate}}  {{'admin.zoom' | translate}} &nbsp;</label></td>
                            <td><input type="number" style="width:5em" min="{{GrCtrl.formGroups.PARENTmin_zoom>1 ? GrCtrl.formGroups.PARENTin_zoom:'1'}}" max="{{GrCtrl.formGroups.PARENTmax_zoom<18 ? GrCtrl.formGroups.PARENTmax_zoom:'18'}}" class="form-admin"
                                    placeholder="{{'admin.max' | translate}}  {{'admin.zoom' | translate}}..." id="max_zoom" ng-model="GrCtrl.formGroups.max_zoom" ng-disabled="{{['Edit', 'All', 'Add'].indexOf(GrCtrl.formGroups.typ) > - 1 ? false:true}}" ng-change="GrCtrl.formGroups.zoomChange()"
                                    required/> &emsp; <span ng-show="GrCtrl.formGroups.zoomfalse" style="color:red;">✗ min < max</span>
                            </td>
                        </tr>
                        <tr>
                            <td><label for="min_zoom">{{'admin.min' | translate}}  {{'admin.zoom' | translate}}  &nbsp;</label></td>
                            <td><input type="number" style="width:5em" min="{{GrCtrl.formGroups.PARENTmin_zoom>1 ? GrCtrl.formGroups.PARENTmin_zoom:'1'}}" max="{{GrCtrl.formGroups.PARENTmax_zoom<18 ? GrCtrl.formGroups.PARENTmax_zoom:'18'}}" class="form-admin"
                                    placeholder="{{'admin.min' | translate}}  {{'admin.zoom' | translate}} ..." id="min_zoom" ng-model="GrCtrl.formGroups.min_zoom" ng-disabled="{{['Edit', 'All', 'Add'].indexOf(GrCtrl.formGroups.typ) > - 1 ? false:true}}"
                                    ng-change="GrCtrl.formGroups.zoomChange()" required/> &emsp; <span ng-show="GrCtrl.formGroups.zoomfalse" style="color:red;">✗ min < max</span>
                            </td>
                        </tr>
                        <tr>
                            <td><label for="liveblids">{{'admin.liveblids' | translate}} &emsp;</label></td>
                            <td><input type="checkbox" class="form-admin" id="liveblids" ng-model="GrCtrl.formGroups.liveblids" ng-true-value="'t'" ng-false-value="'f'" ng-disabled="(!(['Edit', 'All', 'Add'].indexOf(GrCtrl.formGroups.typ) > - 1) || !GrCtrl.formGroups.PARENTliveblids)"
                                />
                            </td>
                        </tr>
                        <tr>
                            <td><label for="animation">{{'admin.animation' | translate}} &emsp;</label></td>
                            <td><input type="checkbox" class="form-admin" id="animation" ng-model="GrCtrl.formGroups.animation" ng-true-value="'t'" ng-false-value="'f'" ng-disabled="(!(['Edit', 'All', 'Add'].indexOf(GrCtrl.formGroups.typ) > - 1) || !GrCtrl.formGroups.PARENTanimation)"
                                />
                            </td>
                        </tr>
                        <tr>
                            <td><label for="sound">{{'admin.sound' | translate}} &emsp;</label></td>
                            <td><input type="checkbox" class="form-admin" id="sound" ng-model="GrCtrl.formGroups.sound" ng-true-value="'t'" ng-false-value="'f'" ng-disabled="(!(['Edit', 'All', 'Add'].indexOf(GrCtrl.formGroups.typ) > - 1) || !GrCtrl.formGroups.PARENTsound)"
                                />
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2">
                                <button type="button" class="btn btn-primary" ng-click="GrCtrl.formGroups.preview()" ng-disabled="!GrCtrl.formGroups.previewable || GrCtrl.formGroups.lonfalse || GrCtrl.formGroups.latfalse">
                                    {{'admin.preview' | translate}}
                                </button>
                            </td>
                        </tr>
                    </table>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td style="height: 480px;width:480px;border:1px solid black;">
                                    <div id="minimap"></div>
                                </td>
                            </tr>
                        </table>
                    </td>
            </tr>
        </table>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" type="button" style="float: left;" ng-click="GrCtrl.modalData.delete()" ng-hide="{{((GrCtrl.formGroups.spec !== 'SPECIAL' && ['All'].indexOf(GrCtrl.formGroups.typ) > - 1) ? false:true) || GrCtrl.formGroups.head}}" ng-disabled="{{((GrCtrl.formGroups.spec !== 'SPECIAL' && ['All'].indexOf(GrCtrl.formGroups.typ) > - 1) ? false:true) || GrCtrl.formGroups.head}}"> 
        {{'admin.delete_group' | translate}}
    </button>

    <button class="btn btn-default" type="button" ng-click="GrCtrl.modalData.cancel()">{{'admin.cancel' | translate}}</button>
    <button class="btn btn-success" type="button" ng-click="GrCtrl.modalData.submit()" ng-hide="{{['Edit', 'All', 'Add'].indexOf(GrCtrl.formGroups.typ) > - 1 ? false:true}}" ng-disabled="EingabeGruppe.$error.required || EingabeGruppe.$invalid || {{['Edit', 'All', 'Add'].indexOf(GrCtrl.formGroups.typ) > - 1 ? false:true}} || GrCtrl.formGroups.lonfalse || GrCtrl.formGroups.latfalse || GrCtrl.formGroups.zoomfalse">
        {{GrCtrl.modalData.modalButton}}
    </button>
</div>