<div class="modal-header">
    <button type="button" class="close" ng-click="PermissionCtrl.modalData.cancel()">&times;</button>
    <h4 class="modal-title">{{PermissionCtrl.modalData.modalTitle}}
        <!--on: {{PermissionCtrl.formLayers.gruppenname}}-->
    </h4>
</div>
<div class="modal-body">
    <form name="EingabePermission">
        <table class="adminTable" style="margin: auto">
            <tr>
                <td><label for="benutzername">{{'admin.user' | translate}} &nbsp;</label></td>
                <td ng-bind="PermissionCtrl.formPermission.benutzername"></td>
            </tr>
            <tr>
                <td><label for="gruppenname">{{'admin.group' | translate}} &nbsp;</label></td>
                <td><select id="gruppenname" style="width:20em;" ng-options="option.gruppenname for option in PermissionCtrl.formPermission.groups track by option.gruppenname" ng-model="PermissionCtrl.formPermission.selectedgruppenname" />
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="rollenname">{{'admin.role' | translate}} &nbsp;</label></td>
                <td><select id="rollenname" style="width:20em;" ng-options="option.rollenname for option in PermissionCtrl.formPermission.roles track by option.rollenname" ng-model="PermissionCtrl.formPermission.selectedrollenname">        <!--     ng-options="option.rollenname for option in PermissionCtrl.formPermission.roles track by option.rollenname"    -->
                <!--<option-->
                    <!--ng-repeat="opt in PermissionCtrl.formPermission.roles"-->
                    <!--value="{{opt.rollenname}}"-->
                    <!--title="{{opt.rollenname}} &#10; kann einloggen: {{opt.kann_einloggen}} &#10; alarm_admin: {{opt.alarm_admin}} &#10; alarm_gebiete: {{opt.alarm_gebiete}} &#10; alarm_gebietgruppen: {{opt.alarm_gebietgruppen}} &#10; alarm_teilnehmer: {{opt.alarm_alarme}} &#10; user_admin: {{opt.user_admin}} &#10; gruppen_admin: {{opt.gruppen_admin}}"-->
                    <!--ng-selected="{{opt.id == PermissionCtrl.formPermission.selectedrollennameid}}">-->
                  <!--{{opt.rollenname}}-->
                <!--</option>-->
            </select>
                </td>
            </tr>
        </table>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" type="button" style="float: left;" ng-click="PermissionCtrl.modalData.delete()" ng-hide="{{['Edit'].indexOf(PermissionCtrl.formPermission.typ)>-1 ? false:true}}" ng-disabled="{{['Edit'].indexOf(PermissionCtrl.formPermission.typ)>-1 ? false:true}}"> 
        {{'admin.delete_permission' | translate}}
    </button>
    <button class="btn btn-default" type="button" ng-click="PermissionCtrl.modalData.cancel()">{{'admin.cancel' | translate}}</button>
    <button class="btn btn-success" type="button" ng-click="PermissionCtrl.modalData.submit()" ng-disabled="{{['Edit'].indexOf(PermissionCtrl.formPermission.typ)>-1 ? false:true}}">
        {{'admin.save' | translate}} & {{'admin.exit' | translate}}
    </button>
</div>