<!--/*Modal AEV Rolle*/-->
<!--/*kombiniertes Modal ADD EDIT VIEW Role*/-->

<div class="modal-header">
    <button type="button" class="close" ng-click="RoleCtrl.modalData.cancel()">&times;</button>
    <h4 class="modal-title">{{RoleCtrl.modalData.modalTitle}} <span ng-show="{{RoleCtrl.formRoles.typ=='Add' ? false:true}}">on {{RoleCtrl.formRoles.rollenname}}</span></h4>
</div>
<div class="modal-body">
    <!--<b><p>{{modalDescription}}</p></b>-->
    <form name="EingabeAddRolle">
        <table class="adminTable" style="margin: auto">
            <tr>
                <td><label for="rollenname">rollenname &emsp;</label></td>
                <td><input type="text" class="form-admin" placeholder="Name..." id="rollenname" ng-model="RoleCtrl.formRoles.rollenname" required/>
                </td>
            </tr>
            <tr>
                <td><label for="kann_einloggen">kann_einloggen &emsp;</label></td>
                <td><input type="checkbox" class="form-admin" ng-model="RoleCtrl.formRoles.kann_einloggen" ng-true-value="'t'" ng-false-value="'f'" id="kann_einloggen" />
                </td>
            </tr>

            <tr>
                <td><label for="alarm_admin">alarm_admin &emsp;</label></td>
                <td><label ng-repeat="option in RoleCtrl.formRoles.permissions">
                    <input  type="radio"
                            id="alarm_admin"
                            ng-model="RoleCtrl.formRoles.alarm_admin"
                            ng-value="option"/>
                    {{option}} &emsp;
                </label>
                </td>
            </tr>

            <tr>
                <td><label for="alarm_gebiete">alarm_gebiete &emsp;</label></td>
                <td><label ng-repeat="option in RoleCtrl.formRoles.permissions">
                    <input  type="radio"
                            id="alarm_gebiete"
                            ng-model="RoleCtrl.formRoles.alarm_gebiete"
                            ng-value="option"/>
                    {{option}} &emsp;
                </label>
                </td>
            </tr>

            <tr>
                <td><label for="alarm_gebietgruppen">alarm_gebietgruppen &emsp;</label></td>
                <td><label ng-repeat="option in RoleCtrl.formRoles.permissions">
                    <input  type="radio"
                            id="alarm_gebietgruppen"
                            ng-model="RoleCtrl.formRoles.alarm_gebietgruppen"
                            ng-value="option"/>
                    {{option}} &emsp;
                </label>
                </td>
            </tr>

            <tr>
                <td><label for="alarm_teilnehmer">alarm_teilnehmer &emsp;</label></td>
                <td><label ng-repeat="option in RoleCtrl.formRoles.permissions">
                    <input  type="radio"
                            id="alarm_teilnehmer"
                            ng-model="RoleCtrl.formRoles.alarm_teilnehmer"
                            ng-value="option"/>
                    {{option}} &emsp;
                </label>
                </td>
            </tr>

            <tr>
                <td><label for="alarm_alarme">alarm_alarme &emsp;</label></td>
                <td><label ng-repeat="option in RoleCtrl.formRoles.permissions">
                    <input  type="radio"
                            id="alarm_alarme"
                            ng-model="RoleCtrl.formRoles.alarm_alarme"
                            ng-value="option"/>
                    {{option}} &emsp;
                </label>
                </td>
            </tr>

            <tr>
                <td><label for="user_admin">user_admin &emsp;</label></td>
                <td><label ng-repeat="option in RoleCtrl.formRoles.permissions">
                    <input  type="radio"
                            id="user_admin"
                            ng-model="RoleCtrl.formRoles.user_admin"
                            ng-value="option"/>
                    {{option}} &emsp;
                </label>
                </td>
            </tr>

            <!--        <tr>
            <td><label for="gebiet_admin">gebiet_admin &emsp;</label></td>
            <td><label ng-repeat="option in RoleCtrl.formRoles.permissions">
                    <input  type="radio"
                            id="gebiet_admin"
                            ng-model="RoleCtrl.formRoles.gebiet_admin"
                            ng-value="option"/>
                    {{option}} &emsp;
                </label>                            
            </td>
        </tr>-->

            <tr>
                <td><label for="gruppen_admin">gruppen_admin &emsp;</label></td>
                <td><label ng-repeat="option in ['N', 'R', 'W', 'C', 'A']">
                    <input  type="radio"
                            id="gruppen_admin"
                            ng-model="RoleCtrl.formRoles.gruppen_admin"
                            ng-value="option"/>
                    {{option}} &emsp;
                </label>
                </td>
            </tr>
        </table>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" type="button" style="float: left;" ng-click="RoleCtrl.modalData.delete()" ng-hide="{{['Edit','All'].indexOf(RoleCtrl.formRoles.typ)>-1 ? false:true}}" ng-disabled="{{['Edit','All'].indexOf(RoleCtrl.formRoles.typ)>-1 ? false:true}}"> 
        Delete Role
    </button>
    <button class="btn btn-default" type="button" ng-click="RoleCtrl.modalData.cancel()">Cancel</button>
    <button class="btn btn-success" type="button" ng-click="RoleCtrl.modalData.submit()" ng-disabled="EingabeAddRolle.$error.required || EingabeAddRolle.$invalid">
        Save & Exit
    </button>
</div>