<div class="container">
    <div>
        <!--<div ng-controller="Roles_Permission_TabCtrl as RolePermCtrl">-->
        <uib-tabset>

            <!--   -->
            <!--   ROLES   -->
            <!--   -->
            <uib-tab heading="{{'nav.roles' | translate}}">
                <h2>
                    {{'nav.roles' | translate}} &emsp; &emsp;
                    <button type="button" class="btn btn-success" ng-click="RolePermCtrl.data.openRoleDialog();">
                        {{'admin.add_role' | translate}}
                    </button> &emsp;
                    <button type="button" class="btn btn-default" ng-click="RolePermCtrl.data.loadRoles();">
                        {{'admin.refresh_table' | translate}}
                    </button>
                </h2>

                <div>
                    <form>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon" style="font-size: 140%;">&#x2315;</div>
                                <input type="text" class="form-control" placeholder="{{'admin.search' | translate}}" ng-model="searchRole">
                                <div align="right" class="input-group-addon" ng-click="searchRole=''">&#10005;</div>
                            </div>
                        </div>
                    </form>
                </div>

                <br>

                <!-- Roles Tabelle -->
                <div style="height:550px; overflow-y:scroll;">
                    <table class="table">
                        <thead>
                            <th>
                                <a ng-click="RolePermCtrl.data.orderRole('id')">
                                    ID
                                    <span class="sortorder" ng-show="RolePermCtrl.data.predicateRole === 'id'">{{RolePermCtrl.data.reverseRole===true ? '&#9650;':'&#9660;'}}</span>
                                </a>
                            </th>
                            <th>
                                <a ng-click="RolePermCtrl.data.orderRole('rollenname')">
                                    {{'admin.name' | translate}}
                                    <span class="sortorder" ng-show="RolePermCtrl.data.predicateRole === 'rollenname'">{{RolePermCtrl.data.reverseRole===true ? '&#9650;':'&#9660;'}}</span>
                                </a>
                            </th>
                            <th>
                                <!-- Bearbeiten -->
                            </th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in RolePermCtrl.roleList | orderBy:RolePermCtrl.data.predicateRole:RolePermCtrl.data.reverseRole | filter:searchRole:strict">
                                <td ng-bind="item.id"></td>
                                <td><span uib-popover="kann einloggen: {{item.kann_einloggen}} &#10; alarm_admin: {{item.alarm_admin}} &#10; alarm_gebiete: {{item.alarm_gebiete}} &#10; alarm_gebietgruppen: {{item.alarm_gebietgruppen}} &#10; alarm_teilnehmer: {{item.alarm_alarme}} &#10; user_admin: {{item.user_admin}} &#10; gruppen_admin: {{item.gruppen_admin}}"
                                        popover-trigger="mouseenter" popover-placement="right">{{item.rollenname}}</span></td>
                                <td>
                                    <button type="button" class="btn btn-primary" ng-click="RolePermCtrl.data.openRoleDialog(item)">
                                        {{'admin.edit_role' | translate}} &#x270E;
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </uib-tab>


            <!--   -->
            <!--   PERMISSION   -->
            <!--   -->


            <uib-tab heading="{{'admin.permissions' | translate}}">

                <h2>
                    {{'admin.permissions' | translate}} &emsp; &emsp; &emsp;
                    <button type="button" class="btn btn-default" ng-click="RolePermCtrl.data.loadPermissions();">
                            {{'admin.refresh_table' | translate}}
                        </button>
                </h2>

                <div>
                    <form>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon" style="font-size: 140%;">&#x2315;</div>
                                <input type="text" class="form-control" placeholder="{{'admin.search' | translate}}" ng-model="searchPermission">
                                <div align="right" class="input-group-addon" ng-click="searchPermission=''">&#10005;</div>
                            </div>
                        </div>
                    </form>
                </div>

                <br>

                <!-- Permissions - Tabelle -->
                <div style="height:550px; overflow-y:scroll;">
                    <table class="table">
                        <thead>
                            <th>
                                <a ng-click="RolePermCtrl.data.orderPermission('benutzername')">
                                        {{'admin.user' | translate}}
                                        <span class="sortorder" ng-show="RolePermCtrl.data.predicatePermission === 'benutzername'">{{RolePermCtrl.data.reversePermission===true ? '&#9650;':'&#9660;'}}</span>
                                    </a>
                            </th>
                            <th>
                                <a ng-click="RolePermCtrl.data.orderPermission('gruppenname')">
                                        {{'admin.group' | translate}}
                                        <span class="sortorder" ng-show="RolePermCtrl.data.predicatePermission === 'gruppenname'">{{RolePermCtrl.data.reversePermission===true ? '&#9650;':'&#9660;'}}</span>
                                    </a>
                            </th>
                            <th>
                                <a ng-click="RolePermCtrl.data.orderPermission('rollenname')">
                                        {{'admin.role' | translate}}
                                        <span class="sortorder" ng-show="RolePermCtrl.data.predicatePermission === 'rollenname'">{{RolePermCtrl.data.reversePermission===true ? '&#9650;':'&#9660;'}}</span>
                                    </a>
                            </th>
                            <th>
                                <!-- Bearbeiten -->
                            </th>
                        </thead>
                        <tboby>
                            <tr ng-repeat="item in RolePermCtrl.permissionList | orderBy:RolePermCtrl.data.predicatePermission:RolePermCtrl.data.reversePermission | filter:searchPermission:strict">
                                <td ng-bind="item.benutzername"></td>
                                <td ng-bind="item.gruppenname"></td>
                                <td ng-bind="item.rollenname"></td>
                                <td>
                                    <button type="button" class="btn btn-primary" ng-click="RolePermCtrl.data.openPermissionDialog(item)">
                                            {{'admin.edit_permission' | translate}} &#x270E;
                                        </button>
                                </td>
                            </tr>
                        </tboby>
                    </table>
                </div>

            </uib-tab>



        </uib-tabset>
    </div>
</div>