<!--/*Modal Teilnehmer*/-->
<!--<script type="text/ng-template" id="TeilnehmerDialog.html">-->
<div class="modal-header">
    <button type="button" class="close" ng-click="TeilnehmerCtrl.modalData.cancel()">&times;</button>
    <h4 class="modal-title">{{TeilnehmerCtrl.modalData.modalTitle}}</h4>
</div>

<div class="modal-body">
    <!--<b><p>{{AlarmDialogCtrl.modalData.modalDescription}}</p></b>-->
    <form name="EingabeTeilnehmer">
        <table class="adminTable" style="margin: auto;">
            <tr>
                <td>
                    <table width="100%">
                        <tr>
                            <td><label for="kunde">{{'alarm.alarmgroup' | translate}}*: &emsp;</label></td>
                            <td><select id="kunde" style="width:20em;" ng-options="option.alarmkunde for option in TeilnehmerCtrl.modalData.AlarmkundenList track by option.id" ng-model="TeilnehmerCtrl.formTeilnehmer.selectedkunde" ng-disabled="{{['Add'].indexOf(TeilnehmerCtrl.formTeilnehmer.typ) > - 1 ? false:true}}"
                                    required>
                                </select></td>
                            <tr>
                                <tr>
                                    <td colspan="2">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td><label for="teilnehmer">{{'alarm.subscriber' | translate}}*: &emsp;</label></td>
                                    <td><input type="text" class="form-admin" placeholder="{{'alarm.subscriber' | translate}}..." id="teilnehmer" ng-model="TeilnehmerCtrl.formTeilnehmer.teilnehmer" ng-disabled="{{['Edit', 'All', 'Add'].indexOf(TeilnehmerCtrl.formTeilnehmer.typ) > - 1 ? false:true}}"
                                            required/>
                                    </td>
                                    <td width="5%"> &nbsp; </td>
                                    <td><label for="nurlog">{{'alarm.log_only' | translate}}: &emsp;</label></td>
                                    <td><input type="checkbox" class="form-admin" id="nurlog" ng-model="TeilnehmerCtrl.formTeilnehmer.nurlog" ng-true-value="'t'" ng-false-value="'f'" ng-disabled="{{['Edit', 'All', 'Add'].indexOf(TeilnehmerCtrl.formTeilnehmer.typ) > - 1 ? false:true}}"
                                        />
                                    </td>
                                </tr>
                                <tr>
                                    <td><label for="blitzprotokoll">{{'alarm.protocol' | translate}}: &emsp;</label></td>
                                    <td><input type="checkbox" class="form-admin" id="blitzprotokoll" ng-model="TeilnehmerCtrl.formTeilnehmer.blitzprotokoll" ng-true-value="'t'" ng-false-value="'f'" ng-disabled="{{['Edit', 'All', 'Add'].indexOf(TeilnehmerCtrl.formTeilnehmer.typ) > - 1 ? false:true}}"
                                        />
                                    </td>
                                    <td width="5%"> &nbsp; </td>
                                    <td><label for="blitzascsv">{{'alarm.ascsv' | translate}}: &emsp;</label></td>
                                    <td><input type="checkbox" class="form-admin" id="blitzascsv" ng-model="TeilnehmerCtrl.formTeilnehmer.blitzascsv" ng-true-value="'t'" ng-false-value="'f'" ng-disabled="{{['Edit', 'All', 'Add'].indexOf(TeilnehmerCtrl.formTeilnehmer.typ) > - 1 ? false:true}}"
                                        />
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">&emsp;
                                        <!--Zwischenraum-->
                                    </td>
                                </tr>
                                <tr>
                                    <td><label for="sms">{{'alarm.sms' | translate}}: &emsp;</label></td>
                                    <td><input type="text" class="form-admin" placeholder="{{'alarm.sms' | translate}}..." id="sms" ng-pattern="/^00\d{6,}$/" ng-model="TeilnehmerCtrl.formTeilnehmer.sms" ng-disabled="{{['Edit', 'All', 'Add'].indexOf(TeilnehmerCtrl.formTeilnehmer.typ) > - 1 ? false:true}}"
                                            ng-required="!(TeilnehmerCtrl.formTeilnehmer.fax || TeilnehmerCtrl.formTeilnehmer.email || TeilnehmerCtrl.formTeilnehmer.tel)" />
                                    </td>
                                    <td width="5%"> &nbsp; </td>
                                    <td><label for="tel">{{'alarm.tel' | translate}}: &emsp;</label></td>
                                    <td><input type="text" class="form-admin" placeholder="{{'alarm.tel' | translate}}..." id="tel" ng-pattern="/^00\d{6,}$/" ng-model="TeilnehmerCtrl.formTeilnehmer.tel" ng-disabled="{{['Edit', 'All', 'Add'].indexOf(TeilnehmerCtrl.formTeilnehmer.typ) > - 1 ? false:true}}"
                                            ng-required="!(TeilnehmerCtrl.formTeilnehmer.fax || TeilnehmerCtrl.formTeilnehmer.sms || TeilnehmerCtrl.formTeilnehmer.email)" />
                                    </td>
                                </tr>
                                <tr>
                                    <td><label for="fax">{{'alarm.fax' | translate}}: &emsp;</label></td>
                                    <td><input type="text" class="form-admin" placeholder="{{'alarm.fax' | translate}}..." id="fax" ng-pattern="/^00\d{6,}$/" ng-model="TeilnehmerCtrl.formTeilnehmer.fax" ng-disabled="{{['Edit', 'All', 'Add'].indexOf(TeilnehmerCtrl.formTeilnehmer.typ) > - 1 ? false:true}}"
                                            ng-required="!(TeilnehmerCtrl.formTeilnehmer.email || TeilnehmerCtrl.formTeilnehmer.sms || TeilnehmerCtrl.formTeilnehmer.tel)" />
                                    </td>
                                    <td width="5%"> &nbsp; </td>
                                    <td><label for="email">{{'admin.email' | translate}}: *&emsp;</label></td>
                                    <td><input type="email" class="form-admin" placeholder="{{'admin.email' | translate}}..." id="email" ng-pattern="/^[A-Z0-9a-z._%+-]+@[A-Z0-9a-z.-]+\.[A-Za-z]{2,}$/" ng-model="TeilnehmerCtrl.formTeilnehmer.email" ng-disabled="{{['Edit', 'All', 'Add'].indexOf(TeilnehmerCtrl.formTeilnehmer.typ) > - 1 ? false:true}}"
                                            ng-required="!(TeilnehmerCtrl.formTeilnehmer.fax || TeilnehmerCtrl.formTeilnehmer.sms || TeilnehmerCtrl.formTeilnehmer.tel)" />
                                        <!--// onkeyup="document.EingabeEditUser.benutzername.value=this.value" -->
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">&emsp;
                                        <!--Zwischenraum-->
                                    </td>
                                </tr>
                                <tr>
                                    <td><label for="anfdatum">{{'admin.begindate' | translate}}*: &emsp;</label></td>
                                    <td><input type="date" class="form-admin" placeholder="YYYY-MM-DD" id="anfdatum" ng-model="TeilnehmerCtrl.formTeilnehmer.anfang" ng-change="TeilnehmerCtrl.modalData.checkDatumVorDatum()" ng-class="{'ng-invalid':TeilnehmerCtrl.formTeilnehmer.datumVor}"
                                            ng-pattern="/^2\d{3}-(0\d|1[0-2])-([0-2]\d|3[01])( ([0-1]\d|2[0-3])(:[0-5]\d){1,2})?$/" ng-disabled="{{TeilnehmerCtrl.formTeilnehmer.typ=='View' ? true:false}}" required/>
                                    </td>
                                    <td width="5%"> &nbsp; </td>
                                    <td><label for="enddatum">{{'admin.enddate' | translate}}*: &emsp;</label></td>
                                    <td><input type="date" class="form-admin" placeholder="YYYY-MM-DD" id="enddatum" ng-model="TeilnehmerCtrl.formTeilnehmer.ende" ng-change="TeilnehmerCtrl.modalData.checkDatumVorDatum()" ng-class="{'ng-invalid':TeilnehmerCtrl.formTeilnehmer.datumVor}"
                                            ng-pattern="/^2\d{3}-(0\d|1[0-2])-([0-2]\d|3[01])( ([0-1]\d|2[0-3])(:[0-5]\d){1,2})?$/" ng-disabled="{{TeilnehmerCtrl.formTeilnehmer.typ=='View' ? true:false}}" required/>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">&emsp;</td>
                                </tr>
                                <tr>
                                    <td><label for="anfzeit">{{'alarm.starttime' | translate}}: &emsp;</label></td>
                                    <td><input type="text" class="form-admin" placeholder="HH:MM:SS" id="anfzeit" ng-model="TeilnehmerCtrl.formTeilnehmer.startzeit" ng-pattern="/^([0-1]\d|2[0-4])(:[0-5]\d){1,2}?$/" ng-disabled="{{TeilnehmerCtrl.formTeilnehmer.typ=='View' ? true:false}}"
                                            required/>
                                    </td>
                                    <td width="5%"> &nbsp; </td>
                                    <td><label for="endzeit">{{'alarm.endtime' | translate}}: &emsp;</label></td>
                                    <td><input type="text" class="form-admin" placeholder="HH:MM:SS" id="endzeit" ng-model="TeilnehmerCtrl.formTeilnehmer.stopzeit" ng-pattern="/^([0-1]\d|2[0-4])(:[0-5]\d){1,2}?$/" ng-disabled="{{TeilnehmerCtrl.formTeilnehmer.typ=='View' ? true:false}}"
                                            required/>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label for="utc">UTC: &emsp;</label></td>
                                    <td><input type="checkbox" class="form-admin" id="utc" ng-model="TeilnehmerCtrl.formTeilnehmer.utc" ng-true-value="'t'" ng-false-value="'f'" ng-disabled="{{['Edit', 'All', 'Add'].indexOf(TeilnehmerCtrl.formTeilnehmer.typ) > - 1 ? false:true}}"
                                        />
                                    </td>
                                </tr>
                    </table>
                </td>
                </tr>
                <tr>
                    <td colspan="4">&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td><label>{{'alarm.days' | translate}}: &emsp;</label></td>
                                <td colspan="3">
                                    <label for="mo">{{'alarm.mo' | translate}}: </label>
                                    <input type="checkbox" class="form-admin" id="mo" ng-model="TeilnehmerCtrl.formTeilnehmer.mo" ng-true-value="'t'" ng-false-value="'f'" ng-disabled="{{['Edit', 'All', 'Add'].indexOf(TeilnehmerCtrl.formTeilnehmer.typ) > - 1 ? false:true}}" />                                    &emsp;
                                    <label for="di">{{'alarm.tue' | translate}}: </label>
                                    <input type="checkbox" class="form-admin" id="di" ng-model="TeilnehmerCtrl.formTeilnehmer.di" ng-true-value="'t'" ng-false-value="'f'" ng-disabled="{{['Edit', 'All', 'Add'].indexOf(TeilnehmerCtrl.formTeilnehmer.typ) > - 1 ? false:true}}" />                                    &emsp;
                                    <label for="mi">{{'alarm.wed' | translate}}: </label>
                                    <input type="checkbox" class="form-admin" id="mi" ng-model="TeilnehmerCtrl.formTeilnehmer.mi" ng-true-value="'t'" ng-false-value="'f'" ng-disabled="{{['Edit', 'All', 'Add'].indexOf(TeilnehmerCtrl.formTeilnehmer.typ) > - 1 ? false:true}}" />                                    &emsp;
                                    <label for="don">{{'alarm.thu' | translate}}: </label>
                                    <input type="checkbox" class="form-admin" id="don" ng-model="TeilnehmerCtrl.formTeilnehmer.don" ng-true-value="'t'" ng-false-value="'f'" ng-disabled="{{['Edit', 'All', 'Add'].indexOf(TeilnehmerCtrl.formTeilnehmer.typ) > - 1 ? false:true}}" />                                    &emsp;
                                    <label for="fr">{{'alarm.fr' | translate}}: </label>
                                    <input type="checkbox" class="form-admin" id="fr" ng-model="TeilnehmerCtrl.formTeilnehmer.fr" ng-true-value="'t'" ng-false-value="'f'" ng-disabled="{{['Edit', 'All', 'Add'].indexOf(TeilnehmerCtrl.formTeilnehmer.typ) > - 1 ? false:true}}" />                                    &emsp;
                                    <label for="sa">{{'alarm.sat' | translate}}: </label>
                                    <input type="checkbox" class="form-admin" id="sa" ng-model="TeilnehmerCtrl.formTeilnehmer.sa" ng-true-value="'t'" ng-false-value="'f'" ng-disabled="{{['Edit', 'All', 'Add'].indexOf(TeilnehmerCtrl.formTeilnehmer.typ) > - 1 ? false:true}}" />                                    &emsp;
                                    <label for="so">{{'alarm.sun' | translate}}: </label>
                                    <input type="checkbox" class="form-admin" id="so" ng-model="TeilnehmerCtrl.formTeilnehmer.so" ng-true-value="'t'" ng-false-value="'f'" ng-disabled="{{['Edit', 'All', 'Add'].indexOf(TeilnehmerCtrl.formTeilnehmer.typ) > - 1 ? false:true}}" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">&nbsp;</td>
                            </tr>
                            <tr>
                                <td><label for="alarmierung">{{'alarm.alarmtext' | translate}}: &emsp;</label></td>
                                <td colspan="3"><textarea cols="75" rows="3" class="form-admin" id="alarmierung" ng-model="TeilnehmerCtrl.formTeilnehmer.alarmierung" ng-disabled="{{['Edit', 'All', 'Add'].indexOf(TeilnehmerCtrl.formTeilnehmer.typ) > - 1 ? false:true}}"
                                    />
                                    </textarea>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="entwarnung">{{'alarm.allcleartext' | translate}}: &emsp;</label></td>
                                <td colspan="3"><textarea cols="75" rows="3" class="form-admin" id="entwarnung" ng-model="TeilnehmerCtrl.formTeilnehmer.entwarnung" ng-disabled="{{['Edit', 'All', 'Add'].indexOf(TeilnehmerCtrl.formTeilnehmer.typ) > - 1 ? false:true}}"
                                    />
                                    </textarea>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">&nbsp;</td>
                            </tr>
                            <tr>
                                <td><label>{{'alarm.abbr' | translate}}:</th>
                                    <td colspan="3">%{{'alarm.subst.type' | translate}} &emsp; %{{'alarm.subst.date' | translate}} &emsp; %{{'alarm.subst.time' | translate}} &emsp; %{{'alarm.subst.lon' | translate}} &emsp; %{{'alarm.subst.lat' | translate}} &emsp; %{{'alarm.subst.area' | translate}} &emsp; %{{'alarm.subst.radius' | translate}} &emsp; %{{'alarm.subst.thresh' | translate}} &emsp; %{{'alarm.subst.count' | translate}} &emsp; %{{'alarm.subst.minutes' | translate}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-danger"
            type="button"
            style="float: left;"
            ng-click="TeilnehmerCtrl.modalData.delete()"
            ng-hide="{{['All'].indexOf(TeilnehmerCtrl.formTeilnehmer.typ) > -1 ? false : true}}"
            ng-disabled="{{['All'].indexOf(TeilnehmerCtrl.formTeilnehmer.typ) > - 1 ? false : true}}" > 
        {{'alarm.delete_subscriber' | translate}}
    </button>

    <button class="btn btn-default" type="button" ng-click="TeilnehmerCtrl.modalData.cancel()">{{'admin.cancel' | translate}}</button>
      
    <button class="btn btn-success" 
            type="button" 
            ng-click="TeilnehmerCtrl.modalData.submit()"
            ng-hide="{{['Edit', 'All', 'Add'].indexOf(TeilnehmerCtrl.formTeilnehmer.typ) > - 1 ? false:true}}"
            ng-disabled="EingabeTeilnehmer.$error.required || EingabeTeilnehmer.$invalid || TeilnehmerCtrl.formTeilnehmer.datumVor || {{['Edit', 'All', 'Add'].indexOf(TeilnehmerCtrl.formTeilnehmer.typ) > - 1 ? false:true}}">
        {{TeilnehmerCtrl.modalData.modalButton}}
    </button>
</div>