<!--/*Modal AEV Rolle*/-->

<!--/*Show Userlog*/-->

<div class="modal-header">
    <button type="button" class="close" ng-click="UserlogCtrl.modalData.cancel()">&times;</button>
    <h4 class="modal-title">{{UserlogCtrl.modalData.modalTitle}}</h4>
</div>
<div class="modal-body">
    <p class="input-group" style="display:flex;justify-content:flex-start;align-items:center">
        <input type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="UserlogCtrl.modalData.start" is-open="UserlogCtrl.popup1.opened" ng-required="true" close-text="Close" style="width:16%" />
        <span class="input-group-btn" style="width:10%">
            <button type="button" class="btn btn-default" ng-click="UserlogCtrl.open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        <input type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="UserlogCtrl.modalData.stop" is-open="UserlogCtrl.popup2.opened" ng-required="true" close-text="Close" style="width:16%" />
        <span class="input-group-btn" style="width:10%">
            <button type="button" class="btn btn-default" ng-click="UserlogCtrl.open2()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        <span class="input-group-btn" style="width:auto">
            <button type="button" class="btn btn-default" ng-click="UserlogCtrl.refresh()">{{'admin.refresh_userlog' | translate}}</i></button>
          </span>
        <span style="padding-left:5%;">
            LS: {{UserlogCtrl.modalData.count}}
        </span>
    </p>

    <b><p>{{modalDescription}}</p></b>

    <div style="height:550px; overflow-y:scroll;">
        <table class="table">
            <thead>
                <th>
                    <a ng-click="UserlogCtrl.modalData.orderLog('id')">
                                    ID
                                    <span class="sortorder" ng-show="UserlogCtrl.modalData.orderBy === 'id'">{{UserlogCtrl.modalData.reverseOrder===false ? '&#9650;':'&#9660;'}}</span>
                                </a>
                </th>
                <th>
                    <a ng-click="UserlogCtrl.modalData.orderLog('user')">
                                    {{'admin.user' | translate}}
                                    <span class="sortorder" ng-show="UserlogCtrl.modalData.orderBy === 'user'">{{UserlogCtrl.modalData.reverseOrder===false ? '&#9650;':'&#9660;'}}</span>
                                </a>
                </th>
                <th>
                    <a ng-click="UserlogCtrl.modalData.orderLog('datum')">
                                    {{'admin.date' | translate}}
                                    <span class="sortorder" ng-show="UserlogCtrl.modalData.orderBy === 'datum'">{{UserlogCtrl.modalData.reverseOrder===false ? '&#9650;':'&#9660;'}}</span>
                                </a>
                </th>
                <th>
                    <a ng-click="UserlogCtrl.modalData.orderLog('request')">
                                    {{'admin.request' | translate}}
                                    <span class="sortorder" ng-show="UserlogCtrl.modalData.orderBy === 'request'">{{UserlogCtrl.modalData.reverseOrder===false ? '&#9650;':'&#9660;'}}</span>
                                </a>
                </th>
                <th>
                    <a ng-click="UserlogCtrl.modalData.orderLog('ip')">
                                    {{'admin.ip' | translate}}
                                    <span class="sortorder" ng-show="UserlogCtrl.modalData.orderBy === 'ip'">{{UserlogCtrl.modalData.reverseOrder===false ? '&#9650;':'&#9660;'}}</span>
                                </a>
                </th>
                <th>
                    <a ng-click="UserlogCtrl.modalData.orderLog('session')">
                                    {{'admin.session' | translate}}
                                    <span class="sortorder" ng-show="UserlogCtrl.modalData.orderBy === 'session'">{{UserlogCtrl.modalData.reverseOrder===false ? '&#9650;':'&#9660;'}}</span>
                                </a>
                </th>
            </thead>
            <tbody>
                <tr ng-repeat="item in UserlogCtrl.modalData.data | orderBy:UserlogCtrl.modalData.orderBy:UserlogCtrl.modalData.reverseOrder | filter:searchRole:strict">
                    <td ng-bind="item.id"></td>
                    <td ng-bind="item.benutzer"></td>
                    <td ng-bind="item.datum.substr(0, 16)"></td>
                    <td ng-bind="item.request"></td>
                    <td ng-bind="item.ip"></td>
                    <td ng-bind="item.session"></td>
                </tr>
            </tbody>
        </table>
    </div>


</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="UserlogCtrl.modalData.cancel()">{{'admin.exit' | translate}}</button>
</div>