


/*--- für Modale ---*/
.modal-lg{
    width:1142px;
}

.modal-sm{
    width:900px;
};



textarea {
    resize: none !important;
}


input{}

.input-admin,
.input-admin[type="date"]{
    line-height: 20px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1px;
}

.input-admin:focus{
    border: 1px solid darkorange;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(255, 140, 0, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(255, 140, 0, .6);
}

.input-admin.ng-invalid,
.input-admin.ng-invalid[type="date"]{
    border: 1px solid crimson;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.input-admin.ng-invalid:focus,
.input-admin.ng-invalid:focus[type="date"]{
    border: 1px solid crimson;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075),  0 0 8px rgba(255, 140, 0, .8);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075),  0 0 8px rgba(255, 140, 0, .8);
}


.subInput {
    /*transition: 0.5s linear all;*/
    background: white;
    /*width: 95%;*/
    /*min-height: 38px;*/
    /*font-size: 14px;*/
}
/*für date-Felder, da in bootstrap bereits vorbelegt*/
.subInput[type="date"] {
    line-height:20px;
}

.subInput.ng-invalid {
    background: tomato;
    color: white;
}
.subInput.ng-invalid[type="date"] {
    background: tomato;
    color: white;
}
.subFiltSubmit{
    /*margin-left:-18%;*/
    /*line-height:150%;*/
}


.form-admin,
.form-admin[type="date"]{
    /*display: block;*/
    /*width: 100%;*/
    /*height: 20px;*/
    padding: 2px 4px;
    line-height: 20px;
    font-size: 14px;
    /*line-height: 1.42857143;*/
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    /*  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
              box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
      -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
              transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;*/
}


.form-admin.ng-invalid,
.form-admin.ng-invalid[type="date"]{
    border: 1px solid crimson;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.form-admin.ng-invalid:focus {
    border: 1px solid crimson;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, .075), 0 0 8px rgba(250, 140, 0, .8);//6px #ce8483;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, .075), 0 0 8px rgba(250, 140, 0, .8);//6px #ce8483;
}



/*.form-admin.ng-invalid{
    border-color: crimson;  2px solid
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;    
}*/

.form-admin:focus,
.form-admin[type="date"]:focus{
    border-color: orange;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(250, 140, 0, .8);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(250, 140, 0, .8);
}
.form-admin::-moz-placeholder {
    color: #999;
    opacity: 1;
}
.form-admin:-ms-input-placeholder {
    color: #999;
}
.form-admin::-webkit-input-placeholder {
    color: #999;
}
.form-admin[disabled],
.form-admin[readonly],
fieldset[disabled] .form-admin {
    cursor: not-allowed;
    background-color: #eee;
    opacity: 1;
}

.has-feedback .form-admin {
    padding-right: 42.5px;
}
.has-feedback .form-admin-feedback {
    position: absolute;
    top: 25px;
    right: 0;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
}
.has-success .form-admin {
    border-color: #3c763d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.has-success .form-admin:focus {
    border-color: #2b542c;
    /*  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
              box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;*/
}
.has-success .form-admin-feedback {
    color: #3c763d;
}
.has-warning .form-admin {
    border-color: #8a6d3b;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.has-warning .form-admin:focus {
    border-color: #66512c;
    /*  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b;
              box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b;*/
}
.has-warning .form-admin-feedback {
    color: #8a6d3b;
}
.has-error .form-admin {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.has-error .form-admin:focus {
    border-color: #843534;
    /*  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
              box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;*/
}
.has-error .form-admin-feedback {
    color: #a94442;
}
.form-admin-static {
    margin-bottom: 0;
}

/*für select-Felder*/
.form-admin-select{

}

/*fuer JA/NEIN Auswahlfelder*/
.form-admin-jn{
    width: 4em;
}

/*fuer gleiche Breite Auswahlfelder*/
.form-admin-EAT{
    width: 7em;
}
.form-admin-AK{
    width: 5em;
}



#minimap {
    width: 480px;
    height: 480px;
    border: 1px solid #ccc;
}

#minimapAdd {
    width: 400px;
    height: 400px;
    border: 1px solid #ccc;
}



/*.form-control.ng-invalid {
    border: 2px solid crimson;    
}

.form-control.ng-pristine {
    color: steelblue;
}*/
/*---*/



th a{
    /*color: #D8FD02;*/
    color:black !important;
};
