/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07.08.2014, 11:34:59
    Author     : adstbj0
*/
@import "map.css";
@import "admin.css";

body{
    overflow:hidden;
}

#logo{
    position:absolute;
    top:0px;
    left:44px;
    height:72px;
    width:172px;
    background: url('/content/siemens-logo.gif') no-repeat;
}

.header {
    width: 100%;
    height: 80px;
    background-color: #AFB4BE;

}
.header h2 {
    text-align: center;
    padding-top: 20px;
    margin-top:0px;
    color:#fff;
}    
.footer {
    border-top: 1px solid #999;
    position:absolute;
    bottom:0px;
    width:100%;
    font-family: Arial,sans-serif;
    font-size: 12px;
}
.footer ul {
    list-style:none;
    padding-left:25px;
}
.footer ul li {
    float:left;
    padding: 0 5px 0 6px;
    color:#999;
    background: url("images/divider-footer.gif") no-repeat scroll left center rgba(0, 0, 0, 0)
}
.footer ul li.first {
    background-image: none;    
    padding: 0 5px 0 0;
}
.footer .relevant, .footer .relevant a {
    color:#333;
    cursor:pointer;
}
.footer .relevant a:hover {
    color:#900;
}
.footer ul li a {
    color:#999;
    text-decoration:none;
    cursor:pointer;
}

.collapsable {
    display: none;
    overflow: hidden;
    white-space: nowrap;
    width: 0; 
}
.collapsable.showMe {
    display: inline-block;
    width: 150px;
}
.collapsable.showMeLayer {
    display: inline-block;
    width: 180px;
}
.collapsable.showMeWide {
    width: 380px;
    display: inline-block;
}
#navleiste {
    float:left;
    background-color:lightgrey;
    height:100%;
}
#layerleiste {
    float:right;
    background-color:lightgrey;
    height:100%;
}
#layerleiste accordion{
    text-align:left;
}
#mapleiste {
    float:right;
    background-color:lightgrey;
}


.menu-btn {
    font-weight: bolder;
    margin-top:20px;
}
.panel-title {
    font-weight: bold;
}
.logout-btn {
    background-color: lightcoral;
}
