.half-width {
    width: 50%;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.container {
    width: auto;
    padding: 0;
}

.navbar-hidden {
    display: none;
    visibility: hidden;
}

.navbar .navbar-header {
    padding: 0 0 0 20px;
}

.navbar-inverse.transparent {
    background: rgba(0, 0, 0, .8);
}

.navbar-inverse.transparent .navbar-header a,
.navbar-inverse.transparent .navbar-collapse a {
    color: #fff;
    text-shadow: none;
}

.navbar-inverse.transparent .navbar-collapse ul {
    padding: 0 10px;
}

.navbar-inverse.transparent .navbar-collapse a:hover {
    background: rgba(0, 0, 0, .8);
}

.theme {
    margin: 0 0 0 15%;
}

.theme .loading-spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 32px;
    height: 32px;
}

.theme .loading-spinner img {
    position: relative;
    left: -16px;
    top: -16px;
    width: 32px;
    height: 32px;
}

.bg-layer {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.bg-layer .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1001;
    background: rgba(0, 0, 0, .2);
}

.login-box-wrapper {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0;
}

.login-box-wrapper .login-box {
    float: none;
    position: static;
    padding: 10px;
    margin: -135px auto 0;
    width: 100%;
    max-width: 600px;
    border-radius: 5px;
    background: rgba(0, 0, 0, .6);
}

.login-form-wrapper,
.reset-form-wrapper {
    height: 310px;
    padding: 18px 40px;
    background: #f7f7f7;
}

.login-form-header {
    height: 75px;
}

.login-form-header h1 {
    padding: 0 0 5px;
    margin: 0;
    font-size: 30px;
}

.login-form-header p {
    font-size: 12px;
    padding: 0 15px;
}

#login-form .form-row {
    padding: 5px 0 5px;
}

#login-form .input-group-addon {
    background: transparent;
}

#login-form .form-row-content.last {
    padding: 25px 0 0;
}

#changePW-form .form-row {
    padding: 5px 0 5px;
}

#changePW-form .input-group-addon {
    background: transparent;
}

#changePW-form .form-row-content.last {
    padding: 10px 0 0;
}

#home {
    position: absolute;
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
}

.mh-content {
    position: absolute;
    min-height: 100%;
}

#home #map-wrapper {
    margin: 0;
    padding: 0;
    left: 0;
}

#home #sidebar-wrapper {
    background: rgba(0, 0, 0, .6);
    right: 0;
    padding-right: 0;
    margin-right: 0;
    overflow: hidden;
}

#home #sidebar-container {
    background: #fff;
    min-width: 100%;
    padding-top: 50px;
}

.open-layer-map-container {
    position: absolute;
    width: 100%;
    height: 100%;
}


/*
#home.container {
}
#home .sidebar-container {
	position:absolute;
	top: 0;
	bottom: 0;
	right: 0;
	padding-right: 0;
}
#home .sidebar-wrapper {
	position: relative;
	min-height: 100%;
	background: #fff;
	padding: 60px 10px 0;
}

#home .map-container {
	padding: 0;
	position: absolute;
	height: 100%;
	top: 0;
	bottom: 0;
}

#home .map-container .map {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
*/


/* Bootstrap overrides */

.btn-default {
    text-shadow: none !important;
}

button[disabled] {
    color: grey !important;
}

#resetPW {
    height: 0;
    left: 0;
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
}

#resetPW * {
    margin: 0 auto;
}

#resetPW-box {
    display: none;
}

.reset-form-wrapper {
    height: 250px;
}

.inputError {
    border-style: solid;
    border-color: #d40249;
    box-shadow: 0 0 10px #d40249;
}


/*@media (max-width: @screen-sm-max) {
	.col-sm-0, .col-xs-0 {
		width: 0;
		display: hidden;
		overflow: hidden;
		padding: 0;
		margin: 0;
		visibility: hidden;
	}
}*/