/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/


/* 
    Created on : 07.08.2014, 11:34:59
    Author     : adstbj0
*/

#loaderGif {
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 25px;
    padding-top: 20px;
    width: 250px;
    height: 150px;
    font-size: 20px;
    text-align: center;
    z-index: 1000;
    visibility: hidden;
    background: rgba(200, 200, 200, 0.9) url('../images/loader.gif') no-repeat center 60%;
}

#animGif {
    position: absolute;
    left: 15px;
    bottom: 20%;
    border-radius: 25px;
    padding-top: 20px;
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    z-index: 1000;
    display: none;
    background: url('../images/clock.gif') no-repeat center 0%;
    background-size: contain;
}

#statistikleiste {
    float: right;
    background-color: lightgrey;
    height: 100%;
    border-radius: 10px 0 0 10px;
}

#map {
    left: 0%;
    margin-top: 10px;
    padding-bottom: 40px;
    position: absolute;
    height: 86%;
    width: 100%;
    z-index: -1;
}

.olScontrolScale {
    background: white !important;
    bottom: 2em !important;
    padding: 2px !important;
}

#CSMenu {
    position: absolute;
    margin-top: 0px;
    left: 0px;
}

#LayerMenu {
    position: absolute;
    right: 0px;
}

#layerleiste {
    overflow-y: auto !important;
    max-height: 75vh;
}

#StatistikWindow {
    position: absolute;
    top: 50%;
    right: 0px;
}


/* MEASUREMENT TOOL */

.Panel {
    display: block;
    width: 30px;
    height: 30px;
    margin: 5px;
    bottom: 50px;
    left: 10px;
}

#distance {
    font-size: 15px;
}

#distance_contentDiv {
    white-space: nowrap;
}

.olControlLayerSwitcher {
    width: 15em !important;
    top: 150px !important;
}

.olControlLayerSwitcher .layersDiv {
    border-radius: 8px 0 0 8px;
    opacity: 0.6;
}

.olControlAttribution,
.olControlMousePosition,
.olControlScale {
    background: #FEFEFE;
    opacity: 0.7;
    font-weight: bold;
}

.olControlAttribution {
    padding: 0 15px !important;
    bottom: 0 !important;
    left: 0;
    right: unset !important;
    z-index: 1200 !important;
    opacity: 1;
}

#statisticDiv {
    background-color: #666666;
    color: white;
    width: 430px;
    height: 210px;
}

.olControlKlappMenu {
    background-color: transparent;
    color: white;
    position: absolute;
    right: 0;
    top: 300px;
    font-weight: bold;
    width: 355px;
}

.olControlKlappMenu div span {
    background-color: #666666;
}

.olControlKlappMenu .inhaltDiv {
    width: 100%;
    height: 100%;
}

.olControlKlappMenu .maximizeDiv,
.olControlKlappMenu .minimizeDiv {
    top: 5px;
    right: 0;
    cursor: pointer;
}


/*  Statistic Chart   */

.axis path,
.axis line {
    fill: none;
    stroke: #ffffff;
    shape-rendering: crispEdges;
}

.axis text {
    font: 10px sans-serif;
    fill: #ffffff;
}

.line {
    fill: none;
    stroke: #ffffff;
    stroke-width: 1.5px;
}

.line2 {
    fill: none;
    stroke: #0000AA;
    stroke-dasharray: 3, 3;
    stroke-width: 1.5px;
}

.slider {
    bottom: 60px;
    right: 40px;
    position: absolute;
    z-index: 1010;
    width: 300px !important;
}

.slider-handle.custom::before {
    line-height: 20px;
    font-size: 25px;
    font-weight: bolder;
    content: '\21AF';
    /*unicode flash character*/
    /* content: '\231A'; /*unicode clock character*/
    color: #FF0000;
}

.slider-track {
    background-image: linear-gradient(to bottom, #9999ff 0px, #0000ff 100%)
}

div#archivdiv {
    position: absolute;
    width: auto;
    right: 20px;
    bottom: 40px;
    z-index: 1004;
    text-align: left;
    vertical-align: middle;
    background-color: #c0c0c0;
    padding: 10px;
    font-size: 15pt;
    -moz-border-radius: 10px;
    /* Firefox */
    -webkit-border-radius: 10px;
    /* Safari, Chrome */
    -khtml-border-radius: 10px;
    /* Konqueror */
    border-radius: 10px;
    /* CSS3 */
    display: none;
}

div#archivdiv input {
    width: 250px;
    height: 30px;
}

div#archivdiv input.ng-invalid {
    background: red !important;
}

div#archivdiv button {
    margin-top: 5px;
    width: 50%;
}

div#archivdiv button[disabled] {
    color: #a0a0a0;
    cursor: not-allowed;
}

.Panel button {
    border: none;
    width: 35px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
}

.Panel button:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.Panel .MeasureItemActive {
    left: 100px;
    background-image: url("images/button_measure_on.png");
}

.Panel .MeasureItemInactive {
    left: 100px;
    background-image: url("images/button_measure.png");
}

.Panel .ArchiveItemActive {
    left: 200px;
    background-image: url("images/button_archiv_on.png");
}

.Panel .ArchiveItemInactive {
    left: 200px;
    background-image: url("images/button_archiv.png");
}

.Panel .SoundItemActive {
    left: 250px;
    background-image: url("images/button_sound_on.png");
}

.Panel .SoundItemInactive {
    left: 250px;
    background-image: url("images/button_sound.png");
}

.Panel .AnimationItemActive {
    left: 150px;
    background-image: url("images/button_replay_on.png");
}

.Panel .AnimationItemInactive {
    left: 150px;
    background-image: url("images/button_replay.png");
}

.Panel .HomeItemActive {
    left: 50px;
    background-image: url("images/button_home.png");
}

.Panel .HomeItemInactive {
    left: 50px;
    background-image: url("images/button_home.png");
}

.Panel .LogoutItemActive {
    left: 0px;
    background-image: url("images/button_logout.png");
}

.Panel .LogoutItemInactive {
    left: 0px;
    background-image: url("images/button_logout.png");
}

.baseLbl {
    display: none;
}

.baseLayersDiv {
    margin: -10px 15px 10px;
}

#heartbeat {
    position: fixed;
    bottom: 20px;
    right: 20px;
}