/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/


/* 
    Created on : 03.03.2016, 10:10:39
    Author     : david
*/


/*********************PHONE***************************/


/* small display */

@media only screen and (max-device-width: 370px) {
    #ArchiveButton {
        left: 0.5em;
        bottom: 8em;
    }
    #AnimationButton {
        left: 3.5em;
        bottom: 8em;
    }
    .center {
        float: left;
        margin-top: 5px;
    }
}


/* normal display */

@media only screen and (min-device-width: 371px) and (max-device-width: 760px) {
    #AnimationButton {
        left: 9.5em;
    }
    #ArchiveButton {
        left: 12.5em;
    }
}

@media only screen and (max-device-width: 760px) {
    div#archivdiv {
        z-index: 1000;
        left: 0%;
        background-color: lightgrey;
        width: 100%;
        top: 10%;
        height: auto;
        bottom: auto;
    }
    .menu-btn {
        height: 3.125em;
        width: 3.125em;
        margin-top: 0px;
    }
    /**Fix layerswitcher*/
    #layerleiste {
        overflow-y: scroll !important;
        height: 100%;
        width: 85%;
        top: 0%;
    }
    #LayerMenu {
        height: 100%;
    }
    /*********************/
    #loaderGif {
        left: 15%;
        top: 35%;
    }
    /***BOTTOM ELEMENTS**/
    .slider {
        bottom: 12%;
        position: absolute;
        right: 15px;
        width: 50% !important;
    }
    .olControlScale {
        bottom: 3%;
        right: 1px;
    }
    .ctrlBtn {
        height: 2.5em !important;
        width: 2.5em !important;
    }
    #LogoutButton {
        left: 0.5em;
    }
    #MeasureButton {
        left: 6.5em;
    }
    #HomeButton {
        left: 3.5em;
    }
    /***************************/
    /**Statistik*/
    #StatistikWindow {
        top: auto;
        bottom: 20%;
    }
    #statisticDiv {
        width: 100%;
        height: 100%;
    }
    #statisticDiv div {
        text-align: center;
    }
    #statistikleiste {
        width: 100%
    }
    .header h2 {
        font-size: 1.275em;
    }
    .header #logo {
        height: 30px;
        width: 130px;
    }
    #info_contentDiv {
        font-size: 0.6em;
    }
    #infoListContent {
        font-size: 2.3vw;
    }
    #distance_contentDiv {
        font-size: 0.6em;
    }
    .slider-handle.custom::before {
        font-size: 3.5em;
        font-weight: bolder;
        content: '\25CF';
        /* unicode circle character*/
        color: #000000;
    }
    /************************/
}


/**********************************************/


/**********TABLET************************************/

@media only screen and (min-width:768px) {
    div#archivdiv {
        z-index: 1000;
        left: 0%;
        top: auto;
        right: auto;
        bottom: 20%;
        width: auto;
    }
    #loaderGif {
        left: 50%;
        top: 50%;
    }
    .menu-btn {
        height: 4.125em;
        width: 4.125em;
        margin-top: 0px;
    }
    /**Layer Menu*/
    #layerleiste {
        overflow-y: scroll !important;
        height: 100%;
        width: auto;
    }
    .accordion-toggle input[type="checkbox"],
    #layerswitcher input[type="radio"] {
        transform: scale(1.5);
    }
    .accordion-toggle span,
    #layerswitcher label {
        font-size: 14pt;
        margin-bottom: 0;
        padding-left: 2px;
    }
    /***********************/
    /****BOTTOM CONTROL BUTTONS***********/
    .ctrlBtn {
        height: 4em !important;
        width: 4em !important;
    }
    #LogoutButton {
        left: 1em;
    }
    #MeasureButton {
        left: 11em;
    }
    #ArchiveButton {
        left: 16em;
    }
    #AnimationButton {
        left: 21em;
    }
    #HomeButton {
        left: 6em;
    }
    /***************************************/
    .slider {
        width: 25% !important;
    }
    .header h2 {
        font-size: 1.875em;
    }
    .header #logo {
        height: 50px;
        width: 150px;
    }
    #distance_contentDiv {
        font-size: 0.95em;
    }
    /*Normal-popup*/
    #info_contentDiv {
        font-size: 0.95em;
    }
    /*popuplist*/
    #infoListContent {
        font-size: 2.5vw;
        font-size: 1.5em;
    }
    .slider-handle.custom::before {
        font-size: 4.5em;
        line-height: 30px;
        font-weight: bolder;
        content: '\25CF';
        /* unicode circle character*/
        color: #000000;
    }
}


/****************************************************************/

* {
    margin: 0;
    padding: 0;
}

.Panel {
    display: none;
}

.olPopupCloseBox {
    background-size: 100% 100%;
}

#info_close {
    height: 2.125em !important;
    width: 2.125em !important;
}

#distance_close {
    height: 1.125em !important;
    width: 1.125em !important;
}

.olPopup,
#distance {
    overflow: hidden !important;
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
    /* prevent overscroll bounce*/
    -webkit-overflow-scrolling: touch;
    /* iOS velocity scrolling */
}

.footer {
    height: 5%;
    left: 0%;
    width: 100%;
    background-color: #AFB4BE;
}

.header {
    height: 10%;
    width: 100%;
}

.header h2 {
    padding-top: 0;
    margin: 0;
    position: relative;
    top: 25%;
}

.header #logo {
    background-size: 50% 100%;
    left: 0%;
    position: fixed;
    top: 0%;
}


/*.header img {
    background-size: 50% 100%;
    left: 0%;
    position: fixed;
    top:0%;
}*/

#map {
    height: 85%;
    width: 100%;
}

::-webkit-scrollbar {
    width: 12px !important;
}


/* Track */

.scrollBar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
    -webkit-border-radius: 10px !important;
    border-radius: 10px !important;
}


/* Handle */

.scrollBar::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px !important;
    border-radius: 10px !important;
    background: #41617D !important;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5) !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5) !important;
}

.scrollBar::-webkit-scrollbar-thumb:window-inactive {
    background: #41617D !important;
}

#infoListContainer {
    background-color: #ffffff;
    z-index: 1000;
    width: 90%;
    height: 85%;
    position: absolute;
    margin: 0;
    padding: 10px;
    left: 5%;
    top: 10%;
    border-radius: 30px
}

#infoListContent {
    position: relative;
    top: 5%;
    height: 90%;
    overflow-y: scroll;
}

#infoListHead {
    height: 10%;
}

#infoListCloseBtn {
    background: rgba(0, 0, 0, 0) url("../js/OpenLayers-2.12/theme/default/img/close.gif") no-repeat scroll 0 0;
    cursor: pointer;
    height: 2.125em !important;
    width: 2.125em !important;
    float: right;
    background-size: 100% 100%;
    position: relative;
}

#showMoreBtn {
    margin-top: 5%;
    padding: 5px;
    -moz-box-shadow: inset 0px 1px 3px 0px #91b8b3;
    -webkit-box-shadow: inset 0px 1px 3px 0px #91b8b3;
    box-shadow: inset 0px 1px 3px 0px #91b8b3;
    background-color: #E8E8E8;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #566963;
    display: inline-block;
    text-decoration: none;
}

.ctrlBtn {
    bottom: 10%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
}

.ArchivBtnActive {
    background-image: url("images/button_archiv_on.png");
}

.ArchivBtnInActive {
    background-image: url("images/button_archiv.png");
}

.MeasureBtnActive {
    background-image: url("images/button_measure_on.png");
}

.MeasureBtnInActive {
    background-image: url("images/button_measure.png");
}

.AnimationBtnActive {
    background-image: url("images/button_replay_on.png");
}

.AnimationBtnInActive {
    background-image: url("images/button_replay.png");
}

.HomeItemActive {
    background-image: url("images/button_home.png");
}

.HomeItemInactive {
    background-image: url("images/button_home.png");
}

.LogoutItemActive {
    left: 0px;
    background-image: url("images/button_logout.png");
}

.LogoutItemInactive {
    left: 0px;
    background-image: url("images/button_logout.png");
}

div#archivdiv input {
    z-index: 1000;
}

#ex1Slider {
    z-index: 50 !important;
}