 <script type="text/ng-template" id="group.html">
    <div class="panel {{panelClass || 'panel-default'}}">
      <div class="panel-heading">
        <h4 class="panel-title" style="">
          <a tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading"><span uib-accordion-header>
          {{heading}}
          </span></a>
        </h4>
      </div>
      <div class="panel-collapse collapse" uib-collapse="!isOpen">
        <div class="panel-body" style="text-align: left" ng-transclude></div>
      </div>
    </div>
  </script>

    <button id="layerBtn" class="btn btn-default menu-btn" ng-click="open = !open;initLayerSwitcher();layerSwitcherOptMobile(open);">
        <span ng-show="open == 0 || open == null"><</span> 
        <span ng-show="open > 0">></span>
    </button> 
    <div ng-class="{ showMeLayer: open }" class="collapsable scrollBar" id="layerleiste">
        <uib-accordion close-others="false">
            <uib-accordion-group ng-repeat="layer in content.layer" class="layer" is-disabled=(!layer.filter) template-url="group.html">
                <uib-accordion-heading>
                    <input type="checkbox" layer-tri-checkbox child-list="layer.filter" property="isSelected" id={{$index}}
                           ng-model="layer.allSelected" ng-click="$event.stopPropagation()"> 
                {{layer.name}}
                </uib-accordion-heading>
                <div ng-if="layer.filter" ng-repeat="item in layer.filter" class="child-list">
                    <input type="checkbox" ng-model="item.isSelected"> 
                        {{item.name}}
                </div>
            </uib-accordion-group>
        </uib-accordion> 
        <div id="layerswitcher"></div>
    </div>
