<button class="btn btn-default menu-btn" ng-click="open = !open">
        <span ng-show="open == 0 || open == null">></span> 
        <span ng-show="open > 0"><</span>
    </button>
<div ng-class="{ showMe: open }" class="collapsable" id="navleiste">
    <uib-accordion close-others="false" align="center">
        <uib-accordion-group heading="{{menu.header | translate}}" ng-repeat="menu in content.menu">
            <div ng-repeat="item in menu.items">
                <a href="{{item.href | translate}}" ng-if="!(item.popup || item.popupLarge)">
                        {{item.title | translate}}
                    </a>
                <a href="{{item.href | translate }}" ng-if="item.popup" onclick="window.open(this.href,'_blank','toolbar=0,location=0,menubar=0,scrollbars=0,resizable=1,height=258,width=412,centerscreen=1,chrome=1');return false;">
                        {{item.title | translate}}
                    </a>
                <a href="{{item.href | translate}}" ng-if="item.popupLarge" onclick="window.open(this.href,'_blank','toolbar=0,location=0,menubar=0,scrollbars=0,resizable=1,height=570,width=658,centerscreen=1,chrome=1');return false;">
                        {{item.title | translate}}
                    </a>
            </div>
        </uib-accordion-group>
        <div class="panel panel-default panel-heading">
            <h4 class="panel-title"><a href="../#/user/logout" translate="nav.logout">Logout</a></h4>
        </div>
    </uib-accordion>
</div>