    <button class="btn btn-default menu-btn" ng-click="open2 = !open2;statistikOptMobile(open2);drawStatistic('#statisticDiv', map.filter.time.zeit1, map.filter.time.zeit7);">
        <span ng-show="open2 == 0 || open2 == null"><</span> 
        <span ng-show="open2 > 0">></span>
    </button> 
    <div ng-class="{ showMeWide: open2 }" class="collapsable" id="statistikleiste">
        <div id="statisticDiv"></div>
    </div>
     